.my-tours {
  .filters-wrapper {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
    margin-top: 40px;

    .filter {
      width: 180px;
      margin: 0 20px;

      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #A4A4A4;

      text-align: center;

      cursor: pointer;

      user-select: none;

      &.active {
        text-decoration-line: underline;
        color: #25B29D;
      }
    }
  }
}

.hosted-tours-wrapper {
  display: flex;
  justify-content: space-between;

  margin-left: -12px;
  margin-right: -12px;

  flex-wrap: wrap;

  border-radius: 4px;

  .hosted-tour {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;

    margin-bottom: 40px;

    width: 600px;

    .tour-status {
      writing-mode: vertical-rl;
      text-align: center;
      padding: 10px;
      width: 40px;

      span {
        color: #fff;
        transform: rotate(180deg);
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.5px;
      }
    }

    .content {
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 24px;
      flex: 1;
    }

    .header-content {
      display: flex;
      align-items: flex-start;

      .img-wrapper {
        background: #D8D8D8;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 24px;

        height: 230px;
        overflow: hidden;
        max-width: 185px;

        img {
          //height: 100%;
          width: 100%;
          max-width: initial;
        }
      }

      .text-wrapper {
        .info-rows-wrapper {
          .info-row {
            display: flex;
            align-items: center;
            padding-bottom: 16px;

            img {
              width: 24px;
            }

            &:last-child {
              padding-bottom: 0;
            }

            img {
              margin-right: 12px;
            }
          }
        }
      }
    }

    .status-content {
      .status-item {
        .status {
          border-radius: 22px;
          display: inline-block;
          width: 180px;
          line-height: 24px;
          height: 24px;
          text-align: center;
          color: #fff;
          font-size: 14px;
        }

        &.is-normal {
          .status {
            background: #FDA146;
          }
        }

        &.is-bad {
          .status {
            background: #FC4A1A;
          }
        }
      }
    }

    .price {
      line-height: 38px !important;

      .price-number {
        font-size: 24px;
        font-weight: 700;
        color: #FC4A1A;
      }
    }

    &.in-progress {
      background: #FDA146;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    }

    &.in-done {
      background: #25B29D;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    }

    &.in-blocked {
      background: #FC4A1A;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    }
  }

  .edit-link {
    color: #FC4A1A;
    width: 200px;
  }
}