.instruction-container {
  .progress-bar {
    height: 6px;
    background: #EBF2F6;
    position: relative;

    .bar {
      position: absolute;

      left: 0;
      top: 0;
      height: 100%;

      background-color: #25B29D;
    }

    &, .bar {
      border-radius: 5px;
    }
  }

  .instruction-step {
    display: none;
    flex-wrap: wrap;

    &.active {
      display: flex;
    }

    .content-wrapper {
      flex: 1;
    }

    .img-wrapper {
      flex: 0 0 600px;
      width: 600px;
      max-width: 600px;
      margin-left: 46px;
    }
  }

  .experience-box-wrapper {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    margin-top: 40px;

    .experience-box {
      flex: 50%;
      padding-right: 47px;
      margin-bottom: 46px;
      position: relative;
      line-height: 22px;

      &::before {
        content: ' ';
        display: block;
        width: 44px;
        height: 44px;
        position: absolute;
        left: -16px;
        top: -22px;
        background: rgba(37, 178, 157, 0.2);
        border-radius: 50%;
      }

      &:nth-child(2n) {
        padding-right: 0;
      }
    }
  }


  .step-box-wrapper {
    display: flex;

    .step-box {
      position: relative;
      padding-top: 40px;
      padding-right: 46px;

      flex: 0 0 33.33%;

      &:last-child {
        padding-right: 0;
      }

      &::before {
        content: attr(data-number);
        display: block;

        position: absolute;
        top: 0;
        left: -18px;

        font-weight: 600;
        font-size: 64px;
        line-height: 87px;
        color: rgba(37, 178, 157, 0.2);
      }

      &.is-done {
        &::before {
          content: ' ';
          top: 23px;
          width: 64px;
          height: 46px;
          background-image: url('~@core-img/icons/done-green-light.svg');
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        &::after {
          content: ' ';
          display: block;

          position: absolute;
          top: -5px;
          left: -50px;

          width: 100%;

          background-repeat: no-repeat;
          background-position: top left;
        }
      }

      &:nth-child(2) {
        margin-top: 60px;

        &::after {
          background-image: url('~@core-img/instruction/arrows/step2-arrow.svg');
          height: 43px;
        }
      }

      &:nth-child(3) {
        margin-top: 120px;

        &::after {
          background-image: url('~@core-img/instruction/arrows/step3-arrow.svg');
          height: 28px;
        }
      }
    }
  }
}