.payments-container {

  .balance-wrapper {
    flex: 1;
    margin-left: 25px;

    .balance-box {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background: #25B29D;
      box-shadow: 0px 1px 8px rgba(9, 35, 47, 0.20012);
      border-radius: 4px;
    }

    .open-moda-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: -21px;

      .btn {
        padding-top: 13px;
        padding-bottom: 13px;
      }
    }
  }
}

.payments-wrapper {
  width: 350px;
  margin-right: 16px;

  .payment-item {
    background: #EBF2F6;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 24px;

    .payment-title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
      font-weight: 600;
    }

    .payment-item-data {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 19px;

      .payment-item-data-value {
        font-weight: 600;
      }
    }

    .payment-amount {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #243D44;
    }
  }
}