.steps-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 120px !important;

  .steps-content {
    width: 1000px;
    flex: 0 0 1000px;
    max-width: calc(100% - 200px);
    padding-right: 40px;
  }

  .steps-sidebar {
    width: 200px;
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;

    position: sticky;
    top: 120px;

    .sidebar-point {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 16px;

      color: #A4A4A4;
      font-weight: 600;

      cursor: pointer;

      &::before {
        content: ' ';
        display: block;
        width: 24px;
        min-width: 24px;
        max-width: 24px;
        flex: 0 0 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #A4A4A4;

        margin-right: 14px;
      }

      &.active {
        color: #484848;

        &::before {
          border-color: #25B29D;
        }
      }

      &.done {
        &::before {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Combined Shape'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.5554 11.6449C5.78757 11.8817 6.09223 12 6.39658 12C6.70106 12 7.00559 11.8815 7.23793 11.6449L15.6514 3.07006C16.1162 2.59664 16.1162 1.82874 15.6514 1.35514C15.187 0.881547 14.4335 0.88169 13.9688 1.35514L6.39658 9.07236L3.03119 5.64249C2.5665 5.16889 1.81321 5.16889 1.34852 5.64249C0.883827 6.11608 0.883827 6.88381 1.34852 7.3574L5.5554 11.6449Z' fill='%2325B29D'/%3E%3Cpath d='M5.5554 11.6449L6.26945 10.9448L6.26918 10.9445L5.5554 11.6449ZM7.23793 11.6449L7.95151 12.3455L7.95173 12.3452L7.23793 11.6449ZM15.6514 3.07006L14.9378 2.36945L14.9376 2.3697L15.6514 3.07006ZM15.6514 1.35514L14.9374 2.05527L14.9377 2.05562L15.6514 1.35514ZM13.9688 1.35514L13.2552 0.654671L13.2551 0.654772L13.9688 1.35514ZM6.39658 9.07236L5.68279 9.77272L6.39657 10.5002L7.11036 9.77273L6.39658 9.07236ZM3.03119 5.64249L3.74498 4.94212L3.74498 4.94212L3.03119 5.64249ZM1.34852 7.3574L2.0623 6.65704H2.0623L1.34852 7.3574ZM6.39658 11C6.35238 11 6.30768 10.9838 6.26945 10.9448L4.84135 12.345C5.26745 12.7796 5.83209 13 6.39658 13V11ZM6.52436 10.9443C6.48548 10.9839 6.44051 11 6.39658 11V13C6.96161 13 7.52569 12.7792 7.95151 12.3455L6.52436 10.9443ZM14.9376 2.3697L6.52414 10.9445L7.95173 12.3452L16.3652 3.77042L14.9376 2.3697ZM14.9377 2.05562C15.0208 2.14033 15.0207 2.2851 14.9378 2.36945L16.3649 3.77067C17.2118 2.90819 17.2116 1.51715 16.3651 0.654671L14.9377 2.05562ZM14.6825 2.05562C14.7555 1.98126 14.8653 1.98178 14.9374 2.05527L16.3654 0.655022C15.5087 -0.218689 14.1116 -0.217875 13.2552 0.654671L14.6825 2.05562ZM7.11036 9.77273L14.6826 2.05552L13.2551 0.654772L5.6828 8.37198L7.11036 9.77273ZM2.31741 6.34285L5.68279 9.77272L7.11036 8.37199L3.74498 4.94212L2.31741 6.34285ZM2.0623 6.34285C2.13499 6.26877 2.24472 6.26877 2.31741 6.34285L3.74498 4.94212C2.88828 4.06901 1.49143 4.06901 0.634735 4.94212L2.0623 6.34285ZM2.0623 6.65704C1.97923 6.57237 1.97923 6.42752 2.0623 6.34285L0.634735 4.94212C-0.211578 5.80465 -0.211578 7.19524 0.634735 8.05777L2.0623 6.65704ZM6.26918 10.9445L2.0623 6.65704L0.634735 8.05777L4.84161 12.3453L6.26918 10.9445Z' fill='%2325B29D'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }

  .step-wrapper {
    display: none;
    margin-bottom: 60px;

    &.active, &.prev {
      display: block;
    }

    &.prev {
      .submit-step {
        display: none;
      }
    }
  }

  .submit-step-wrapper {
    text-align: left;

    button {
      width: 280px;
    }
  }
}