.verification-container {
  display: flex;

  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 120px !important;
  margin-bottom: 80px !important;

  box-shadow: 0px 1px 7px rgba(9, 35, 47, 0.20012);
  border: 1px solid #E0E0E0;

  border-radius: 10px;
  overflow: hidden;

  .sidebar-menu {
    max-width: 275px;
    flex: 0 0 275px;

    background-color: #EBF2F6;
    padding: 20px 0;

    .menu-box {
      padding: 20px 40px;
      cursor: pointer;

      opacity: 0.5;
      transition: all .25s ease;

      .img-wrapper {
        margin-bottom: 12px;
        position: relative;

        &::after {
          content: ' ';
          display: block;

          position: absolute;
          top: -15px;
          left: -15px;

          width: 44px;
          height: 44px;
          border-radius: 50%;
          overflow: hidden;
          background: rgba(37, 178, 157, 0.2);

          opacity: 0;
          transition: all .25s ease;
        }
      }

      p {
        padding-right: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #484848;
      }

      &.active, &:hover {
        opacity: 1;

        .img-wrapper {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .content-wrapper {
    flex: 1;
    padding: 40px 45px;

    .step-box {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}