$options-padding-x: 15px;
$options-padding-y: 10px;

@import '~vue-select/src/scss/global/_variables.scss';

//  Global Component Variables
$vs-component-line-height: 1.8;
$vs-component-placeholder-color: $body-color;

//  Active State
$vs-state-active-bg: #ddd !important;
$vs-state-active-color: #212529 !important;

// Border
$vs-border-width: $input-border-width;
$vs-border-radius: $input-border-radius;
$vs-border-color: $input-border-color;

//  Selected
$vs-selected-bg: #ddd;
$vs-selected-border-width: 0;

$vs-dropdown-min-width: auto;

// Dropdown
$vs-dropdown-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);

@import '~vue-select/src/scss/vue-select.scss';

.vs__open-indicator {
  margin-top: 0.15rem;
}

.vs__selected-options{
  flex-wrap: nowrap;
}
.vs__search {
  padding: 0 7px !important;
  border: none !important;

  &::placeholder {
    color: #6c757d;
  }
}

.vs__actions {
  padding: 0;
  top: 50%;
  position: absolute;
  right: 5px;
  z-index: 1;
  transform: translateY(-50%);

  svg {
    color: #A4A4A4;
  }
}

// Matches height of input element for consistency
.vs__dropdown-toggle {
  padding: 2.4px 0 4px 0;
  transition: all 0.25s ease-in-out;
  @include box-shadow($input-box-shadow);

  .vs--single & {
    padding-left: 6px;
  }
}

.vs__dropdown-option--disabled {
  &.vs__dropdown-option--selected {
    background: $primary !important;
  }

  opacity: 0.5;
}

.vs__raunded-0 {
  .vs__dropdown-toggle {
    border-radius: 0 !important;
  }
}

.input-group:focus-within {
  .vs__dropdown-toggle {
    border-color: $primary;
    box-shadow: none;
  }
}

// Options list color
.vs__dropdown-option {
  color: $body-color;
}
.vs__dropdown-option,
.vs__no-options {
  // We have only update Y padding
  padding: $options-padding-y $options-padding-x;
}

/* rtl:begin:ignore */
.vs__dropdown-option--selected {
  background-color: #ddd;
  //color: $white;
  position: relative;

  &::after {
    content: '';
    height: 1.1rem;
    width: 1.1rem;
    display: inline-block;
    position: absolute;

    // vertically center icon
    top: 50%;
    transform: translateY(-50%);
    right: $options-padding-x;

    // Icon
    background-image: url(str-replace(str-replace($check, 'currentColor', $vs-state-active-color), '#', '%23'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.1rem;
  }

  // Because, highlight get primary color and if item is selected we want to keep white color even if it's hovered/highlighted
  &.vs__dropdown-option--highlight {
    //color: $white !important;
    background-color: #ddd;
  }
}

/* rtl:end:ignore */

// Update color of clear icon
.vs__clear {
  line-height: 0;
}

// Selected Color. It don't have any variable to override. (text in tag)
.vs__selected {
  color: $white;
  white-space: nowrap;

  // Single select selected text
  .v-select.vs--single & {
    color: $body-color;
    margin-top: 5px;

    // Add transition when selected option is moved when focus
    transition: transform 0.2s ease;

    input {
      padding-left: 0;
    }
  }

  // Slide selected option to right on focus
  // * Just like on input focus we get placeholder moved
  .vs--single.vs--open & {
    transform: translateX(5px);
  }

  // Close icon in tag
  .vs__deselect {
    color: inherit;
  }
}

// Tag/Multi Select
.v-select {
  &:not(.vs--single) {
    .vs__selected {
      border-radius: 3px;

      padding: 0 0.6em;
      font-size: 0.9rem;
      margin: 5px 2px 2px 5px;
    }

    .vs__deselect {
      svg {
        transform: scale(0.8);
        vertical-align: text-top;
      }
    }
  }

  &.is-invalid {
    .vs__dropdown-toggle {
      border-color: $danger;
    }
  }
}

// Dropdown Position
.vs__dropdown-menu {
  top: calc(100% + .2rem);
  border: none;
  border-radius: 3px;
  padding: 5px 0;
}

// Input style when dropdown is open
//.vs--open .vs__dropdown-toggle {
//  border-color: $input-focus-border-color;
//  border-bottom-color: $input-focus-border-color;
//  border-bottom-left-radius: $vs-border-radius;
//  border-bottom-right-radius: $vs-border-radius;
//  box-shadow: $input-focus-box-shadow;
//}