.tours-page-form {
  margin-left: 1.5rem;
  .form-group {
     margin-bottom: 0px;
  }
}
.table {
  &-tours {
    thead {
      th {
        vertical-align: top;
      }
    }
    td {
      vertical-align: top;
    }
  }
}