.schedule-container {
	.schedule-wrapper {
		.step {
			&:not(.active) {
				display: none;
			}
		}
	}

	.calendar-wrapper {
		flex: 1;
		padding-right: 60px;
	}

	.schedule-sidebar {
		width: 670px;
		flex: 0 0 670px;

		.content:not(.active) {
			opacity: 0;
			pointer-events: none;
		}

		.content {
			transition: all .1s ease;
			opacity: 1;
		}

		.day-wrapper {
			width: 100%;

			.time-wrapper {
				margin-bottom: 24px;
			}
		}

		.guests-wrapper {
			.guest {
				padding-left: 40px;
				margin-bottom: 16px;

				.guest-header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 8px;

					.guest-name {
						position: relative;
						padding-left: 14px;

						margin-right: 16px;

						&::before {
							content: ' ';
							display: block;
							
							position: absolute;
							left: 0;
							top: 50%;
							margin-top: -2px;

							width: 6px;
							height: 6px;
							background: #25B29D;
							border-radius: 50%;
						}
					}
				}

				.guest-info {
					padding-left: 40px;

					p {
						margin-bottom: 4px;
					}
				}
			}
		}
	}

	.day-slot {
		.small-header {
			user-select: none;
		}

		.toggler {
			display: inline-block;
			position: relative;
			width: 20px;
			height: 20px;
			background: #FC4A1A;
			border-radius: 4px;
			top: 3px;
			margin-left: 24px;
			cursor: pointer;
			user-select: none;

			&::before {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				width: 20px;
				text-align: center;
				color: #fff;
			}

			&::before {
				content: '+';
				line-height: 19px;
			}

			&.active {
				&::before {
					line-height: 17px;
					content: '-';
				}
			}
		}

		.time-slots-wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			margin-left: -12px;
			margin-right: -12px;

			.time-slot {
				cursor: pointer;
				user-select: none;
				width: 78px;
				flex: 0 0 78px;
				text-align: center;
				padding-top: 7px;
				padding-bottom: 7px;
				border: 1px solid #E0E0E0;
				box-sizing: border-box;
				box-shadow: 0px 0px 4px rgba(9, 35, 47, 0.1);
				border-radius: 10px;
				margin: 8px 12px;
				font-weight: 600;
				font-size: 18px;
				color: #A4A4A4;

				&.active {
					color: #25B29D;
				}

				&.is-bought {
					position: relative;
					pointer-events: none;

					&::after {
						content: ' ';
						position: absolute;
						border-radius: 50%;
						top: 6px;
						right: 6px;
						display: block;
						width: 4px;
						height: 4px;
						background: #FC4A1A;
					}
				}
			}
		}

		&:not(.active) {
			.time-slots-wrapper {
				display: none;
			}
		}
	}
}