<template>
  <div class="dashboard-container detail-tour-container schedule-container app-schedule-container">

    <div class="fw jc-space-between ai-center">
      <h1>My schedule</h1>

      <button
        class="btn unfilled orange w280 show-sm d-flex align-items-center justify-content-center"
        @click="handleEditSchedules"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          style="position: relative;top: 2px;left: -5px;"
        >
          <path
            d="M15.5884 2.40137L13.5986 0.411499C13.3334 0.146362 12.9801 0.00012207 12.604 0C12.6038 0 12.6036 0 12.6034 0C12.2273 0 11.8743 0.145996 11.6092 0.411011L1.46396 10.5562C1.38083 10.6412 1.34665 10.7623 1.322 10.8381L0.0180383 15.4021C-0.0287147 15.5659 0.0169397 15.7422 0.137301 15.8625C0.226535 15.9518 0.346408 16 0.468967 16C0.512058 16 0.555393 15.9941 0.597873 15.9819L5.15928 14.6787C5.17283 14.6748 5.37437 14.6055 5.44383 14.536L15.589 4.39075C15.8542 4.12561 16.0001 3.77234 16 3.396C15.9999 3.0199 15.8536 2.66663 15.5884 2.40137ZM1.15195 14.848L2.02769 11.7831L4.2169 13.9723L1.15195 14.848ZM5.11216 13.541L2.45896 10.8878L10.6138 2.73303L13.267 5.38623L5.11216 13.541ZM14.9257 3.72754L13.9303 4.72302L11.277 2.0697L12.2725 1.07434C12.3603 0.98645 12.4779 0.93811 12.6034 0.93811H12.6036C12.7294 0.93811 12.8472 0.986694 12.9353 1.07483L14.9252 3.0647C15.108 3.24756 15.1083 3.54492 14.9257 3.72754Z"
            fill="#fc4a1a"/>
        </svg>
        <span>Edit my schedule</span>
      </button>
    </div>

    <div class="schedule-wrapper">
      <calendar-show
        v-if="this.state === 'show'"
        :schedules="schedules"
        @editSchedules="handleEditSchedules"
      />
      <calendar-edit
        v-if="this.state === 'edit'"
        :schedules="schedules"
        @saveSchedules="handleSaveSchedules"
      />
    </div>

  </div>
</template>
<script>
import {getMyTourSchedule, saveMyTourSchedule} from '@core/api/tour-schedule'

import CalendarEdit from './components/CalendarEdit';
import CalendarShow from './components/CalendarShow';

export default {
  components: {
    CalendarEdit,
    CalendarShow
  },
  data() {
    return {
      state: 'edit',
      schedules: [],
    }
  },
  computed: {
    attributes() {

      return this.schedules.map(schedule => {
        return {
          dates: new Date(schedule.date),
          highlight: true,
          key: schedule.date
        }
      });
    }
  },
  created() {
    getMyTourSchedule().then(response => {
      this.schedules = response;
    })
  },
  methods: {
    handleDayClick(event) {
      let exists = this.schedules.some(schedule => schedule.date === event.id);

      if (exists) {
        return this.$delete(this.schedules, this.schedules.findIndex(schedule => schedule.date === event.id))
      }

      this.schedules.push({
        date: event.id,
        timeSlots: []
      })
    },
    handleSaveSchedules() {
      saveMyTourSchedule(this.schedules).then(response => {
        this.state = 'show'
      })
    },
    handleEditSchedules() {
      this.state = 'edit'
    },
    formatDate(date) {
      return date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2)
    }
  },
  watch: {
    schedules: function (val) {
      // console.log(val)
    }
  }
}
</script>

<style lang="scss">
.schedule-wrapper {

  .vc-container {
    border: none;
  }

  .vc-weekday {
    display: none;
  }

  .vc-highlight {
    background-color: #25b29d !important;
    border-radius: 4px !important;
    width: 48px;
    height: 48px;

    &:hover {
      background-color: rgba(37,178,157,0.2) !important;
    }
  }

  .vc-highlights ~ .day-disabled {
    background-color: #1a1a1a;
  }

  .vc-day {
    line-height: 1.5;
  }

  .vc-day-content {
    font-size: 24px;
    color: #25B2A3;
    width: 50px;
    height: 50px;
    border-radius: 4px;

    &.vc-text-white {
      color: white;
    }

    &.day-disabled .vc-highlight {
      background-color: transparent !important;
    }

    &.day-disabled {
      color: #cbd5e0;
      background-color: transparent;
    }

    &:hover {
      background-color: rgba(37,178,157,0.2) !important;
    }
  }
}


</style>
