@font-face {
  font-family: 'Roboto';
  src: url('~@admin-fonts/roboto/Roboto-Light.eot');
  src: url('~@admin-fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('~@admin-fonts/roboto/Roboto-Light.woff2') format('woff2'),
      url('~@admin-fonts/roboto/Roboto-Light.woff') format('woff'),
      url('~@admin-fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@admin-fonts/roboto/Roboto-Bold.eot');
  src: url('~@admin-fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('~@admin-fonts/roboto/Roboto-Bold.woff2') format('woff2'),
      url('~@admin-fonts/roboto/Roboto-Bold.woff') format('woff'),
      url('~@admin-fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@admin-fonts/roboto/Roboto-Medium.eot');
  src: url('~@admin-fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('~@admin-fonts/roboto/Roboto-Medium.woff2') format('woff2'),
      url('~@admin-fonts/roboto/Roboto-Medium.woff') format('woff'),
      url('~@admin-fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@admin-fonts/roboto/Roboto-Regular.eot');
  src: url('~@admin-fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('~@admin-fonts/roboto/Roboto-Regular.woff2') format('woff2'),
      url('~@admin-fonts/roboto/Roboto-Regular.woff') format('woff'),
      url('~@admin-fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@admin-fonts/roboto/Roboto-Black.eot');
  src: url('~@admin-fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('~@admin-fonts/roboto/Roboto-Black.woff2') format('woff2'),
      url('~@admin-fonts/roboto/Roboto-Black.woff') format('woff'),
      url('~@admin-fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

