.flex-direction(@string) {
  flex-direction: @string;
}
.flex-content(@string) {
  justify-content: @string;
}
.flex-align(@string) {
  align-items: @string;
}
.flex-wrap(@string) {
  flex-wrap: @string;
}
.transition(@transition) {
  transition: @transition;
}
.transform(@transform) {
  transform: @transform;
}
.flex-align-self(@string) {
  align-self: @string;
}
.flex-display() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.top-calc(@calc) {
  top: calc(@calc)
}
.left-calc(@calc) {
  left: -webkit-calc(@calc);
  left: calc(@calc);
}
.width-calc(@calc) {
  width: calc(@calc);
}
.height-calc(@calc) {
  height: calc(@calc);
}
.right-calc(@calc) {
  right: calc(@calc);
}
.bottom-calc(@calc) {
  bottom: calc(@calc);
}
.gradient-two(@from, @too) {
  background: linear-gradient(to bottom, @from 0%, @too 100%);
}

.flex {
  .flex-display();
  &-wrap {
    .flex-wrap(wrap);
  }
  &-nowrap {
    .flex-wrap(nowrap);
  }
  &-justify {
    &-center {
      .flex-content(center);
    }
    &-start {
      .flex-content(flex-start);
    }
    &-end {
      .flex-content(flex-end);
    }
    &-around {
      .flex-content(space-around);
    }

    &-between {
      .flex-content(space-between);
    }
  }
  &-align {
    &-stretch {
      .flex-align(stretch);
    }
    &-start {
      .flex-align(flex-start);
    }
    &-end {
      .flex-align(flex-end);
    }
    &-center {
      .flex-align(center);
    }
  }
}