.footer {
  .logo-side {
    img {
      height: 90px;
    }
  }
  &-cover {
    background-color: #F3F6F8;
    box-shadow: 0 -1px 14px -4px rgba(163, 163, 163, 0.5);
    margin-top: 80px;
  }
  &-top {
    padding: 40px 0px;
    width: 100%;
    border-bottom: 1px solid rgba(163,163,163,0.5);
    &-menu {
      &-item {
        padding-bottom: 12px;
        a {
          color: #25B29D;
          font-size: 16px;
          line-height: 22px;
          text-decoration: none;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            right: 50%;
            height: 2px;
            background: rgba(37, 178, 157, 0);
            transition: 0.7s all;
          }
          &:hover {
            &:after {
              left: 0px;
              right: 0px;
              background-color: rgba(37, 178, 157, 0.5);
            }
          }
          &:active,&:focus {
            &:after {
              left: 0px;
              right: 0px;
              background-color: rgba(37, 178, 157, 0.5);
            }
          }
        }
      }
    }
    &-title {
      color: #404040;
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      margin-bottom: 4px;
    }
    &-contact-us {
      a {
        color: #25B29D;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
      }
    }
    &-text {
      color: #404040;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 12px;
    }
  }
  &-bottom {
    padding: 24px 0px 62px;
    width: 100%;
    &-copyrights {
      color: #A4A4A4;
      font-size: 14px;
      line-height: 19px;
    }
    &-side-menu {
      &-item {
         padding: 0 30px;
         a {
           color: #25B29D;
           font-size: 14px;
           line-height: 19px;
           text-decoration: none;
           position: relative;
           &:after {
             content: '';
             position: absolute;
             bottom: -5px;
             left: 50%;
             right: 50%;
             height: 2px;
             background: rgba(37, 178, 157, 0);
             transition: 0.7s all;
           }
           &:hover {
             &:after {
               left: 0px;
               right: 0px;
               background-color: rgba(37, 178, 157, 0.5);
             }
           }
           &:active,&:focus {
             &:after {
               left: 0px;
               right: 0px;
               background-color: rgba(37, 178, 157, 0.5);
             }
           }
         }
         &:last-child {
           padding-right: 0px;
         }
         &:first-child {
           padding-left: 0px;
         }
      }
    }
  }
}

.social {
  display: block;
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  transition: 0.7s all;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
  &-facebook {
    background-image: @facebook;
    &:hover {
      background-image: @facebookHover;
    }
  }
  &-instagram {
    background-image: @instagram;
    &:hover {
      background-image: @instagramHover;
    }
  }
  &-twitter {
    background-image: @twitter;
    &:hover {
      background-image: @twitterHover;
    }
  }
}