.form-warning {
  padding: 16px 12px;
  background: #d2f0eb;
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  p {
    font-size: 12px;
    line-height: 16px;
  }

  img {
    margin-right: 8px;
  }
  
  &:not(.show) {
    display: none;
  }
}

.placeholderForm() {
  font-size: 14px;
  font-weight: 300;
  color: #a4a4a4;
}
.input-cover {
  position: relative;
  margin-bottom: 28px;
  .warning {
    display: none;
    font-size: 12px;
    line-height: 16px;
    color: #ff2020;
    position: absolute;
    bottom:-21px;
    right: 0px;
  }
  &.error {
    .warning {
      display: block;
      z-index: 15;
    }
  }
  input {
    height: 42px;
    width: 100%;
    padding: 8px 15px;
    border-radius: 4px;
    border: solid 1px #E0E0E0;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    transition: 0.7s all;
    &:hover {
      box-shadow: 0px 1px 10px rgba(9, 35, 47, 0.1);
    }
    &:focus,&:active {
      border: 1px solid #25B29D;
    }
    &:focus {
      /*+label {
        transform: translate(-28px,-12px);
        background: transparent;
      }*/
    }
    &::-webkit-input-placeholder {
      .placeholderForm()
    }
    &::-moz-placeholder {
      .placeholderForm()
    }
    &:-ms-input-placeholder {
      .placeholderForm()
    }
    &:-moz-placeholder {
      .placeholderForm()
    }
    &.error {
      border: 1px solid #FF2020;
    }
  }
  label,.like-label {
    display: block;
    background-color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #404040;
    transition: 0.7s all;
    span {
      color: #A4A4A4;
      font-size: 14px;
      font-weight: 300;
      line-height: 19px;
    }
    &.label-agree {
      display: flex;
      color: #404040;
      font-weight: 600;
      position: relative;
      margin-bottom: 0px;
      cursor: pointer;
      line-height: 1;
      transition: 0.5s all;
      a {
        color: #25B29D;
        text-decoration: none;
        display: inline-block;
        margin-left: 6px;
      }
      &:before {
        content: '';
        display: inline-block;
        margin-right: 8px;
        height: 20px;
        width: 20px;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        transition: 0.5s all;
      }
      &:after {
        content: '';
        display: block;
        width: 5px;
        height: 8px;
        transform: rotate(45deg);
        position: absolute;
        left: 7px;
        top: 2px;
        border: 2px solid #fff;
        border-top-color: transparent;
        border-left-color: transparent;
        opacity: 0;
        transition: 0.5s all;
      }
    }
  }
  .show-password {
    font-size: 12px;
    color: #25b29d;
    position: absolute;
    right: 12px;
    bottom: calc(~"50% - 17px");
    cursor: pointer;
  }
  &.agree {
    margin-bottom: 44px;
    input {
      &:checked {
        &+label {
          &:before {
            background-color: #25B29D;
            border-color: #25B29D;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
    &.error {
      input {
        &+label {
          &:before {
            border-color: #ff2020;
          }
        }
      }
    }
    &:hover {
      input {
        &+label {
          &:before {
            border-color: #25B29D;
          }
        }
      }
    }
  }
  &.birthday-date {
    margin-bottom: 28px;
    &.error {
      .like-select {
        border-color: #ff2020;
        &:hover .like-select-options-cover {
          border-color: #ff2020;
          border-top-color: #fff;
        }
        &.success {
          border-color: #E0E0E0;
          &:hover .like-select-options-cover {
            border-color: #E0E0E0;
            border-top-color: #fff;
          }
          &:focus,&:active {
            border-color: #25B29D;
          }
          &:hover:focus .like-select-options-cover,&:hover:active .like-select-options-cover {
            border-color: #25B29D;
            border-top-color: #fff;
          }
        }
      }
    }
  }
  &.forgot-password-text {
    color: #484848;
    font-size: 16px;
    line-height: 22px;
  }
}
.like-select {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 13px 30px 13px 16px;
  cursor: pointer;
  position: relative;
  z-index: 20;
  line-height: 1;
  transition: 0.5s all;
  &.error {
    border-color: #fc4a1a;
  }
  &:after {
    content: '';
    display: block;
    width: 14px;
    height: 10px;
    background-image: url("@{imgPath}next.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 11px;
    top: 15px;
    transition: 0.5s all;
  }
  &:hover {
    border-radius: 4px 4px 0px 0px;
    &:after {
      transform: rotate(180deg);
    }
  }
  &:focus,&:active {
    border-color: #25B29D;
  }
  &:focus:hover &-options-cover,&:active:hover &-options-cover {
    border-color: #25B29D;
    border-top-color: #fff;
  }
  &-day {
    width: 80px;
    margin-right: 12px;
  }
  &-month {
    width: 110px;
    margin-right: 12px;
  }
  &-year {
    width: 110px;
  }
  &-placeholder {
    font-size: 14px;
    font-weight: 300;
    color: #a4a4a4;
    transition: 0.7s all;
    &.value {
      font-weight: 600;
      color: #404040;
    }
  }
  &:hover &-options-cover {
    height: 62px;
    border: 1px solid #E0E0E0;
    border-top: 1px solid #fff;
    background-color: #fff;
  }
  &-options {
    padding: 3px 7px 3px 16px;
    font-size: 14px;
    font-weight: 300;
    transition: 0.4s all;
    &:hover {
      background: rgba(37, 178, 157, 0.2);
      box-shadow: 0px 1px 10px rgba(9, 35, 47, 0.104021);
    }
    &.active-select {
      background: rgba(37, 178, 157, 0.2);
    }
    &-cover {
      position: absolute;
      left: -1px;
      right: -1px;
      top: 100%;
      overflow: auto;
      height: 0px;
      transition: 0.5s all;
      border: 1px solid transparent;
      border-radius: 0px 0px 4px 4px;
      background-color: transparent;
    }
  }

}
.forgot-password {
  color: #25B29D;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  &-cover {
    text-align: center;
    margin: 0px 0px 24px;
    z-index: 1;
    position: relative;
  }
  &-submit {
    margin-top: 22px;
  }
}

.form {
  &-cover {
    width: 100%;
    max-width: 810px;
    min-height: 612px;
    max-height: 100%;
    overflow: auto;
    border-radius: 8px;
    background-color: #25b29d;
    position: fixed;
    left: calc(~"50% - 405px");
    top: -100vh;
    z-index: 1002;
    transition: 0.7s all;
    @media screen and (max-width: 810px) {
      left: 0px;
      right: 0px;
    }
    &.active {
      transform: translate(0,calc(~"100vh + 20px"));
    }
  }
  &-left-side {
    width: 380px;
    padding: 37px 60px 37px 60px;
    &-title {
      height: 55px;
      color: #FFFFFF;
      font-size: 40px;
      font-weight: bold;
      line-height: 55px;
      position: relative;
      margin-bottom: 30px;
      &:after {
        content: '';
        height: 3px;
        width: 66px;
        background-color: #fff;
        position: absolute;
        left: 0px;
        bottom: -8px;
      }
    }
    &-text {
      color: #FFFFFF;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 40px;
      &-before {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 24px;
      }
    }
  }
  &-right-side {
    width: calc(~"100% - 380px");
    padding: 37px 40px 37px 40px;
    background-color: #fff;
    &-title {
      font-size: 24px;
      font-weight: bold;
      color: #25b29d;
      margin-bottom: 24px;
    }
  }
  &-close {
    width: 16px;
    height: 16px;
    color: #a4a4a4;
    text-align: center;
    position: absolute;
    top: 16px;
    right: 16px;
    background-image: url("@{imgPath}close.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.like-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}