.message {
  &-cover {
    position: fixed;
    left: 0px;
    right: 0px;
    height: 100vh;
    top: -100vh;
    z-index: 1010;
    transition: 0.7s all;
    &.active {
      transform: translate(0,100vh);
    }
    &-content {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      &-container {
        background-color: #a4a4a4;
        max-width: 450px;
        width: 100%;
        max-height: 100vh;
        padding: 60px;
        overflow: auto;
        border-radius: 8px;
      }
    }
  }
  &-success {
    background-position: center right;
    background-size: cover;
    background-color: #fff;
    width: 100%;
    max-width: 810px;
    min-height: 445px;
    max-height: 100vh;
    padding: 60px;
    overflow: auto;
    border-radius: 8px;
    position: fixed;
    left: calc(~"50% - 405px");
    top: -100vh;
    z-index: 1002;
    transition: 0.7s all;
    @media screen and (max-width: 810px) {
      left: 0px;
      right: 0px;
    }
    &.active {
      transform: translate(0,calc(~"100vh + 20px"));
    }
    &-cover {
      width: 100%;
    }
    &-forgot {
      background-image: url("@{imgPath}success-forgot.png");
    }
    &-register {
      background-image: url("@{imgPath}success-register.png");
    }
    &-input {
      width: 100%;
      max-width: 350px;
      .input-cover {
        label {
          background-color: transparent;
        }
      }
    }
    &-content {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      color: #484848;
      margin-bottom: 40px;
      max-width: 510px;
    }
    &-title {
      font-weight: bold;
      font-size: 40px;
      line-height: 54px;
      color: #243D44;
      margin-bottom: 24px;
      width: 100%;
    }
    &-close {
      width: 16px;
      height: 16px;
      color: #a4a4a4;
      text-align: center;
      position: absolute;
      top: 16px;
      right: 16px;
      background-image: url("@{imgPath}close.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}