

.flex {
  @include flex-display();
  &-wrap {
    @include flex-wrap(wrap);
  }
  &-nowrap {
    @include flex-wrap(nowrap);
  }
  &-justify {
    &-center {
      @include flex-content(center);
    }
    &-start {
      @include flex-content(flex-start);
    }
    &-end {
      @include flex-content(flex-end);
    }
    &-around {
      @include flex-content(space-around);
    }

    &-between {
      @include flex-content(space-between);
    }
  }
  &-align {
    &-stretch {
      @include flex-align(stretch);
    }
    &-start {
      @include flex-align(flex-start);
    }
    &-end {
      @include flex-align(flex-end);
    }
    &-center {
      @include flex-align(center);
    }
  }
}