body {
  font-family: 'Open Sans';
  font-style: normal;
  background-color: #EBF2F6;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

img {
  max-width: 100%;
}

@import "tour-slider";

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #25B29D;
  box-shadow: 0px 1px 8px rgba(9, 35, 47, 0.20012);
  overflow: auto;
  padding-bottom: 32px;

  &.active {
    display: block !important;
  }

  .mobile-menu-container {
    margin: 12px 24px 0px;

    .mobile-menu-logo-size {
      width: 52px;
    }

    .footer-menu {
      margin-top: 90px;
      flex-direction: column;

      a {
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
        margin-bottom: 24px;
      }
    }

    .footer-top-social {
      margin-top: 60px;

      .social {
        width: initial;
        margin: 0 20px;
      }
    }

    .mobile-line {
      border: 1px solid #E0E0E0;
      margin: auto;
      margin-top: 60px;
      width: 166px;
    }
  }
}

.header {
  padding: 0;

  &-cover {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
    transition: all 0.25s ease;

    &.active-header, &.not-front {
      .mobile-menu-trigger {
        svg {
          &, path {
            fill: #25B29D !important;
          }
        }
      }

      .menu-item {
        &.hero-wrapper-item {
          .hero-wrapper {
            border-color: #25B29D;

            .user-photo {
              position: absolute;
              border-radius: 50%;
              min-width: 100%;
              min-height: 100%;

              &.no-avatar {
                width: 44px;
                height: 39px;
                min-height: initial;
              }
            }
          }

          svg {
            &, path {
              fill: #25B29D !important;
            }
          }
        }
      }

      background: #FFFFFF;
      box-shadow: 0px 1px 8px rgba(9, 35, 47, 0.20012);

      .menu {
        &-item {
          a, span {
            color: #25B29D;

            &:hover {
              &:after {
                background-color: #25B29D;
              }
            }

            &:active, &:focus {
              &:after {
                background-color: rgba(37, 178, 157, 0.5);
              }
            }
          }
        }
      }

      .button {
        &-sign {
          color: #25B29D;
          border: 1px solid #25B29D;

          &:hover {
            background-color: rgba(37, 178, 157, .2);
          }

          &:active, &:focus {
            color: #fff;
            background-color: rgba(37, 178, 157, 1);
          }
        }
      }
    }

    &-not-front {
      height: 90px;

    }

    &-not-front & {
      background: #FFFFFF;
      box-shadow: 0px 1px 8px rgba(9, 35, 47, 0.20012);
    }
  }

  .logo-side {
    img {
      height: 68px;
    }

    display: flex;
    align-items: center;

    a {
      display: inline-block;
      margin-right: 80px;
    }
  }

  .header-search-form {
    input {
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
      border-radius: 4px;
      padding: 12px 14px;
      width: 320px;
      font-weight: 600;

      position: relative;

      &::placeholder {
        padding-left: 26px;
      }

      &:not(:valid) {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.83031 1.69329C4.27125 -0.564431 8.24407 -0.564431 10.685 1.69329C12.8593 3.70483 13.0921 6.83569 11.3941 9.09244C11.6369 9.13991 11.8692 9.24905 12.0571 9.42231L15.6119 12.7113C16.1294 13.1884 16.1294 13.9627 15.6119 14.4414C15.0965 14.9195 14.2594 14.9195 13.7413 14.4414L10.1866 11.1534C9.99765 10.9787 9.88018 10.7643 9.82885 10.5397C7.3895 12.1093 4.00403 11.8939 1.83031 9.88384C-0.610103 7.62563 -0.610103 3.9515 1.83031 1.69329ZM2.9451 8.74511C4.73909 10.405 7.6596 10.405 9.45412 8.74511C11.2486 7.08526 11.2486 4.38438 9.45412 2.72453C7.6596 1.06516 4.73909 1.06516 2.9451 2.72453C1.15163 4.38438 1.15163 7.08526 2.9451 8.74511Z' fill='%23A4A4A4'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 14px center;
      }
    }

    a {
      position: absolute;
      top: 15px;
      right: 10px;
      font-size: 20px;
      margin: 0;
      color: #484848;
    }
  }
}

.menu {
  &-item {
    padding: 0px 30px;
    position: relative;

    .hero-wrapper {
      background: rgba(255, 255, 255, 0.0001);
      border: 1px solid #25B29D;
      box-sizing: border-box;
      width: 44px;
      height: 44px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all .25s ease;
      border-radius: 50%;
      overflow: hidden;

      svg {
        transition: all .25s ease;
        position: relative;
        top: 2px;
      }
    }

    .menu-item-dropdown {
      width: 170px;
      background: #FFFFFF;
      box-shadow: 0px 2px 6px rgba(9, 35, 47, 0.20012);
      border-radius: 0px 0px 4px 4px;

      position: absolute;
      top: 100%;
      right: 0;
      margin-right: 20px;
      padding: 16px;

      transition: all .25s ease;
      opacity: 0;
      pointer-events: none;

      ul {

        li {
          padding-top: 16px;
          padding-bottom: 16px;
          border-bottom: 1px solid #E0E0E0;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }

          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #A4A4A4 !important;
            text-decoration: none !important;

            &:hover {
              color: #25b29d !important;
            }
          }
        }
      }
    }

    &:hover {
      .menu-item-dropdown {
        opacity: 1;
        pointer-events: initial;
      }
    }

    &.hero-wrapper-item {
      padding-top: 21px;
      padding-bottom: 21px;
      cursor: pointer;

      .hero-wrapper {
        border-color: #fff;
      }

      &:hover {
        span {
          &:after {
            left: 0px;
            right: 0px;
            background-color: #fff;
          }
        }
      }

      svg {
        &, path {
          fill: #fff !important;
        }
      }

      a, span {
        &:after {
          bottom: -25px
        }
      }
    }

    > a, > span {
      display: inline-block;
      padding: 21px 0;
      height: 44px;
      box-sizing: content-box;
      line-height: 44px;

      text-decoration: none;
      outline: none;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      transition: 0.5s all;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        right: 50%;
        height: 2px;
        background: transparent;
        transition: all 0.25s ease;
      }

      &:hover {
        &:after {
          left: 0px;
          right: 0px;
          background-color: #fff;
        }
      }

      &:active, &:focus {
        &:after {
          left: 0px;
          right: 0px;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      &.button {
        &:after {
          display: none;
        }
      }

    }


    .button-wrapper {
      &::after {
        display: none;
      }
    }

    &.button-cover {
      padding-right: 0px;
    }

    &-not-front {
      a {
        color: #25B29D;
      }
    }
  }
}

.button {
  &-form {
    width: 100%;
    max-width: 240px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #fff;
    display: block;
    padding: 9px 15px;
    transition: all 0.25s ease;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: #243d44;
      background-color: #fff;
    }

    &:active, &:focus {
      color: #243d44;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  &-explore &-form-submit {
    width: 100%;
  }

  &-explore {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    width: 240px;
    padding: 9px 15px;
    border-radius: 4px;
    transition: all 0.25s ease;
    background-color: $buttonExploreColor;
    border: 1px solid $buttonExploreBorderColor;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: #FFFFFF;
      background: #FC4A1A;
      box-shadow: 0px 1px 7px rgba(9, 35, 47, 0.20012);
    }

    &:active, &:focus {
      background: #FC4A1A;
      box-shadow: inset 0px 1px 7px rgba(9, 35, 47, 0.20012);
    }

    &-all {
      width: 281px;
    }
  }

  &-sign {
    background: $buttonColor;
    border-radius: 4px;
    padding: 9px 91px;
    transition: all 0.25s ease;
    border: 1px solid $buttonBorderColor;
    text-decoration: none;

    &:hover {
      border-color: $buttonBorderHoverColor;
      background: $buttonHoverColor;
    }

    &:active, &:focus {
      border-color: $buttonBorderActiveColor;
      background: $buttonActiveColor;
    }
  }

  &-show-more {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 9px 15px;
    text-align: center;
    transition: 0.5s all;
    background: $buttonShowMoreColor;
    border: 1px solid $buttonShowMoreBorderColor;
    max-width: 280px;
    width: 100%;

    &:hover {
      background-color: $buttonShowMoreHoverColor;
      border-color: $buttonShowMoreBorderHoverColor;
    }

    &:active, &:focus {
      border-color: $buttonShowMoreBorderActiveColor;
      background-color: $buttonShowMoreActiveColor;
    }
  }

  &-goto-search {
    width: 350px;
    max-width: 100%;
  }
}

.full-size-block {
  width: 100%;
  background-image: url("~@core-img/maarten-van-den-heuvel-gZXx8lKAb7Y-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  padding-bottom: 65px;
  padding-top: 65px;
  position: relative;
}

.block-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
  text-align: center;

  span {
    font-weight: 600;
  }
}

.arrow-scroll {
  width: 68px;
  position: absolute;
  left: calc(50% - 34px);
  bottom: 16px;
  transition: 0.5s all;
  cursor: pointer;
  text-align: center;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  span {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    transition: 0.5s all;
    display: block;
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}

.form-submit-label {
  margin-left: 24px;
}

.input-search-cover {
  position: relative;
}

.form-search {
  padding-top: 40px;
}

.search-input {
  background-image: url("~@core-img/Shape.svg");
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 16px 16px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
  border-radius: 4px;
  padding: 7px 20px 8px 40px;
  font-weight: 800;
  font-size: 18px;
  width: 275px;
  outline: none;

  &::-webkit-input-placeholder {
    @include placeholderColor()
  }

  &::-moz-placeholder {
    @include placeholderColor()
  }

  &:-ms-input-placeholder {
    @include placeholderColor()
  }

  &:-moz-placeholder {
    @include placeholderColor()
  }

  &:active, &:focus {
    background-image: url("~@core-img/Shape.svg");
  }

  &.home-search-input {
    &:active, &:focus {
      border-color: #25B29D;
      box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
      background-image: url('~@core-img/icons/look-green.svg');
    }
  }
}

.block-main-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #243D44;
  margin-top: 40px;
  margin-bottom: 24px;
}

.overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: -50px;
  z-index: -1;
  background-color: rgba(10, 10, 10, 0.5);
  opacity: 0;
  transition: 0.7s opacity;

  &.active {
    z-index: 1001;
    opacity: 1;
    cursor: pointer;
  }
}