@import "media/media-helpers";

@media only screen and (max-width: 1280px) {
  div.schedule-container {
    .schedule-sidebar {
      width: 500px;
      flex: 0 0 500px;
    }
  }
}

@media only screen and (max-width: 1200px) {

  .detail-tour-container .header-part .slider-wrapper li img {
    width: 100% !important;
  }

  .payments-container.dashboard-container.detail-tour-container.schedule-container h1 {
    margin-bottom: 24px !important;
  }

  div.verification-container {
    box-shadow: none;
    border: none;
    flex-direction: column;
    border-radius: 0 !important;

    .content-wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    .sidebar-menu {
      max-width: 100%;
      flex: 1;
      border-radius: 10px !important;
    }

    .menu-box {
      display: flex;
      padding-bottom: 0 !important;

      justify-content: center;

      .img-wrapper {
        margin-right: 16px;
      }

      &:not(.active) {
        display: none;
      }
    }
  }

  .meeting-step, .price-step-wrapper {
    .w380 {
      max-width: 48% !important
    }
  }

  div.instruction-container .instruction-step {
    .img-wrapper {
      width: 400px;
      max-width: 400px;
      flex: 0 0 400px;
      padding-left: 30px;
    }
  }

  .container {
    width: 950px;
    padding: 0 0px;

    .block-title {
      font-size: 48px;
      line-height: 65px;
    }

    .block-main-title {
      font-size: 24px;
      line-height: 33px;
      margin-top: 32px;
      margin-bottom: 16px;
    }

    .tour-category-item-title {
      font-size: 16px;
      line-height: 22px;
    }

    .tour-item-title {
      font-size: 14px;

      line-height: 19px;
    }
  }

  .footer-cover {
    margin-top: 64px;
    font-size: 14px;
    line-height: 19px;

    .footer-top-title {
      font-size: 18px;
      line-height: 25px;
    }
  }
  // //стрfничка поиска
  .is-dashboard-page {
    .logo-side {
      margin: 8px 0px;
    }

    .header-search-form,
    .menu {
      display: none;
    }
  }
  .dashboard-container {
    max-width: initial !important;
    width: 950px !important;
    margin: auto !important;

    &.detail-tour-container {
      margin-top: 60px !important;

      //my-tours page
      .tours-block {
        margin-bottom: 48px !important;

        h2 {
          font-size: 18px;
          line-height: 25px;
        }
      }

      //settings page

      h1 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 24px !important;
      }

      .settings-form-wrapper {
        width: initial !important;
        margin-bottom: 42px !important;

        .form-title {
          margin-left: 16px;
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 16px !important;
        }

        .form-content {
          .row {
            .value {
              &.small-header {
                font-size: 16px !important;
                line-height: 22px !important;
              }
            }

            .submit-step {
              width: 350px !important;
            }
          }
        }
      }

      .detail-tour-section {

        //страничка детального описания тура

        &.reviews-section {

          .reviews-detail-row {
            flex-wrap: wrap;
            margin-bottom: 16px !important;

            .review-detail {
              width: 46% !important;
              max-width: 46% !important;
              flex: 0 0 46% !important;
              margin-right: 16px;
              margin-bottom: 16px;

              &.review-detail:nth-child(even) {
                margin-right: 0px;
              }
            }
          }
        }

        &.detail-tour-section::after {
          display: none !important;
        }

        //..........
      }

      &.search-page {

        .input-wrapper:not(.search-input-wrapper) {
          display: none;
        }

        .tours-container {
          margin-right: 0px;
        }
      }

      .adaptive-filter-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .filter-wrapper {

          .filter-btn {
            display: flex;
            border: 1px solid #25B29D;
            box-sizing: border-box;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 10px 48px;
            background: #FFFFFF;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #25B29D;

            img {
              margin-left: 16px;
            }
          }
        }

        .sort-options {
          left: -2px;
          margin-top: 31px;
        }
      }
    }

    .tours-container {
      margin-left: -10px;
    }

    .tour-box {
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 16px;
      width: calc(25% - 16px);

      .img-wrapper {
        height: 140px;

        .tag {
          font-size: 10px;
          line-height: 14px;
        }

        img {
          width: initial;
          max-width: initial;
          height: 140px;
          min-width: 100%;
        }
      }

      .text-wrapper {
        .title {
          font-size: 14px;
          line-height: 19px;
        }

        .reviews-none {
          display: none;
        }
      }
    }

    //hosted-tour page
    .hosted-tours-wrapper {
      .hosted-tour {
        width: 100%;
      }
    }
  }

  //модалка логина
  .form-cover {
    max-width: 384px;
    min-height: 436px;
    left: calc(50% - 192px);

    .form-left-side {
      display: none;
    }

    .form-right-side {
      width: 100%;
      padding: 24px 16px 32px;

      .form-close {
        top: 28px !important;
        right: 18px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {

  .header-part-purchased {
    .hero-info {
      flex-direction: column;

      .hero-img-wrapper {
        margin-bottom: 30px;
      }

      .fw.fd-column {
        width: 100% !important;

        .btn {
          width: 100% !important;
          flex: 0 0 100% !important;
        }
      }
    }
  }

  section.detail-tour-section {
    &.tour-description {
      .video-box {
        flex-wrap: wrap;
      }

      .videoWrapper {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
      }
    }
  }

  .detail-tour-section[data-section-description="Meet"] {
    .fw {
      flex-wrap: wrap;

      .mapWrapper {
        flex: 0 0 100%;
        margin-bottom: 32px;
      }

      .w280 {
        width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  div.detail-tour-container .header-part .slider-wrapper li img {
    width: 410px;
  }

  .dashboard-container.detail-tour-container.app-schedule-container {
    h1 {
      margin-bottom: 0 !important;
    }

    > .fw {
      margin-bottom: 24px;

      .btn {
        padding: 0 !important;
        width: initial !important;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
      }
    }

    div.schedule-wrapper {
      > .fw {
        flex-direction: column;
      }
    }

    .calendar-wrapper {
      padding-right: 0 !important;
    }

    .schedule-sidebar {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  .verification-step-box {
    .general-input-wrapper {
      flex: 0 0 33% !important;
      width: 33% !important;
      min-width: 180px !important;
      padding-right: 24px;
    }
  }

  div.photo-upload-box {
    &:not(.big) {
      width: calc(25% - 16px) !important;
    }

    &.big {
      img:not(.result-img) {
        width: 56px !important;
      }
    }

    img:not(.result-img) {
      width: 24px !important;
    }

    .text-part p {
      display: none;
    }

    .btn {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
    }
  }

  div.gallery-input .gallery .photo-upload-box {
    margin-right: 16px !important;
  }

  .categories-wrapper .category-box {
    .category-box-inner {
      height: 154px !important;
    }
  }

  .steps-wrapper {
    .steps-content {
      max-width: 100% !important;
      padding-right: 0 !important;
    }
  }

  div.instruction-container .instruction-step {
    .img-wrapper {
      width: 340px;
      max-width: 340px;
      flex: 0 0 340px;
      padding-left: 30px;
    }

    .step-box-wrapper {
      flex-wrap: wrap;

      .step-box {
        flex: 0 0 100%;
        // padding-top: 0;
        margin-top: 0px;

        &::after {
          opacity: 0;
        }
      }
    }
  }

  .mfp-content {
    max-width: 100% !important;
  }

  .popup {
    &#book, &#pay, &#activate {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 600px !important;

      .popup-content {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 25px 45px !important;

        &:not(:first-child) {
          padding-top: 0;
        }

        &.datepicker-popup-content {
          justify-content: center;
          display: flex;
        }
      }

      .submit-book-request {
        width: 100% !important;
      }
    }

    &#activate {
      width: 600px !important;
      max-width: 100% !important;

      .btn {
        max-width: 100% !important;
        width: 100% !important;
      }
    }

    &#pay {
      flex-direction: column-reverse;
    }

    &#cancel {
      flex-direction: column;

      .popup-content, .book-summary-block {
        max-width: 100% !important;
      }
    }

    &#pay, &#cancel {

      .option-box {
        justify-content: flex-start;
      }

      .сancellation-policy {
        padding: 0 !important;
        text-align: center;
      }

      .btn {
        width: 100% !important;
      }
    }

    .btn {
      max-width: 100% !important;
    }
  }

  .container {
    width: 740px;
  }
  .bottom-bar {
    padding-top: 16px;
    padding-bottom: 16px;

    .h1 {
      font-weight: bold !important;
      font-size: 24px !important;
      line-height: 33px !important;
    }
  }
  .dashboard-container {
    width: 740px !important;


    //страничка тура
    .tour-title-wrapper {
      display: block;
      margin-bottom: 24px !important;

      .tour-title {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 16px !important;
      }

      .box {
        padding: 0px !important;
      }

    }

    .multi-box {
      .box {
        display: block !important;

        .item {
          width: initial !important;

          p {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    &.detail-tour-container {
      //my-tours page
      .tours-block {
        .purchased-tour-box {
          .btns-wrapper {
            .btn {
              width: 168px !important;
              padding: 10px 0px;
            }
          }
        }
      }

      //////////////////
      .detail-tour-section {
        margin-bottom: 40px;

        .h1 {
          font-size: 24px;
          line-height: 33px;

          .small-header {
            font-size: 16px !important;
            line-height: 22px !important;
          }
        }

        &.tour-description {

          .textWrapper {
            width: initial !important;
            padding-left: 0px !important;
          }
        }

        &.meeting-place {
          margin-bottom: 24px;
        }

        &.reviews-section {
          .string-flex {
            display: flex;

            .reviews-total-info {
              margin-left: 40px;
            }
          }
        }


      }

      .faq-tour {
        .question-row {

          .title {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 8px;
          }

          .answer {
            padding-left: 0px !important;
            line-height: 140%;
          }

          &.mb-24 {
            margin-bottom: 16px !important;
          }
        }
      }
    }

    &.my-tours {
      h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 24px;
      }

      .small-header {
        font-size: 16px !important;
        line-height: 22px !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  div.no-purchased-tours {
    // background: none;

    .w640 {
      max-width: 100% !important;
    }

    .btn {
      text-align: center;
    }
  }

  .main-container {
    overflow: hidden;
  }

  div.empty-search-result {
    text-align: left;

    .no-search-result-icon {
      display: none;
    }

    h2 {
      font-size: 22px;
      line-height: 30px;
    }

    .tns-outer {
      position: relative;
      left: -20px;
    }

    .cat-descr {
      padding-left: 0 !important;
    }
  }

  .hosted-tour {
    .btn {
      margin-bottom: 16px;
    }

    .simple-link {
      &.mt-24 {
        margin-top: 6px !important;
      }
    }
  }

  div.tip-box {
    &.half {
      flex: 0 0 100%;
      padding-right: 0;
    }
  }

  .qr-code-wrapper {
    flex-wrap: wrap;

    .qr-code-img {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  div.detail-tour-container .header-part .slider-wrapper li img {
    width: 100%;
    margin: 0;
  }

  div.detail-tour-container .header-part .tour-info {
    padding-left: 0;
    margin-top: 24px;
  }

  div.popup .popup-content {
    padding: 20px 30px;
  }

  .input-group-multi-column {
    flex-wrap: wrap;

    .input-wrapper {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  .main-payments-flexbox {
    flex-direction: column-reverse;
    flex-wrap: wrap;

    .payments-wrapper {
      flex: 0 0 100%;
      width: 100%;
      margin-right: 0 !important;
    }

    .balance-wrapper {
      margin-left: 0 !important;
      width: 100%;
      margin-bottom: 24px;
    }

  }

  .verification-step-box {
    .jc-space-between {
      justify-content: flex-start;
    }
  }

  div.iframeWrapper {
    padding-bottom: 56.25%;
  }

  .meeting-step, .price-step-wrapper {
    .w380 {
      max-width: 100% !important;
      width: 100% !important;
      flex: 0 0 100% !important;
    }

    .height-spacer {
      display: none;
    }
  }

  div.photo-upload-box {
    &:not(.big) {
      width: calc(50% - 16px) !important;
    }
  }

  .gallery-input .gallery .photo-upload-box {

  }

  div.tip-box .text .img-wrapper {
    margin-right: 8px;
  }

  .steps-wrapper {
    .steps-content {
      .input-wrapper label {
        font-size: 14px !important;
        line-height: 19px !important;
      }
    }
  }

  .categories-wrapper {
    &:not(.flat-categories) {
      .category-box {
        flex: 0 0 50% !important;

        &:nth-child(2n) {
          padding-left: 4px !important;
        }

        &:nth-child(2n + 1) {
          padding-right: 4px !important;
        }

        .category-box-inner {
          height: 130px !important;
          padding: 16px !important;
        }
      }
    }

    &.tour-duration-boxes {
      .category-box {
        width: 50% !important;
        max-width: 50% !important;
        flex: 0 0 50% !important;

        .category-box-inner {
          height: initial !important;
        }
      }
    }

    .category-box-inner {
      p {
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 19px !important;
      }
    }

    &.flat-categories {
      .category-box {
        width: 100%;
        flex: 0 0 100%;

        .category-box-inner {
          height: initial !important;
        }
      }
    }
  }

  div.instruction-container .instruction-step .step-box-wrapper,
  div.instruction-container .instruction-step .experience-box-wrapper {
    padding-left: 24px;
  }

  div.instruction-container .experience-box-wrapper .experience-box {
    flex: 0 0 100%;
  }

  .container {
    width: 560px;

    .button-explore {
      width: 100%;
    }

    .block-title {
      font-size: 36px;
      line-height: 42px;
      margin-top: 70px;
    }

    .form-search {
      padding-top: 80px;

      .flex-align-stretch {
        flex-direction: column;

        .search-input {
          width: initial;
        }

        .form-submit-label {
          margin-left: 0px;
          margin-top: 16px;
        }
      }
    }

    .tour-category-item-title {
      font-size: 12px;
      line-height: 16px;
    }

    .tour-item-place {
      font-size: 12px;
      line-height: 16px;
    }

    .tour-item-title {
      font-size: 12px;
      line-height: 16px;
    }

    .button-show-more {
      max-width: 100%;
    }

    .footer-top {
      flex-direction: column;
      align-items: center;
      padding: 40px 0px 16px;

      .footer-top-menu {
        margin-top: 24px;
        margin-bottom: 12px;
        text-align: center;
      }

      .footer-top-contact-us {
        margin-bottom: 24px;
      }

      .footer-top-title {
        text-align: center;
      }

      .footer-top-social {
        justify-content: center;
      }
    }

    .footer-bottom-side-menu {
      width: 100%;
      margin-top: 20px;
    }
  }
  .dashboard-container {
    width: 560px !important;

    .tours-container {
      margin-left: -8px;
      margin-right: -8px !important;

      .tour-box {
        width: calc(50% - 18px);

        .img-wrapper {
          height: 170px;

          img {
            height: 170px;
          }
        }
      }
    }


    &.detail-tour-container {

      //my-tours page
      .tours-block {
        .purchased-tour-box {
          flex-direction: column;

          .img-wrapper {
            width: initial;

            img {
              width: 100%;
            }
          }

          .btns-wrapper {
            flex-direction: column-reverse;
            align-items: center !important;

            .btn {
              width: 100% !important;
            }

            .ta-center {
              margin-top: 26px !important;
            }


          }
        }
      }

      .settings-form-wrapper {
        .form-content {
          .row {
            align-items: flex-end;

            &.active {
              .column-value {
                width: 100%;

                .input-field {
                  .general-input-wrapper {
                    flex: 0 0 100%;
                    width: 100% !important;
                  }

                  .input-actions-wrapper {
                    display: flex;
                    flex: 1;
                    width: 100%;
                  }

                  button {
                    width: 50% !important;
                    flex: 0 0 50% !important;
                  }
                }

                .date-of-birth-controls-wrapper {
                  width: 100%;
                  flex: 0 0 100%;

                  .general-input-wrapper {
                    flex: 0 0 calc(33% - 10px);
                    width: calc(33% - 10px) !important;

                    &:first-child {
                      flex: 0 0 33%;
                      width: 33% !important;
                    }
                  }
                }
              }

              .row-control {
                display: none;
              }
            }

            .main-content {
              flex-wrap: wrap;

              .column-title {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100%;

                margin-bottom: 8px;
              }
            }

            // .general-input-wrapper {
            //   width: 280px !important;
            // }

            // .submit-step {
            //   width: 280px!important;
            // }
          }
        }
      }

      //страничка детального описания тура
      .detail-tour-section {
        &.header-part {
          display: block !important;

          &.header-part-purchased {
            .img-wrapper {
              width: initial !important;
              margin-right: 0px !important;
              margin-bottom: 16px;
            }

            .tour-info {
              min-width: initial;

              &.multi-box {

                .box {
                  padding: 16px;

                  .item {
                    margin-bottom: 16px !important;

                    p {
                      font-size: 16px;
                      line-height: 22px;
                    }

                    img {
                      width: 24px;
                    }
                  }
                }
              }
            }
          }
        }

        &.meeting-place {
          .h1 {
            display: flex;
            flex-direction: column;

            .small-header {
              margin-top: 16px;
            }
          }
        }

        &.reviews-section {
          .reviews-detail-row {
            flex-direction: column !important;

            .review-detail {
              width: 100% !important;
              max-width: 100% !important;
              margin-right: 0px;
            }
          }

          .like-tour-boxes {
            flex-wrap: wrap;

            .tour-box {
              width: calc(50% - 19px);

              .img-wrapper {
                height: 170px;

                img {
                  height: 170px;
                }
              }
            }
          }
        }
      }
    }

    //hosted-tour page
    .hosted-tours-wrapper {
      .hosted-tour {
        flex-direction: column;

        .tour-status {
          width: initial !important;
          writing-mode: horizontal-tb !important;

          span {
            transform: initial;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .verification-step-box {
    .jc-space-between {
      justify-content: flex-start;
    }

    .general-input-wrapper {
      flex: 0 0 100% !important;
      width: 100% !important;
      padding-right: 24px;

      .photo-upload-box {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }

  .host-information-section {
    .hero-info {
      flex-direction: column;
      align-items: flex-start !important;

      .contact-btn-wrapper {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        margin-top: 16px;
      }
    }
  }

  .empty-search-result .no-search-result-icon {
    left: calc(100vw - 900px / 2) !important;
  }

  .container {
    width: 450px;

    .block-title {
      font-size: 24px;
      line-height: 33px;
    }
  }
  .dashboard-container {
    width: 450px !important;

    .tours-container, .like-tour-boxes {
      margin-left: -4px;
      margin-right: -4px !important;

      .tour-box {
        margin-right: 4px;
        margin-left: 4px;
        margin-bottom: 8px;
        width: calc(50% - 10px) !important;
      }
    }

    &.detail-tour-container {
      //my-tours page
      .tours-block {
        .purchased-tour-box {

          .fw {
            flex-direction: column;

            .img-wrapper {
              width: initial;

              img {
                width: 100%;
              }
            }

            .text-wrapper {
              margin-left: 0px;
              margin-top: 16px;
            }
          }
        }
      }

      //setting page
      .settings-form-wrapper {
        .form-content {
          .row {
            align-items: flex-end;
            padding: 8px 0;

            .main-content {
              flex-direction: column;

              .input-field {
                flex-direction: column;
              }

              .column-title {
                flex: 0 0 0px;
                margin-bottom: 8px;
              }
            }
          }
        }
      }


      //////////
      .tour-description {
        .notice {
          p {
            font-size: 16px !important;
          }
        }
      }

      //hosted-tour page 
      .hosted-tours-wrapper {
        .hosted-tour {
          .content {
            .header-content, .mb-24 {
              flex-direction: column;
              margin-bottom: 16px !important;

              .img-wrapper {
                width: 100%;
                max-width: 100%;
                height: 271px;
                margin-right: 0px;
                margin-bottom: 16px !important;

                img {
                  max-width: inherit;
                }

              }

              .text-wrapper {
                .info-rows-wrapper {
                  margin-bottom: 16px !important;

                }
              }
            }

            .status-content {
              margin-bottom: 24px !important;

              .status-item {
                margin-bottom: 16px !important;

                p {
                  font-size: 16px;
                  line-height: 22px;
                }

                .status {
                  margin-bottom: 10px !important;
                }
              }
            }

            .ta-center {
              .btn {
                width: 100% !important;
              }

              .simple-link {
                margin-top: 26px;
              }
            }
          }
        }
      }
    }

    ////////////////////////

    .calendar-month-column {
      flex-direction: column;

      .is-tourzy-datepicker {
        margin-bottom: 16px;
        margin-right: 0px !important;

        .datepicker {
          width: initial;
        }
      }
    }
  }

  //модалка логин 
  .form-cover {
    max-width: 100%;
    top: -104vh;
    left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-menu .mobile-menu-container {
    margin-left: 0;
    margin-right: 0;
  }

  .header-part-purchased {
    .hero-info {
      align-items: stretch !important;

      .btn {
        width: 100% !important;
      }
    }
  }

  div.popup .popup-content {
    padding: 16px 16px;
  }

  button.submit-verification-step {
    width: 100% !important;
    flex: 0 0 100% !important;
  }

  .verification-step-box {
    .general-input-wrapper {
      padding-right: 0px;
    }
  }

  div.photo-upload-box {
    padding-left: 0;
    padding-right: 0;
  }

  div.steps-wrapper .submit-step-wrapper button {
    width: 100%;
  }

  .popup {
    &#book, &#pay, &#cancel, &#activate {
      .popup-content {
        padding: 15px 15px !important;

        &:not(:first-child) {
          padding-top: 0;
        }

        &:first-child {
          padding-top: 35px !important;
        }
      }

      .is-book-datepicker {
        .datepicker {
          width: 290px;

          .datepicker--content {
            .datepicker--cell {
              margin-top: 12px;
              margin-bottom: 12px;
              margin-left: calc((14.28571% - 28px) / 2);
              margin-right: calc((14.28571% - 28px) / 2);
              width: 28px;
              height: 28px;
              font-size: 18px;
            }
          }
        }
      }
    }

    &#contact-host, &#share-tour {
      .popup-content {
        padding: 20px !important;
      }

      .btn {
        width: 100% !important;
      }
    }
  }

  .empty-search-result .no-search-result-icon {
    left: calc(100vw - 600px / 2) !important;
  }

  .half-width-tours-wrapper {
    .tour-item {
      flex: 0 0 100% !important;
    }
  }

  .container {
    width: 390px;
  }
  .dashboard-container {
    width: 390px !important;

    .tour-box {
      .img-wrapper {
        .tag {
          left: 4px;
          top: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {

  .reviews-mob-view {
    flex-direction: column;
    align-items: flex-start !important;

    .reviews-count {
      margin-bottom: 10px;
    }
  }

  #topCategories > .tns-item {
    width: 240px !important;
  }

  .container {
    width: 310px;

    .footer-bottom-side-menu-item {
      padding: 0;
    }
  }
  .dashboard-container {
    width: 310px !important;

    &.detail-tour-container {

      .tour-box {

        .text-wrapper {

          .title {
            font-size: 12px;
            line-height: 16px;
          }

          .country {
            font-size: 12px;
            line-height: 16px;
          }

          .stars-wrapper {
            img {
              width: 12px;
            }
          }

          .price {
            font-size: 12px;

            .dollar-sign {
              font-size: 12px;
            }
          }

          .time {
            font-size: 12px;
            line-height: 16px;
          }


        }

        .img-wrapper {
          height: 136px !important;

          img {
            height: 136px !important;
          }
        }
      }

      .adaptive-filter-wrapper {
        .filter-wrapper {
          .filter-btn {
            padding: 8px 37px;
            font-size: 14px;
            line-height: 19px;
          }
        }

        .sort-filter {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
}


