@import "elements/tour-preview";

@import "elements/tour-category-preview";

.slider-cover {
  max-width: calc(100% + 23px);
  margin: 0 -23px 17px;
  position: relative;
  .next-item {
    position: absolute;
    right: 8px;
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
    border-radius: 50%;
    transition: 0.5s all;
    cursor: pointer;
    z-index: 2;
    &:hover {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 4px rgba(163, 163, 163, 1);
    }
    &:active,&:focus {
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
    }
    img {
      transform: rotate(-180deg);
      margin-left: 3px;
    }
    &[aria-disabled="true"] {
      opacity: 0;
      cursor: inherit;
    }
  }
  .prev-item {
    position: absolute;
    left: 8px;
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
    border-radius: 50%;
    transition: 0.5s all;
    cursor: pointer;
    z-index: 2;
    &:hover {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 4px rgba(163, 163, 163, 1);
    }
    &:active,&:focus {
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0px 4px rgba(163, 163, 163, 0.5);
    }
    img {
      margin-left: -3px;
    }
    &[aria-disabled="true"] {
      opacity: 0;
      cursor: inherit;
    }
  }
}

.slider-items-cover {
  overflow: hidden;
  width: 100%;
}

.popular-show-more {
  width: 100%;
}
