<template>
  <label class="btn btn-sm btn-success hover-cursor" @click="visible = true">
    <b-spinner v-if="loading" small /> Approve

    <b-modal
      cancel-variant="outline-secondary"
      centered
      :visible="visible"
      @change="val => visible = val"
      @ok.prevent="handleClick"
    >
      <div class="text-center">Are you sure?</div>
    </b-modal>
  </label>
</template>
<script>
import {approveTour} from "@admin-api/tour";

export default {
  props: {
    tourId: Number
  },
  data() {
    return {
      loading: false,
      visible: false
    }
  },
  methods: {
    handleClick(){
      this.visible = false
      this.loading = true

      approveTour(this.tourId).then(response => {
        this.$emit('success')
      })
    }
  }
}
</script>