<template>
  <label class="btn btn-sm btn-danger hover-cursor" @click="visible = true">
    <b-spinner v-if="loading" small /> Decline

    <b-modal
      cancel-variant="outline-secondary"
      centered
      :visible="visible"
      @change="val => visible = val"
      @ok.prevent="handleClick"
    >
      <validation-observer ref="formRef" #default="{invalid}">
        <b-form-group label="Reason" class="mt-2">
          <validation-provider #default="{ errors }" name="reason" rules="required|min:10">
            <b-form-textarea
              v-model="reason"
              :state="errors.length > 0 ? false:null"
              type="text"
              placeholder="Reason"
            />
            <small class="text-danger">{{ errors[0] }}</small>
          </validation-provider>
        </b-form-group>
      </validation-observer>
    </b-modal>
  </label>
</template>
<script>
import {ValidationObserver, ValidationProvider} from "vee-validate";
import {declineTour} from "@admin-api/tour";

export default {
  components: {ValidationObserver, ValidationProvider},
  props: {
    tourId: Number
  },
  data() {
    return {
      loading: false,
      visible: false,
      reason: ''
    }
  },
  methods: {
    handleClick(){
      this.$refs.formRef.validate().then(async success => {
        if (success) {

          this.visible = false
          this.loading = true

          declineTour({id: this.tourId, reason: this.reason}).then(response => {
            this.$emit('success')
          })
        }
      })
    }
  }
}
</script>