<template>
  <b-row>
    <b-col cols="12">
      <b-card>
        <b-table
          :fields="fields"
          :items="items"
          :busy="loading"
          no-local-sorting
          show-empty
          responsive
          empty-text="No matching records found"
          @sort-changed="updateSort"
        >
          <template #head(status)="{item}">
            <div class="d-flex align-items-center">
              <span class="mr-3">Status</span>
              <v-select
                v-model="filters.status"
                :options="statuses"
                :reduce="i => i.id"
                style="width: 150px"
                placeholder="All"
                @input="fetchTours"
              />
            </div>
          </template>

          <template #cell(id)="{item}">
            <b-link :href="`/tour/detail/${item.id}`" target="_blank">{{ item.id }}</b-link>
          </template>

          <template #cell(created_at)="{item}">
            {{item.created_at | moment("MMMM D, Y  HH:mm")}}
          </template>

          <template #cell(verification_status)="{item}">
            <div class="d-flex justify-content-between align-items-center">
              <b-badge v-if="item.verification_status === 1" variant="success">
                <i class="mdi mdi-run icon-sm"/> Accepted
              </b-badge>
              <b-badge v-else-if="item.verification_status === 2" variant="danger">
                <i class="mdi mdi-run icon-sm"/> Edits Required
              </b-badge>
              <b-badge v-else variant="warning">
                <i class="mdi mdi-run icon-sm"/> New
              </b-badge>

              <div class="form-group m-0 ml-3" v-if="item.verification_status !== 1">
                <div class="btn-group btn-group-toggle d-flex align-items-center">
                  <approve :tour-id="item.id" @success="$set(item, 'verification_status', 1)"/>
                  <decline v-if="item.verification_status !== 2" :tour-id="item.id" @success="$set(item, 'verification_status', 2)"/>
                </div>
              </div>
            </div>
          </template>

          <template #cell(author)="{item}">
            <b-link :href="`/admin/user/${item.user.id}`" target="_blank">
              {{ item.user.id }} | {{ item.user.first_name }} {{ item.user.last_name }}
            </b-link>
          </template>
        </b-table>

        <div class="d-flex justify-content-center align-items-center">
          <b-pagination
            :value="pagination.page"
            :total-rows="pagination.total"
            :per-page="pagination.length"
            @change="updatePagination($event)"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
            page-class="test"
          />
        </div>
      </b-card>
    </b-col>
  </b-row>
</template>
<script>
import Approve from './Approve'
import Decline from './Decline'

import {getTourList} from '@admin-api/tour'

export default {
  components: {Approve, Decline},
  data() {
    return {
      loading: false,
      items: [],
      fields: [
        {key: 'id', sortable: true},
        {key: 'created_at', sortable: true},
        {key: 'name', label: 'Tour Name'},
        {key: 'author', label: 'Author'},
        {key: 'verification_status', label: 'Verification Status'},
      ],
      pagination: {
        page: 1,
        length: 10,
        total: 0,
        sortBy: 'desc',
        sortParam: 'id',
      },
      statuses: [
        {id: 0, text: 'New'},
        {id: 1, text: 'Accepted'},
        {id: 2, text: 'Declined'},
      ],
      filters: {
        status: null,
      }
    }
  },
  created() {
    this.fetchTours()
  },
  methods: {
    updatePagination(page) {
      this.pagination.page = page

      this.fetchTours()
    },
    updateSort(ctx) {
      this.pagination.sortParam = ctx.sortBy
      this.pagination.sortBy = ctx.sortDesc ? 'desc' : 'asc'

      this.fetchTours()
    },
    async fetchTours() {
      this.loading = true
      try {
        const {items, total} = await getTourList({
          page: this.pagination.page,
          length: this.pagination.length,
          sortBy: this.pagination.sortBy,
          sortParam: this.pagination.sortParam,
          statusFilter: this.filters.status,
        })

        this.items = items
        this.pagination.total = total
        this.loading = false
      } catch (e) {
        this.loading = false
      }
    }
  }
}
</script>