<template>
  <div class="dashboard-container detail-tour-container">
    <h1>Settings</h1>

    <spinner v-if="loading" height="350"/>

    <div v-else class="settings-form-wrapper w760 mb-100">
      <p class="form-title h2 color-green mb-40">
        <img src="@core-img/icons/user-icon.svg" alt="">
        General settings
      </p>

      <div class="photo-settings" @click="uploadedFilesModalVisible = true">
        <div class="photo-wrapper" :class="{'no-photo': !user.avatar}">
          <img v-if="user.avatar" class="user-photo" :src="user.avatar.small_src" alt="">
        </div>
        <span class="label">User photo</span>
      </div>

      <validation-observer ref="formRef" #default="{invalid}">
        <div class="form-content w750">
          <div class="row">
            <div class="main-content">
              <div class="column-title">Name:</div>
            </div>

            <div class="column-value">
              <div class="input-field">
                <div class="general-input-wrapper input-wrapper">
                  <input
                    v-model="user.first_name"
                    class="step-data-control input-control"
                    type="text"
                    placeholder="Write a new name"
                  >
                  <div class="validation-message"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-content w750">
          <div class="row">
            <div class="main-content">
              <div class="column-title">Surname:</div>
            </div>

            <div class="column-value">
              <div class="input-field">
                <div class="general-input-wrapper input-wrapper">
                  <input
                    v-model="user.last_name"
                    class="step-data-control input-control"
                    type="text"
                    placeholder="Write a new name"
                  >
                  <div class="validation-message"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-content w750">
          <div class="row">
            <div class="main-content">
              <div class="column-title">Gender:</div>

              <div class="column-value">
                <div class="fw ai-center">
                  <label class="control control--radio mb-0">Female
                    <input type="radio" name="radio" value="female" v-model="user.gender"/>
                    <div class="control__indicator"/>
                  </label>

                  <label class="control control--radio mb-0 ml-100">Male
                    <input type="radio" name="radio" value="male" v-model="user.gender"/>
                    <div class="control__indicator"/>
                  </label>

                  <label class="control control--radio mb-0 ml-100">Other
                    <input type="radio" name="radio" value="other" v-model="user.gender"/>
                    <div class="control__indicator"/>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-content w750">
          <div class="row">
            <div class="main-content">
              <div class="column-title">Date of birth:</div>
              <div class="column-value d-flex">
                <validation-provider #default="{ errors }" name="day_of_birth" rules="required">
                  <div class="general-input-wrapper input-wrapper  w90 mr-3" :class="{'has-error': errors.length}">
                    <v-select
                      v-model="user.day_of_birth"
                      :options="Array.from(Array(31)).map((v, i) => ({id: i + 1, text: i + 1}))"
                      :class="{'is-invalid' : errors.length}"
                      :reduce="i => i.id"
                      placeholder="Day"
                    />
                  </div>
                </validation-provider>
                <validation-provider #default="{ errors }" name="month_of_birth" rules="required">
                  <div class="general-input-wrapper input-wrapper  w150 mr-3" :class="{'has-error': errors.length}">
                    <v-select
                      v-model="user.month_of_birth"
                      :options="monthNames"
                      :class="{'is-invalid' : errors.length}"
                      :reduce="i => i.id"
                      placeholder="Month"
                    />
                  </div>
                </validation-provider>
                <validation-provider #default="{ errors }" name="year_of_birth" rules="required">
                  <div class="general-input-wrapper input-wrapper w120 " :class="{'has-error': errors.length}">
                    <v-select
                      v-model="user.year_of_birth"
                      :options="Array.from(Array(120)).map((v, i) => ({id: i + 1900, text: i + 1900}))"
                      :class="{'is-invalid' : errors.length}"
                      :reduce="i => i.id"
                      placeholder="Month"
                    />
                  </div>
                </validation-provider>
              </div>
            </div>
          </div>
        </div>

        <div class="form-content w750">
          <div class="row">
            <div class="main-content">
              <div class="column-title">Email:</div>
            </div>

            <div class="column-value">
              <div class="input-field">
                <div class="general-input-wrapper input-wrapper">
                  <input
                    v-model="user.email"
                    class="step-data-control input-control"
                    type="text"
                    placeholder="Write a email"
                  >
                  <div class="validation-message"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-content w750">
          <div class="row">
            <div class="main-content">
              <div class="column-title">Phone number:</div>
            </div>

            <div class="column-value">
              <div class="input-field">
                <div class="general-input-wrapper input-wrapper">
                  <input
                    v-model="user.phone"
                    class="step-data-control input-control"
                    type="text"
                    placeholder="Write a phone number"
                  >
                  <div class="validation-message"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-content w750 text-right mt-5">
          <button class="btn filled orange w280" @click="handleSave">
            Save
          </button>
        </div>

      </validation-observer>


      <uploaded-files-modal
        :visible.sync="uploadedFilesModalVisible"
        :file.sync="user.avatar"
        @success="handleSuccessUploadModal"
      />
    </div>

  </div>
</template>
<script>
import {ValidationObserver, ValidationProvider} from "vee-validate";
import vSelect from 'vue-select'

import UploadedFilesModal from '@core/components/uploaded-files-modal';
import ToastificationContent from "@core/components/toastification/ToastificationContent";
import {getSettings, saveSettings} from '@core-api/user';

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
    vSelect,
    UploadedFilesModal
  },
  data() {
    return {
      user: null,
      loading: true,
      monthNames: [
        {id: 1, text: 'January'},
        {id: 2, text: 'February'},
        {id: 3, text: 'March'},
        {id: 4, text: 'April'},
        {id: 5, text: 'May'},
        {id: 6, text: 'June'},
        {id: 7, text: 'July'},
        {id: 8, text: 'August'},
        {id: 9, text: 'September'},
        {id: 10, text: 'October'},
        {id: 11, text: 'November'},
        {id: 12, text: 'December'},
      ],
      uploadedFilesModalVisible: false
    }
  },
  created() {
    getSettings().then(response => {
      this.user = response
      this.loading = false
    })
  },
  methods: {
    handleSave() {
      saveSettings(this.user).then(response => {
        this.$toast({
          component: ToastificationContent,
          position: 'top-right',
          props: {title: 'Success', text: 'Settings was successfully saved', icon: 'CheckIcon', variant: 'success',},
        })
      })
    },
    handleSuccessUploadModal(file) {
      this.$set(this.user, 'avatar', file)
      this.uploadedFilesModalVisible = false
    }
  }
}
</script>