body {
  overflow-x: hidden;
}

.wrapper {
  background-color: transparent;
  text-align: center;
}

.wrapper-bg {
  position: relative;
  background-image: url('~@core-img/404/bg-404.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.wrapper-content__title {
  color: #25B29D;
  font-weight: 600;
  font-size: 48px;
  padding-top: 96px;
  z-index: 10;
}

.wrapper-content__404 {
  font-weight: 700;
  font-size: 245px;
  color: #25B29D;
}

.wrapper-content__info {
  color: #243D44;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 215px;
  text-transform: uppercase;
}

.mobile-menu {
  display: none;
}

.filter-btn {
  display: none;
}

.half-width-tours-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  .tour-item {
    flex: 0 0 calc(50% - 8px);
    margin: 4px;
  }
}