.fw {
  display: flex;

  &.fd-column {
    flex-direction: column;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-space-between {
    justify-content: space-between;
  }

  &.jc-flex-start {
    justify-content: flex-start;
  }

  &.jc-flex-end {
    justify-content: flex-end;
  }

  &.ai-center {
    align-items: center;
  }

  &.ai-start {
    align-items: flex-start;
  }

  &.ai-end {
    align-items: flex-end;
  }
}

.flex-1 {
  flex: 1;
}

.flex-100 {
  width: 100%;
  flex: 0 0 100%;
}

div.mt-0 {
  margin-top: 0 !important;
}


.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mt-64 {
  margin-top: 64px !important;
}

.mt--24 {
  margin-top: -24px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.full-width {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
}

.w90 {
  width: 90px !important;
}

.w120 {
  width: 120px !important;
}
.w150 {
  width: 150px !important;
}

.w270 {
  width: 270px !important;
}

.w235 {
  width: 235px !important;
}

.w245 {
  width: 245px !important;
}

.w280 {
  width: 280px !important;
}

.w290 {
  width: 290px !important;
}

.w350 {
  width: 350px !important;
}

.w380 {
  width: 380px !important;
}

.w445 {
  width: 445px !important;
}

.w435 {
  width: 435px !important;
}

.w500 {
  width: 500px !important;
}

.w540 {
  width: 540px !important;
}

.w640 {
  width: 640px !important;
}

.w700 {
  width: 700px !important;
  max-width: 100%;
}

.w760 {
  width: 760px !important;
}

.w800 {
  width: 800px !important;
}

.w900 {
  width: 900px !important;
}

.w1000 {
  width: 1000px !important;
}

.w100p {
  width: 100% !important;
}

.iframeWrapper {
  position: relative;
  padding-bottom: 26.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.w25 {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  flex: 0 0 25%;
}


.pt-0 {
  padding-top: 0 !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.w-initial {
  width: initial !important;
  max-width: initial !important;
  min-width: initial !important;
}

.block-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  outline: none;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.opacity-transition {
  transition: all .15s ease;

  &.opacity0 {
    opacity: 0 !important;
  }

  &.opacity1 {
    opacity: 1 !important;
  }
}

.hidden {
  display: none !important;
}


.ml-4 {
  margin-left: 4px;
}


.round {
  border-radius: 50%;
  overflow: hidden;
}