.search-form-row {
  .general-input-wrapper {
    position: relative;

    .search-icon {
      position: absolute;
      left: 12px;
      top: 12px;
    }

    .clear-icon {
      position: absolute;
      right: 12px;
      top: 14px;
      opacity: 0;
    }

    input {
      padding-left: 36px !important;
      padding-right: 36px !important;

      &:focus {
        & ~ .search-icon, & ~ .search-icon path,
        & ~ .clear-icon, & ~ .clear-icon path {
          fill: #25b29d;
          opacity: 1;
        }
      }
    }

  }
}

.empty-search-result {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 600px;
  max-width: 100%;

  .no-search-result-icon {
    position: absolute;
    left: calc(100vw - 1250px / 2);
    margin-top: -350px;
    z-index: -1;
  }

  .tns-ovh,
  .tns-inner {
    overflow: visible !important
  }

  .underheader-text {
    margin-bottom: 80px;
  }

  .cat-descr {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-family: Open Sans;
    font-size: 36px;
    line-height: 49px;
    color: #243D44;
    margin-bottom: 24px;
  }

  .tour-category-item-cover {
    &:not(:nth-child(1)):not(:nth-child(2)) {
      display: none;
    }
  }
}

.mobile-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;

  display: none;

  &.active {
    display: block;
  }

  padding: 24px 16px;

  > .fw {
    flex-direction: column;

    .input-wrapper {
      width: 100% !important;
      margin-bottom: 16px;
    }
  }

  .datepicker-dropdown {
    width: 280px !important;
  }

  .price-inputs-wrapper {
    display: flex;

    input {
      width: calc(50% - 4px);
      flex: 0 0 calc(50% - 4px);
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
        margin-left: 4px;
      }
    }
  }

  .save-buttons-wrapper {
    margin-top: 8px;

    button {
      width: calc(50% - 4px);
      flex: 0 0 calc(50% - 4px);
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
        margin-left: 4px;
      }
    }
  }


  .mobile-filter-header {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h2 {
      margin-bottom: 0;
    }


  }
}