.input-wrapper {
	display: flex;
	flex-direction: column;

	width: 600px;
	max-width: 100%;

	margin-bottom: 5px;

	&.price-wrapper {
		position: relative;

		input {
			padding-left: 60px;
		}

		&::after {
			content: 'USD';
			position: absolute;
			bottom: 34px;
			left: 18px;

			font-weight: bold;
			color: #484848;
		}
	}

	&.height-spacer {
		height: 87px;
	}

	label, input {
		width: 100%;
	}

	label {
		color: #484848;
		margin-bottom: 12px;
		display: inline-block;
		font-weight: 600;
	}

	input {
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 10px 16px;

		&::placeholder {
			color: #A4A4A4;
		}
	}

	.ql-container {
		width: 100%;

		.ql-editor {
			height: 150px;
			width: 100%;
		}
	}

	&.default-hidden {
		display: none;

		&.show {
			display: flex;
		}		
	}
}

.general-input-wrapper {
	.validation-message {
		text-align: right;
		font-size: 12px;
		line-height: 16px;
		margin-top: 5px;

		opacity: 0;
		transition: all .25s ease;

		height: 16px;
		overflow: hidden;
	}

	&.has-error,		
	&.has-good {
		.validation-message {
			opacity: 1;
		}
	}		

	&.has-error {
		.validation-message {
			color: #FF2020;
		}

		.input-control,
		.select2-container--default .select2-selection--single {
			border-color: #FF2020 !important;	
		}

		.photo-upload-box {
			border-color: #ff2020;
		}
	}
	

	.input-hint {
		display: none;
	}
	&.has-hint {
		position: relative;

		.input-hint {
			display: block;
			cursor: pointer;
			user-select: none;
			font-size: 14px;
			line-height: 19px;
			color: #25B29D;
			position: absolute;
			top: 10px;
			right: 16px;
			
			&:not(.active) {
				.show-active {
					display: none;
				}
			}

			&.active {
				.show-not-active {
					display: none;
				}
			}
		}
	}
}

.btn {
	border-radius: 4px;
	padding: 10px 25px;
	font-weight: 500;

	position: relative;

	border: none;
	transition: all .25s ease;
	display: inline-block;

	&.disabled {
		opacity: 0.35;
		pointer-events: none;
	}

	&.filled {
		&.orange {
			background: #FC4A1A;
			color: #fff;

			&:hover {
				background: #fb3d0a;
			}
		}

		&.green {
			background: #25B29D;
			color: #fff;
		}
	}

	&.unfilled {
		background-color: transparent;
		&.orange {
			border: 1px solid #FC4A1A;
			color: #FC4A1A;
		}
	}

	.w280 {
		width: 280px;
	}

	&::before {
		display: none;
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: #FC4A1A;
	}

	&::after {
		display: none;
		content: ' ';
		border: 4px solid transparent;
		border-top: 4px solid #fff;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		width: 16px;
		height: 16px;
		-webkit-animation: spin 1s linear infinite;
		-o-animation: spin 1s linear infinite;
		animation: spin 1s linear infinite;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -8px;
		margin-top: -12px;
	}

	&.loading {
		&::before,
		&::after {
			display: block;
		}
	}
}

.select2-container {
	&:not(.select2-container--open) {
		width: 100% !important;
	}

	.select2-selection__placeholder {
		color: #A4A4A4 !important;
	}

	.select2-selection--single {
		border-color: #e0e0e0 !important;
		height: 40px !important;

		.select2-selection__rendered {
			padding: 6px 16px !important;
		}

		.select2-selection__arrow {
			transition: all .25s ease;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.46397 7.31415L13.3081 1.59696C13.564 1.34609 13.564 0.93965 13.3081 0.68815C13.0522 0.437283 12.6366 0.437283 12.3807 0.68815L7.00032 5.95186L1.61991 0.688783C1.36403 0.437917 0.948426 0.437917 0.691905 0.688783C0.436031 0.93965 0.436031 1.34673 0.691905 1.59759L6.53603 7.31478C6.78926 7.56185 7.21139 7.56185 7.46397 7.31415Z' fill='%23A4A4A4'/%3E%3C/svg%3E%0A");
			background-position: center;
    		background-repeat: no-repeat;
			height: 40px !important;
			width: 40px !important;
			
			b {
				display: none !important;
			}
		}
	}

	&.select2-container--open {
		.select2-selection__arrow {
			transform: rotate(180deg);
		}
	}
}

.textarea-wrapper {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 16px;

	textarea {
		height: 80px;
		border: none;
		width: 100%;
		resize: none;

		&::placeholder {
			font-family: "Open Sans";
		}
	}

	.counter {
		font-size: 12px;
		line-height: 16px;
		color: #A4A4A4;
		text-align: right;
	}
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #484848;
    padding: 5px 10px;
    font-size: 14px;
}

.checkbox > input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
    padding: 0 !important;
  }

.checkbox > input:checked {
    border: 1px solid #fff;
    background-color: #e0e0e0;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;
	left: 5px;
	top: 7px;
}

.checkbox > input:active {
    border: 1px solid #e0e0e0;
}

.light {
	font-weight: 400 !important;
	color: #a4a4a4 !important;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}


.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
	line-height: 19px;
	padding-bottom: 1px;
	user-select: none;
	font-weight: 400 !important;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
}

.control--radio {
	position: relative;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border-color: #25B29D;
}

.control input:checked ~ .control__indicator {
	border-color: #25B29D;
 	background: #fff;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox {
	overflow: hidden
}

.control--checkbox .control__indicator:after {
	left: 6px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.control--checkbox input:checked ~ .control__indicator {
	background-color: #25B29D;
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  left: 4px;
  top: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #25B29D;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.simple-link {
	color: #24b29d;
	background: transparent;
	border: none;

	cursor: pointer;

	&.orange {
		color: #FC4A1A;
	}

	.icon {
		position: relative;
		top: -2px;
		margin-right: 4px;
	}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.input-control-wrapper {
	position: relative;

	.input-counter {
		position: absolute;
		right: 12px;
		top: 14px;

		font-size: 12px;
		color: #A4A4A4;
	}

	input {
		padding-right: 50px;
	}
}


.steps-content {
	.select2-results__option[id$="-0.5"], 
	.select2-results__option[id$="-1"], 
	.select2-results__option[id$="-2"] {
		display: none;
	}
}

.ql-editor.ql-blank::before {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	/* identical to box height */

	display: flex;
	align-items: flex-end;

	color: #A4A4A4;
}