.progress-wrapper {
	p {
		font-size: 14px;
		line-height: 19px;
		color: #A4A4A4;
		margin-bottom: 8px;
	}

	.progress-bar {
		background: #EBF2F6;

		&, .progress {
			height: 6px;

			border-radius: 5px;
			overflow: hidden;
		}

		.progress {
			transition: all .25s ease;
			width: 0%;
			background: #25B29D;
		}
	}
}