.settings-form-wrapper {
	.form-title {
		position: relative;

		img {
			margin-top: -12px;
		}

		&::before {
			content: '';
			display: block;
			width: 44px;
			height: 44px;
			background: rgba(37, 178, 157, 0.2);
			border-radius: 50%;
			position: absolute;
			top: -16px;
			left: -18px;
		}
	}

	.form-content {
		.row {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			padding: 24px 0;
			border-bottom: 1px solid #E0E0E0;
		}

		.main-content { 
			display: flex;
			align-items: flex-start;
			flex: 1;
			
			.input-field {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 16px;
			}
		}

		.column-title {
			width: 190px;
			max-width: 190px;
			flex: 0 0 190px;
			line-height: 25px;
		}

		.row-control {
			line-height: 25px;
		}
	}

	.row {
		&:not(.active) {
			.main-content { 
				.input-field {
					display: none;
				}
			}

			.hide-not-active {
				display: none;
			}
		}

		&.active {
			.hide-active {
				display: none;
			}
		}
	}
}

.photo-settings {
	display: flex;
	align-items: center;

	[name="user-photo-input"] {
		display: none !important;
	}

	.photo-wrapper {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 12px;
		cursor: pointer;

		&:before {
			content: 'edit';
			font-size: 16px;
			line-height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #25B29D;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 3;
			opacity: 0;
		}

		&::after {
			content: ' ';
			display: block;
			background: rgba(0, 0, 0, 0.6);
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			opacity: 0;
		}

		&:hover, &.no-photo {
			&::after, &::before {
				opacity: 1;
			}
		}
	}


}