.breadcrumbs-wrapper {
  margin-bottom: 32px;

  ul {
    list-style: none;

    display: flex;

    li {
      position: relative;

      display: flex;
      align-items: center;
      margin-right: 5px;

      &::after {
        content: ' ';
        display: block;
        width: 4px;
        height: 8px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.8938 3.71448L0.626834 0.118096C0.483482 -0.0393652 0.251228 -0.0393652 0.107514 0.118096C-0.0358381 0.275556 -0.0358381 0.531314 0.107514 0.688774L3.11535 3.9998L0.107876 7.31083C-0.0354761 7.46829 -0.0354761 7.72405 0.107876 7.88191C0.251228 8.03937 0.483844 8.03937 0.627196 7.88191L3.89416 4.28552C4.03534 4.12969 4.03534 3.86991 3.8938 3.71448Z' fill='%23E0E0E0'/%3E%3C/svg%3E%0A");
        margin-left: 5px;
      }

      a, span {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #A4A4A4;
      }

      &:last-child {
        a, span {
          color: #25B29D !important;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}