.irs {
  .irs-grid,
  .irs-bar,
  .irs-max,
  .irs-min {
    display: none !important;
  }

  .irs-line {
    height: 1px !important;
    background: #E0E0E0 !important;
    top: 12px;
  }

  .irs-handle {
    width: 12px !important;
    height: 12px !important;
    background-color: #25B29D !important;
    border-radius: 50% !important;
    top: 6px;

    &::before {
      content: ' ';
      display: block;
      width: 18px;
      height: 18px;
      background: rgba(37, 178, 157, 0.2);
      border-radius: 50% !important;

      position: absolute;
      left: -3px;
      top: -3px;
    }

    i {
      display: none !important;
    }
  }

  .irs-from, .irs-to {
    background-color: transparent !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #25B29D !important;
    top: 20px;

    &::before {
      display: none !important;
    }
  }
}