.header-part {
	display: flex;

	.slider-wrapper {
		overflow: hidden;
		
		ul {
			display: flex;
		}

		li {
			border-radius: 4px;
			overflow: hidden;
			
			img {
				height: 450px;
				width: 310px;
				margin-left: 10px;
				margin-right: 10px;
			}
		}

		.slider-controls-wrapper {
			display: flex;
			justify-content: flex-end;
			margin-right: 32px;
			padding-top: 7px;
			padding-bottom: 7px;

			margin-top: -23px;
			position: relative;
			z-index: 2;

			.slider-controls {
				display: flex;
				background: #FFFFFF;
				box-shadow: 0px 0px 8px rgba(9, 35, 47, 0.20012);
				border-radius: 4px;

				.control-item {
					padding: 8px 15px;
					border-right: 1px solid #E0E0E0;
					cursor: pointer;

					&:last-child {
						border-right: none;
					}
				}
			}
		}
	}

	.tour-info {
		min-width: 330px;
		flex: 1;
		padding-left: 30px;

		.box {
			padding: 30px;
			border-radius: 4px;

			.item {
				display: flex;
				align-items: center;
				margin-bottom: 24px;

				img, svg {
					display: inline-block;
					margin-right: 15px;
					width: 32px;
					flex: 0 0 32px;
					
					path {
						fill: #28b29d;
					}
				}

				p {
					font-weight: 600;
					font-size: 18px;
					line-height: 25px;
					color: #25B29D;
				}

				&.share-item {
					position: relative;
					cursor: pointer;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			&.green {
				background: #EBF2F6;
				box-shadow: 0px 1px 8px rgba(9, 35, 47, 0.20012);

				.item {
					p {
						color: #484848;
					}
				}
			}
		}

		&.has-2 {
			.box {
				display: flex;
				flex-wrap: wrap;

				.item {
					width: 50%;
				}
			}
		}
	}
}

.header-part-purchased {
	.img-wrapper {
		border-radius: 4px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.tour-info {
		width: initial;
		padding-right: 0;
		padding-left: 0;
		
		&.multi-box {
			.box {
				display: flex;
				flex-wrap: wrap;

				display: flex;
				flex-wrap: wrap;
				padding-bottom: 6px;

				.item { 
					width: 33.33%;
					flex: 0 0 33.33%;
					margin-bottom: 24px !important;
				}
			}
		}
	}

	.hero-info {
		.hero-img-wrapper {
			border-radius: 50%;
			overflow: hidden;
		}
	}
}