<template>
  <div class="modal-cmp-content-wrapper" v-show="show" ref="modal">
    <div class="modal-cmp-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default  {
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    this[this.show ? 'open' : 'close']()
  },

  methods: {
    open: function () {
      var cmp = this;
      var config = {
        mainClass: 'mfp-fade',
        midClick: true,
        removalDelay: 300,
        items: {
          src:  $(this.$refs.modal),
          type: 'inline'
        },
        callbacks: {
          open: function () {
            cmp.show = true;
            cmp.$emit('open');
          },
          close: cmp.close
        }
      };

      $.magnificPopup.open(config);
    },
    close: function () {
      $.magnificPopup.close()
      this.$emit('close')
    },
  },
  watch: {
    show: function (val) {
      this[this.show ? 'open' : 'close']();
    }
  },
}
</script>
<style>
.mfp-content {
  width: auto !important;
}
</style>