<template>
  <div class="dashboard-container verification-container">

    <div class="sidebar-menu">
      <div class="menu-box" :class="{active: step === 1}" @click="step = 1">
        <div class="img-wrapper">
          <img src="@core-img/verification/icons/shield.svg">
        </div>
        <p>Learn about verification ID</p>
      </div>

      <div class="menu-box" :class="{active: step === 2}" @click="step >= 2 && (step = 2)">
        <div class="img-wrapper">
          <img src="@core-img/verification/icons/identity-card.svg">
        </div>
        <p>Choose type of ID document</p>
      </div>

      <div class="menu-box" :class="{active: step === 3}" @click="step >= 3 && (step = 3)">
        <div class="img-wrapper">
          <img src="@core-img/verification/icons/camera.svg">
        </div>
        <p>Upload images of your document</p>
      </div>

      <div class="menu-box" :class="{active: step === 4}" @click="step >= 4 && (step = 4)">
        <div class="img-wrapper">
          <img src="@core-img/verification/icons/rocket.svg">
        </div>
        <p>Sending data for verification</p>
      </div>
    </div>
    <div class="content-wrapper">
      <spinner v-if="loading" height="350"/>

      <component v-else :is="'step' + step" :tour-verification="tourVerification" @next="step++" @finish="finish"/>
    </div>
  </div>
</template>
<script>
import Step1 from './steps/1'
import Step2 from './steps/2'
import Step3 from './steps/3'
import Step4 from './steps/4'
import {getVerificationData, saveVerificationData} from '@core-api/tour-verification';

export default {
  components: {Step1, Step2, Step3, Step4},
  data(){
    return{
      loading: true,
      step: 1,
      tourVerification: null
    }
  },
  created(){
    getVerificationData().then(response => {
      this.tourVerification = response
      this.loading = false
    })
  },
  methods: {
    finish(){
      saveVerificationData(this.tourVerification).then(response => {
        window.location.href = response.url
      });
    }
  }
}
</script>