<template>
  <div class="step-box w700 active pr-3">
    <h1 class="mb-24">
      Let’s add your ID
    </h1>

    <p class="header-text mb-24">
      A goverment ID helps us check that you’re really you. It also helps us keep Tourzy secure, fight fraud, and more.
    </p>

    <p class="header-text mb-24">
      After adding a photo of your ID, we’ll then quickly match the picture in your ID with a new photo you’ll take of yourself.
    </p>

    <p class="header-text bold mb-40">
      Your ID will never be shared with a guest.
    </p>

    <button class="btn filled orange w280" @click="$emit('next')">
      Got it, next step
    </button>
  </div>
</template>