<template>
  <div class="step-box w700 active">
    <h1 class="mb-24">
      Which type of ID would you like to add?
    </h1>

    <p class="header-text mb-24">
      It needs to be an official government ID.
    </p>

    <div class="general-input-wrapper input-wrapper mb-24">
      <div
        class="step-data-control"

        data-control-type="radio"
        data-control-required="true"
        data-control-name="type">

        <label>Type of ID</label>

        <label class="control control--radio">
          Driver’s licence
          <input type="radio" value="1" v-model="tourVerification.type"/>
          <div class="control__indicator"/>
        </label>

        <label class="control control--radio">
          Passport
          <input type="radio" value="2" v-model="tourVerification.type"/>
          <div class="control__indicator"/>
        </label>

        <label class="control control--radio">
          Identity card
          <input type="radio" value="3" v-model="tourVerification.type"/>
          <div class="control__indicator"/>
        </label>
      </div>
    </div>

    <p class="header-text bold mb-40">
      Your ID will never be shared with a guest.
    </p>

    <button class="btn filled orange w280" @click="$emit('next')">
      Got it, next step
    </button>
  </div>
</template>
<script>
export default {
  props: {
    tourVerification: Object
  }
}
</script>