<template>
  <div class="step-box verification-step-box active">
    <div class="w700">
      <h1 class="mb-24">
        Upload images of your ID
      </h1>

      <p class="header-text mb-24">
        Upload images of the front and back of your driver’s licence (USA). Make sure your images aren’t blurry and the front clearly shows your face.
      </p>
    </div>

    <validation-observer ref="formRef" #default="{invalid}" class="d-flex justify-content-between flex-wrap mb-3">

      <validation-provider #default="{ errors }" name="front_photo" :rules="{required: true, uniqueFileById: keys}">
        <div class="general-input-wrapper input-wrapper w-initial" :class="{'has-error': errors.length}">
          <label>Add front</label>
          <input type="hidden" v-model="tourVerification.front_photo">

          <photo-uploader class="validation-photo" :photo.sync="tourVerification.front_photo" />
          <div class="validation-message ta-left">{{ errors[0] }}</div>
        </div>
      </validation-provider>

      <validation-provider #default="{ errors }" name="back_photo" :rules="{required: true, uniqueFileById: keys}">
        <div class="general-input-wrapper input-wrapper w-initial" :class="{'has-error': errors.length}">
          <label>Add back</label>
          <input type="hidden" v-model="tourVerification.back_photo">

          <photo-uploader class="validation-photo" :photo.sync="tourVerification.back_photo" />
          <div class="validation-message ta-left">{{ errors[0] }}</div>
        </div>
      </validation-provider>

      <validation-provider #default="{ errors }" name="with_id_photo" :rules="{required: true, uniqueFileById: keys}">
        <div class="general-input-wrapper input-wrapper w-initial" :class="{'has-error': errors.length}">
          <label>Add photo with ID</label>
          <input type="hidden" v-model="tourVerification.with_id_photo">

          <photo-uploader class="validation-photo" :photo.sync="tourVerification.with_id_photo" />
          <div class="validation-message ta-left">{{ errors[0] }}</div>
        </div>
      </validation-provider>

    </validation-observer>

    <button class="btn filled orange w280" @click="handleNext">
      Got it, next step
    </button>
  </div>
</template>
<script>
import {ValidationObserver, ValidationProvider} from "vee-validate";
import PhotoUploader from '@core/components/PhotoUploader';
import {required, uniqueFileById} from '@validations';

export default {
  components: {
    ValidationObserver, ValidationProvider, PhotoUploader
  },
  props: {
    tourVerification: Object
  },
  data(){
    return {
      required,
      uniqueFileById
    }
  },
  computed: {
    keys(){
      const backPhotoId = this.tourVerification.back_photo && this.tourVerification.back_photo.id
      const frontPhotoId = this.tourVerification.front_photo && this.tourVerification.front_photo.id
      const withIdPhotoId = this.tourVerification.with_id_photo && this.tourVerification.with_id_photo.id

      return new Array([backPhotoId, frontPhotoId, withIdPhotoId])
    }
  },
  methods: {
    handleNext(){
      this.$refs.formRef.validate().then(async success => {
        if (success) {
          this.$emit('next')
        }
      })
    }
  }
}
</script>