<template>
  <div class="step-box w700 active">
    <h1 class="mb-24">
      That takes care of this step
    </h1>

    <p class="header-text mb-24">
      We appreciate you spending the extra time adding your ID and helping make Tourzy even more secure.
    </p>

    <p class="header-text mb-24">
      We’ll be in touch if there’s anything else we need.
    </p>

    <p class="header-text bold mb-40">
      You’re now ready to pick up where you left off.
    </p>

    <button class="btn filled orange w280" @click="$emit('finish')">
      Go to my created tour
    </button>
  </div>
</template>