html body {
	h1, .h1 {
		margin-bottom: 40px;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 54px;
	}

	h2, .h2 {
		font-weight: 600;
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 12px;
	}

	h3 {
		font-weight: 600;
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 12px;
	}

	h4 {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #484848;
		margin-bottom: 5px;
	}

	a {
		color: #25B29D;
		text-decoration: none !important;
	}

	.ta-left {
		text-align: left !important;
	}

	.ta-center {
		text-align: center !important;
	}

	.ta-right {
		text-align: right !important;
	}

	.bolder {
		font-weight: 600 !important;
	}

	.bold {
		font-weight: 700 !important;
	}

	.font-weight-lighter {
		font-weight: 400 !important;
	}

	.small-header {
		font-weight: 600 !important;
		font-size: 18px !important;
		line-height: 25px !important;
	}

	.color-white {
		color: #fff !important;
	}

	.color-green {
		color: #25B29D !important;
	}

	.color-orange {
		color: #FDA146 !important;
	}

	.color-red {
		color: #FC4A1A !important;
	}

	.color-grey {
		color: #A4A4A4 !important;
	}

	.normal-text {
		font-size: 16px;
		line-height: 22px;
		color: #484848;
	}

	.color-black {
		color: #484848 !important;
	}
}

