<template>
  <div class="dashboard-container steps-wrapper">

    <spinner v-if="loading && !tour" height="300" class="w-100"/>

    <template v-else>
      <div class="steps-content">
        <h1>Submit your tour</h1>

        <validation-observer ref="formRef" #default="{invalid}">
          <component
            v-for="step in steps" :key="step.index"
            v-if="step.index <= tour.step"
            :is="step.component"
            :tour="tour"
            :categories="categories"
            :class="['step-' + step.index]"
          />
        </validation-observer>
      </div>

      <div class="steps-sidebar hide-sm">
        <div class="submit-step-wrapper mb-18">
          <button class="submit-step btn filled orange mb-8" @click="handleSave">
            <b-spinner v-if="loading" small />
            <span v-else>Save changes</span>
          </button>
          <button @click="loadTour" class="open-modal btn simple-link orange">
            Cancel changes
          </button>
        </div>

        <div
          class="sidebar-point"
          v-for="step in steps" :key="step.index"
          :class="[
            {'done': step.index < tour.step},
            {'active': step.index === tour.step}
          ]"
          @click="scrollToStep(step.index)"
        >
          {{ step.title }}
        </div>
      </div>
    </template>

  </div>
</template>
<script>
import {ValidationObserver} from "vee-validate";

import Step1 from '../steps/1';
import Step2 from '../steps/2';
import Step3 from '../steps/3';
import Step4 from '../steps/4';
import Step5 from '../steps/5';
import Step6 from '../steps/6';
import Step7 from '../steps/7';
import Step8 from '../steps/8';
import Step9 from '../steps/9';
import Step10 from '../steps/10';
import Step11 from '../steps/11';

import {getMyTour, saveTour} from '@core-api/tour';
import ToastificationContent from "@core/components/toastification/ToastificationContent";

export default {
  components: {
    ValidationObserver,
  },
  data() {
    return {
      loading: true,
      categories: [],
      tour: null,

      steps: [
        {title: 'Location', index: 1, component: Step1},
        {title: 'Category', index: 2, component: Step2},
        {title: 'Title', index: 3, component: Step3},
        {title: 'Description of the tour', index: 4, component: Step4},
        {title: 'Photos and videos', index: 5, component: Step5},
        {title: 'Meeting point', index: 6, component: Step6},
        {title: 'Group size and requirements', index: 7, component: Step7},
        {title: 'Equipment', index: 8, component: Step8},
        {title: 'Notes', index: 9, component: Step9},
        {title: 'Price', index: 10, component: Step10},
        {title: 'Tour duration', index: 11, component: Step11},
      ]
    }
  },
  created() {
    this.loadTour()
  },
  methods: {
    loadTour(){
      this.loading = true;

      getMyTour().then(response => {
        this.tour = response.tour;
        this.categories = response.categories;
        this.loading = false
      });
    },
    handleSave() {
      this.$refs.formRef.validate().then(async success => {
        if (success) {
          this.loading = true

          try {
            const {tour} = await saveTour(this.tour)

            this.$set(this.tour, 'step', tour.step)
            this.loading = false

            this.$toast({
              component: ToastificationContent,
              position: 'top-right',
              props: {title: 'Success', text: 'Tour was successfully saved', icon: 'CheckIcon', variant: 'success',},
            })

          } catch (e) {

            this.loading = false
            this.$refs.formRef.setErrors(e.errors)
          }
        } else {
          $("html, body").animate({
            scrollTop: $('.general-input-wrapper.has-error').eq(0).offset().top - 100,
          }, 500);
        }
      })
    },
    scrollToStep(index) {
      const step = $('.step-' + index).eq(0);

      step.length && $("html, body").animate({scrollTop: step.offset().top - 100,}, 500);
    }
  }
}
</script>

<style>
.steps-wrapper .step-wrapper {
  display: block;
}
</style>