<template>
  <div>
    <spinner v-if="loading" height="350" variant="primary"/>

    <b-row v-else>
      <b-col md="12" class="stretch-card">
        <b-card>
          <b-row>
            <b-col md="2" class="grid-margin">
              <div class="user-image text-center">
                <div class="user-image-cover thumbnail img-circle">
                  <img v-if="user.avatar" :src="user.avatar.src" alt="">
                  <img v-else src="@admin-img/faces/no-avatar-8.png" alt="">
                </div>
              </div>
            </b-col>
            <b-col md="10" class="grid-margin">
              <div class="form-group">
                <label class="control-label">User Name</label>
                <div class="card-title">{{ user.first_name }} {{ user.last_name }}</div>
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <div class="card-title">{{ user.email }}</div>
              </div>
              <div class="form-group">
                <label class="control-label">User Verification Status</label>
                <div class="card-title">
                  <b-badge v-if="!user.verification || user.verification.status === 3" variant="danger">
                    <i class="mdi mdi-account icon-sm"/> Unverified
                  </b-badge>
                  <b-badge v-else-if="user.verification.status === 2" variant="success">
                    <i class="mdi mdi-account icon-sm"/> Verified
                  </b-badge>
                  <b-badge v-else variant="warning">
                    <i class="mdi mdi-account icon-sm"/> Under Review
                  </b-badge>
                </div>
              </div>
            </b-col>
            <b-col md="6" class="grid-margin">
              <div class="form-group" v-if="user.phone">
                <label class="control-label">User Phone Number</label>
                <div class="card-title">{{ user.phone }}</div>
              </div>
              <div class="form-group">
                <label class="control-label">Registration Date</label>
                <div class="card-title">{{ user.created_at | moment("MMMM D, Y  HH:mm") }}</div>
              </div>
              <div class="form-group">
                <label class="control-label">Last Login</label>
                <div class="card-title">
                      <span v-if="user.last_login_at">
                      {{ user.last_login_at | moment("MMMM D, Y  HH:mm") }}
                      </span>
                  <span v-else>-</span>
                </div>
              </div>
            </b-col>
            <b-col md="6" class="grid-margin">
              <div class="form-group">
                <label class="control-label">Birth Date</label>
                <div class="card-title">
                  {{ birthDate | moment("D/M/Y") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">User Status</label>
                <div>
                  <b-button
                    :variant="user.is_blocked ? 'info' : 'primary'"
                    @click="toggleBlockModal.visible = true"
                  >
                    {{ user.is_blocked ? 'Unblock' : 'Block' }} User
                  </b-button>
                </div>
              </div>
            </b-col>

            <template v-if="user.verification && user.verification.status === 1">
              <b-col md="12">
                <div class="form-group text-right">
                  <b-button variant="success" @click="sowVerificationModal('approve')">Approve</b-button>
                  <b-button variant="danger" @click="sowVerificationModal('decline')">Decline</b-button>
                </div>
              </b-col>
              <b-col md="12">
                <div class="form-group">
                  <label class="control-label">User Verification ID Type</label>
                  <div class="card-title">
                    {{
                      user.verification.type === 1 ? 'Driver License' : user.verification.type === 2 ? 'Passport' : 'Identity Card'
                    }}
                  </div>
                </div>

                <CoolLightBox
                  :items="[user.verification.front_photo.src, user.verification.back_photo.src, user.verification.with_id_photo.src]"
                  :index="lightboxIndex"
                  @close="lightboxIndex = null"
                />

                <b-row>
                  <b-col>
                    <b-img thumbnail fluid :src="user.verification.front_photo.src" @click="lightboxIndex = 0"/>
                  </b-col>
                  <b-col>
                    <b-img thumbnail fluid :src="user.verification.back_photo.src" @click="lightboxIndex = 1"/>
                  </b-col>
                  <b-col>
                    <b-img thumbnail fluid :src="user.verification.with_id_photo.src" @click="lightboxIndex = 2"/>
                  </b-col>
                </b-row>
              </b-col>
            </template>
          </b-row>
        </b-card>
      </b-col>

      <b-modal
        cancel-variant="outline-secondary"
        centered
        :visible="toggleBlockModal.visible"
        @change="val => toggleBlockModal.visible = val"
        @ok.prevent="handleToggleBlock"
      >
        <div class="text-center">Are you sure?</div>

        <validation-observer ref="toggleBlockFormRef" #default="{invalid}">
          <b-form-group v-if="!user.is_blocked" label="User Block Reason" class="mt-2">
            <validation-provider #default="{ errors }" name="reason" rules="required|min:10">
              <b-form-textarea
                v-model="toggleBlockModal.reason"
                :state="errors.length > 0 ? false:null"
                type="text"
                placeholder="Reason"
              />
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
          </b-form-group>
        </validation-observer>
      </b-modal>

      <b-modal
        cancel-variant="outline-secondary"
        centered
        :visible="verificationModal.visible"
        @change="val => verificationModal.visible = val"
        @ok.prevent="handleVerification"
      >
        <div class="text-center">Are you sure?</div>

        <validation-observer ref="verificationFormRef" #default="{invalid}">
          <b-form-group v-if="verificationModal.type === 'decline'" label="Decline Reason" class="mt-2">
            <validation-provider #default="{ errors }" name="reason" rules="required|min:10">
              <b-form-textarea
                v-model="verificationModal.reason"
                :state="errors.length > 0 ? false:null"
                type="text"
                placeholder="Reason"
              />
              <small class="text-danger">{{ errors[0] }}</small>
            </validation-provider>
          </b-form-group>
        </validation-observer>
      </b-modal>
    </b-row>
  </div>
</template>
<script>
import CoolLightBox from 'vue-cool-lightbox'

import {ValidationObserver, ValidationProvider} from "vee-validate";
import {required, min} from "@validations";
import {getUserSingle, toggleBlock} from '@admin-api/user'
import {tourVerificationApprove, tourVerificationDecline} from '@admin-api/tour-verification'

export default {
  components: {CoolLightBox, ValidationObserver, ValidationProvider},
  props: {
    userId: Number
  },
  data() {
    return {
      required,
      min,
      user: null,
      loading: true,
      toggleBlockModal: {visible: false, reason: ''},
      verificationModal: {visible: false, reason: ''},
      lightboxIndex: null
    }
  },
  created() {
    getUserSingle(this.userId).then(response => {
      this.user = response
      this.loading = false
    })
  },
  computed: {
    birthDate() {
      return this.$moment()
        .set('year', this.user.year_of_birth)
        .set('month', this.user.month_of_birth)
        .set('day', this.user.day_of_birth)
    }
  },
  methods: {
    async handleToggleBlock() {
      this.$refs.toggleBlockFormRef.validate().then(async success => {
        if (success) {

          await toggleBlock({
            id: this.user.id,
            reason: this.toggleBlockModal.reason
          })

          this.toggleBlockModal = {visible: false, reason: ''}
          this.user.is_blocked = !this.user.is_blocked
        }
      })
    },
    sowVerificationModal(type) {
      this.verificationModal = {visible: true, reason: '', type: type}
    },
    async handleVerification() {
      this.$refs.verificationFormRef.validate().then(async success => {
        if (success) {

          const id = this.user.verification.id;

          const response = this.verificationModal.type === 'approve' ?
            await tourVerificationApprove(id) :
            await tourVerificationDecline({id, reason: this.verificationModal.reason})

          this.user.verification.status = response.status
          this.verificationModal = {visible: false, reason: ''}
        }
      })
    }
  }
}
</script>