.detail-tour-container {
  @import "parts/header-section";

  margin-top: 100px !important;

  .detail-tour-section {
    margin-bottom: 60px;
    position: relative;

    &::after {
      content: attr(data-section-description);
      display: block;

      position: absolute;
      top: 78px;
      left: 0;

      writing-mode: vertical-rl;
      transform: rotate(180deg);


      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      letter-spacing: -2px;
      color: rgba(0, 0, 0, 0.05);

      left: -110px;
    }
  }

  strong {
    font-weight: 700;
  }

  ol {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    li {
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-0;
    }
  }

  &, p {
    font-size: 16px;
    line-height: 1.6;
    color: #484848;
  }

  .tour-description {
    .videoWrapper {
      max-width: 40%;
      width: 40%;
      flex: 0 0 40%;
      margin-right: 24px;

      .iframeWrapper {
        min-height: 260px;
      }
    }

    .place-description {
      position: relative;

      & > {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: ' ';
        display: block;
        background: rgba(37, 178, 157, 0.2);
        width: 32px;
        height: 32px;
        border-radius: 50%;

        position: absolute;
        left: -12px;
        top: -8px;

        z-index: 1;
      }
    }

    &.full-tour-description {
      .textWrapper {
        padding-left: 30px;

        h3 {
          color: #25B29D;
          margin-left: -30px;
          margin-bottom: 12px;
          margin-top: 24px;
          line-height: 20px;
        }

        p {
          margin-bottom: 24px;
        }

        strong {
          font-weight: 600;
        }

        ul {
          li {
            line-height: 1.6;
          }
        }

        .places {
          position: relative;

          &::before {
            content: ' ';
            display: block;
            width: 32px;
            height: 32px;
            background: rgba(37, 178, 157, 0.2);

            position: absolute;
            top: -10px;
            left: -10px;
            border-radius: 50%;
          }
        }
      }
    }

    .notice {
      display: flex;
      padding: 20px 16px;
      background: rgba(37, 178, 157, 0.2);
      border-radius: 4px;
      align-items: center;

      margin-top: 40px;
      margin-bottom: 40px;

      p {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;
        color: #484848;

        padding-right: 5px;
      }
    }
  }

  .host-information {
    .host-info-wrapper {
      display: flex;
      align-items: flex-start;

      .hero-img-wrapper {
        border-radius: 50%;
        overflow: hidden;

        flex: 0 0 80px;
        max-width: 80px;
        width: 80px;

        margin-right: 24px;

        width: 80px;
        height: 80px;
      }

      .text-wrapper {
        .title {
          font-weight: 600;
          font-size: 18px;
          color: #25B29D;
          margin-bottom: 5px;
        }
      }

      margin-right: 20px;
    }

    .button-wrapper {
      flex: 0 0 290px;
      max-width: 290px;
      width: 290px;

      a {
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }
  }

  .reviews-section {
    .reviews-detail-row {
      align-items: stretch;
      flex-wrap: wrap;

      .review-detail {
        margin-bottom: 12px;
      }
    }

    .review-form {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      margin-bottom: 40px;

      .img-wrapper {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
      }
    }

    .review-detail {
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      border-radius: 4px;

      width: 31%;
      max-width: 31%;
      flex: 0 0 31%;

      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      .review-details {
        padding: 12px;
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .img-wrapper {
          border-radius: 50%;
          overflow: hidden;
          margin-right: 12px;

          img {
            width: 56px;
            height: 56px;
          }
        }

        .hero-name {
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #484848;
          margin-bottom: 10px;
        }

        .date {
          line-height: 25px;
          font-size: 14px;
          color: #A4A4A4;
        }
      }

      .review-content {
        padding: 12px;

        .show-more {
          display: inline-block;
          margin-top: 8px;
        }
      }
    }
  }

  .faq-tour {
    .question-row {
      .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #25B29D;

        margin-bottom: 12px;
      }

      .answer {
        padding-left: 30px;
      }
    }
  }
}

.stars-wrapper {
  &.stars-control {
    img {
      cursor: pointer;
    }
  }

  &.mini-stars {
    img {
      width: 8px;
    }
  }
}

.reviews-total-info {
  display: flex;
  align-items: center;

  .stars-wrapper {
    margin-right: 12px;
  }

  &.small {
    .stars-wrapper {
      img {
        width: 16px;
      }
    }

    span {
      font-size: 14px;
    }
  }
}

.inactive {
  filter: grayscale(1);
}

.copy-confirmation-code {
  cursor: pointer;
}


.hero-img-wrapper {
  width: 80px;
  height: 80px;
  background-image: url('~@core-img/icons/user-placeholder.png');
  background-size: 70px;
  background-position: top center;
  background-repeat: no-repeat;
}