<template>
  <div class="hosted-tour in-blocked is-blocked">
    <div class="tour-status"><span>Blocked</span></div>

    <div class="content">
      <tour-data :tour="tour"/>

      <div class="status-content mb-40">
        <div class="status-item is-bad mb-24">
          <p class="status mb-12">Blocked</p>
          <p>{{tour.user.block_message}} </p>
        </div>
      </div>

      <p class="ta-center mb-16">
        <span class="mb-4 display-inline-block">For additional information please write to our support team: </span>
        <a href="#" class="small-header">support@tourzy.net</a>
      </p>
    </div>
  </div>
</template>

<script>
import TourData from '../TourData'
export default {
  components: {
    TourData
  },
  props: [ 'tour'],
}
</script>