<template>
  <div class="hosted-tour in-progress is-approved">
    <div class="tour-status"><span>In progress</span></div>

    <div class="content">
      <tour-data :tour="tour"/>

      <div class="status-content mb-40">
        <div class="status-item is-normal">
          <p class="status mb-12">In progress</p>
          <p>Left {{ 12 - tour.step }} more steps</p>
        </div>
      </div>

      <p class="ta-center mb-16">
        <a href="/my/tour/create" class="btn filled orange w245 ta-center bolder">
          Continue
        </a>
      </p>

    </div>
  </div>
</template>

<script>
import TourData from '../TourData'

export default {
  components: {
    TourData
  },
  props: ['tour'],
  inject: ['routes'],
}
</script>