<template>
  <div
    class="hosted-tour in-progress is-under-review"
    :class="{
      'in-progress' : isTourVerificationStatusPending || isTourVerificationStatusDeclined,
      'in-done' : isTourVerificationStatusAccepted
    }"
  >
    <div class="tour-status">
      <span v-if="isTourVerificationStatusAccepted">Approved</span>
      <span v-else-if="isTourVerificationStatusDeclined">Edits required</span>
      <span v-else>Under review</span>
    </div>

    <div class="content">
      <tour-data :tour="tour"/>

      <div class="status-content mb-40">
        <template>
          <div class="status-item is-normal mb-24" v-if="isTourVerificationStatusPending">
            <p class="status mb-12">Under review</p>
            <p>Wait some minutes until our admin will approve your tour. Thanks for your patience</p>
          </div>
          <div class="status-item is-normal mb-24" v-else-if="isTourVerificationStatusDeclined">
            <p class="status mb-12">Edits required</p>
            <p>{{tour.decline_message}}</p>
          </div>
        </template>

        <template>
          <div v-if="needToUploadValidationData || isVerificationDataStatusDeclined" class="status-item is-bad">
            <p class="status mb-12">ID unverified</p>
            <p v-if="isVerificationDataStatusDeclined">{{tour.verification.decline_message}}</p>
            <p v-else>You have to verify your ID or there will be reason why documents were declined </p>
          </div>
          <div v-else-if="isVerificationDataStatusPending" class="status-item is-normal" >
            <p class="status mb-12">ID under review</p>
            <p>Wait some minutes until our admin will approve your tour. Thanks for your patience</p>
          </div>
        </template>

      </div>

      <p class="ta-center mb-16">
        <a
            v-if="needToUploadValidationData || isVerificationDataStatusDeclined"
            href="/tour-verification"
            class="btn filled orange w245 ta-center bolder">
          Verify ID
        </a>

        <a href="/my/tour/detail" class="simple-link display-inline-block orange w245 ta-center bolder">
          See details
        </a>
      </p>

    </div>
  </div>
</template>

<script>
import TourData from '../TourData'
import EntityStatuses from '@core/mixins/entity-statuses'

export default {
  components: {
    TourData
  },
  mixins: [EntityStatuses],
  props: ['tour'],
  inject: ['routes'],
  computed: {
    isTourVerificationStatusPending(){
      return this.tour.verification_status === this.TOUR_VERIFICATION_STATUSES.VERIFICATION_STATUS_PENDING
    },
    isTourVerificationStatusAccepted(){
      return this.tour.verification_status === this.TOUR_VERIFICATION_STATUSES.VERIFICATION_STATUS_ACCEPTED
    },
    isTourVerificationStatusDeclined(){
      return this.tour.verification_status === this.TOUR_VERIFICATION_STATUSES.VERIFICATION_STATUS_DECLINED
    },
    isVerificationDataStatusPending(){
      return this.tour.verification.status === this.VERIFICATION_DATA_STATUSES.VERIFICATION_DATA_STATUS_PENDING
    },
    isVerificationDataStatusDeclined(){
      return this.tour.verification.status === this.VERIFICATION_DATA_STATUSES.VERIFICATION_DATA_STATUS_DECLINED
    },
    needToUploadValidationData(){
      return this.tour.status === this.TOUR_STATUSES.STATUS_VALIDATING_BY_VERIFY_ID || !this.tour.verification
    }
  }
}
</script>