<template>
  <div class="hosted-tour in-done is-approved">
    <div class="tour-status"><span>Approved</span></div>

    <div class="content">
      <tour-data :tour="tour"/>

      <div v-if="!hasScheduleData" class="status-content mb-40">
        <div class="status-item is-normal">
          <p class="status mb-12">Schedule required</p>
          <p>Please set up your schedule so that users can start booking yout tour</p>
        </div>
      </div>

      <div style="display:flex;flex-wrap:wrap;justify-content: space-around;align-items: center;">
        <template v-if="!hasScheduleData">
          <a href="/my/schedule" class="btn filled orange w245 ta-center bolder">
            Set a schedule
          </a>

          <a href="/my/tour/detail" class="simple-link d-inline-block orange w245 ta-center bolder">
            See details
          </a>
        </template>

        <template v-else>
          <a href="/my/schedule" class="btn filled orange w245 ta-center bolder">
            My Schedule
          </a>

          <a href="/my/payments" class="btn unfilled orange w245 ta-center bolder">
            My Payments
          </a>

          <a href="/my/tour/detail" class="mt-24 mb-12 simple-link d-inline-block orange w245 ta-center bolder">
            See details
          </a>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import TourData from '../TourData'
import EntityStatuses from '@core/mixins/entity-statuses'

export default {
  components: {
    TourData
  },
  mixins: [EntityStatuses],
  props: [ 'tour'],
  inject: ['routes'],

  computed: {
    hasScheduleData() {
      return this.tour.schedule;
    }
  }
}
</script>