<template>
  <div class="input-counter" :class="{'input-counter--quill': quill}">
    <span class="current">{{ value ? value.length : 0 }}</span>/<span class="max">{{ max }}</span>
  </div>
</template>
<script>
export default {
  props: {
    value: [String, Number],
    max: Number,
    quill: {
      type: Boolean,
      default: false
    }
  }
};
</script>