<template>
  <div
    class="d-flex justify-content-center align-items-center"
    :style="{height: this.height ? this.height + 'px' : null}"
  >
    <b-spinner :variant="variant" style="width: 3rem; height: 3rem;"/>
  </div>
</template>
<script>

export default {
  props: {
    height: [String, Number],
    variant: {
      type: String,
      default: 'success'
    },
    type: {
      type: String,
      default: 'grow'
    },
  },
}
</script>