<template>
  <b-modal
    modal-class="uploaded-files-modal"
    :visible="visible"
    ok-title="Select"
    ok-only
    :ok-disabled="!localFile"
    cancel-title="Close"
    title="Uploaded Files"
    size="md"
    @change="val => $emit('update:visible', val)"
    @ok.prevent="$emit('success', localFile)"
  >
    <div class="flex-1">

      <div class="dropzone-wrapper">
        <vue2-dropzone
          id="dropzone"
          ref="dropzone"
          :options="dropzoneOptions"
          @vdropzone-success="handleUploadedSuccess"
          @vdropzone-error="handleUploadedError"
        />
      </div>

      <ul class="files">
        <li
          class="upload-item"
          v-for="item in files" :key="item.id"
          @click="localFile = item.id === (localFile && localFile.id) ? null : item"
          @dblclick="$emit('success', item)"
          :class="{'upload-item--selected': item.id === (localFile && localFile.id)}"
        >
          <div class="upload-item__preview">
            <div class="upload-item__thumbnail">
              <div class="upload-item__img">
                <img :src="item.medium_src" alt="">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="uploaded-files-modal__sidebar">

      <template v-if="localFile">
        <h2 class="mt-2 text-center">Details</h2>

        <feather-icon
          icon="TrashIcon"
          class="text-danger position-absolute top-0 right-0"
          @click="deleteUpload"
        />

        <b-img center :src="localFile.src"/>

        <p class="text-muted mb-3 mt-5">Name: {{ localFile.name }}</p>

        <p class="text-muted mb-2">Size: {{ localFile.size }}</p>

        <hr>

        <div class="general-input-wrapper input-wrapper">
          <label>Alt</label>

          <input
            v-model="localFile.alt"
            class="step-data-control input-control  border-secondary"
            type="text"
            placeholder="Enter alt"
          >
        </div>

        <div class="general-input-wrapper input-wrapper mt-3">
          <label>Description</label>

          <input
            v-model="localFile.description"
            class="step-data-control input-control border-secondary"
            type="text"
            placeholder="Enter description"
          >
        </div>
      </template>
    </div>

    <b-overlay no-wrap :show="loading"/>

  </b-modal>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone'
import {getFiles, deleteFile} from "@core-api/file";
import ToastificationContent from "@core/components/toastification/ToastificationContent";

export default {
  components: {vue2Dropzone},
  props: {
    visible: Boolean,
    file: Object,
  },
  data() {
    return {
      localFile: JSON.parse(JSON.stringify(this.file)),
      loading: false,
      files: [],
      dropzoneOptions: {
        url: '/api/file/upload',
        thumbnailWidth: 150,
        maxFilesize: 10,
        addRemoveLinks: false,
        acceptedFiles: 'image/jpeg,image/gif,image/png,.pdf',
        dictDefaultMessage: 'Click To Upload',
        maxFiles: 1,
        headers: {'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content}
      }
    }
  },
  methods: {
    async getFiles() {

      this.loading = true

      try {
        this.files = await getFiles();
        this.loading = false
      } catch (e) {

        this.loading = false
      }
    },
    async deleteUpload() {
      this.loading = true;

      try {
        await deleteFile(this.localFile.id);
        this.files.splice(this.files.findIndex(i => i.id === this.localFile.id), 1)
        this.localFile = null
        this.loading = false

      } catch (e) {

        console.log(e)
        this.loading = false
      }
    },
    handleUploadedSuccess(file, response) {
      this.files.unshift(response)
      this.$refs.dropzone.removeAllFiles(true);
    },
    handleUploadedError() {
      this.$toast({
        component: ToastificationContent,
        position: 'top-right',
        props: {
          title: 'Error',
          text: 'File uploaded error',
          icon: 'XIcon',
          variant: 'error'
        },
      })

      this.$refs.dropzone.removeAllFiles(true);
    }
  },
  watch: {
    visible(val) {
      if (val) {
        this.getFiles()
      }
    }
  }
}
</script>
<style lang="scss">
@import '~@core-scss/bootstrap-extended/_include';

.uploaded-files-modal {
  .modal-dialog {
    max-width: 95vw;
  }

  .modal-content {
    min-height: 95vh;
  }

  .modal-body {
    display: flex;
    padding: 0;
  }

  .files {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding: 2px 8px 8px;
    margin: 0;
    list-style: none;
  }

  .dropzone-wrapper {
    padding: 8px;
    min-width: 160px;
    height: 160px;

    .vue-dropzone {
      padding: 0;
      height: 100%;
      position: relative;
      box-sizing: border-box;
      min-height: auto;

      .dz-preview {
        margin: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        transition: opacity .1s;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
          overflow: hidden;
        }
      }

    }
  }

  .upload-item {
    width: 160px;
    height: 160px;

    position: relative;
    padding: 8px;
    margin: 0;
    color: #3c434a;
    cursor: pointer;
    list-style: none;
    text-align: center;
    user-select: none;
    box-sizing: border-box;


    &--selected {
      box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px $primary;
    }

    &__preview {
      position: relative;
      box-shadow: inset 0 0 15px rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(0 0 0 / 5%);
      background: #f0f0f1;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    &__thumbnail {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
      transition: opacity .1s;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
        overflow: hidden;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(50%, 50%);

      img {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        border: none;
      }
    }
  }

  &__sidebar {
    width: 300px;
    padding: 0 16px;
    background: #f6f7f7;
    border-left: 1px solid #dcdcde;
    position: relative;

    .feather {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(md) {
    .uploaded-files-modal {
      &__sidebar {
        display: none
      }
    }
  }
}

</style>