.filter-item {
	position: relative;

	.selected-item-wrapper {
		padding: 10px 16px;
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		border-radius: 4px;
		position: relative;

		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    padding-right: 40px;

		cursor: pointer;

		&::after {
			    content: ' ';
				
				position: absolute;
				top: 50%;
				right: 16px;

				width: 16px;
				height: 16px;
				margin-top: -8px;

				background-size: contain;
				background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.46397 7.31415L13.3081 1.59696C13.564 1.34609 13.564 0.93965 13.3081 0.68815C13.0522 0.437283 12.6366 0.437283 12.3807 0.68815L7.00032 5.95186L1.61991 0.688783C1.36403 0.437917 0.948426 0.437917 0.691905 0.688783C0.436031 0.93965 0.436031 1.34673 0.691905 1.59759L6.53603 7.31478C6.78926 7.56185 7.21139 7.56185 7.46397 7.31415Z' fill='%2325B29D'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;

				filter: grayscale(1);
		}

		&:hover {
			color: #25B29D;
			border-color: #25B29D;

			&::after {
				filter: none;
			}
		}
	}

	.dropdown-wrapper {
		opacity: 0;
		pointer-events: none;

		background-color: #fff;
		z-index: 10;

		position: absolute;

		top: 100%;
		left: 0;

		margin-top: 4px;

		border: 1px solid #E0E0E0;
		border-radius: 4px;
		width: 100%;

		.content {
			padding: 16px;
		}

		.single-select-item, .multiple-select-item {
			font-size: 14px;
			line-height: 28px;
			cursor: pointer;

			margin-left: -16px;
			padding-left: 16px;

			margin-right: -16px;
			padding-right: 16px;

			&:hover, &.active {
				background: rgba(37, 178, 157, 0.2);
				color: #24b29d;
			}
		}

		.select-item {
			&:last-child {
				.control--checkbox {
					margin-bottom: 0;
				}
			}
		}

		.meta {
			padding: 12px 16px;
			border-top: 1px solid #E0E0E0;

			button {
				font-size: 14px;
			}
		}
	}

	&.active {
		.selected-item-wrapper {
			&::after {
				filter: none;
				transform: rotate(180deg);
			}
		}

		.dropdown-wrapper {
			opacity: 1;
			pointer-events: initial;
		}
	}
}

.sort-filter {
	position: relative;

	.filter-trigger {
		display: inline-block;
		font-weight: 600;
		text-decoration: underline;
		margin-left: 4px;
		cursor: pointer;
	}

	.sort-options {
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 16px;
		width: 180px;

		position: absolute;
	    z-index: 9;
	    background: #fff;
		left: 64px;
		top: 0;
		margin-top: -64px;

		display: none;

		&.active {
			display: block;
		}

		ul {
			li {
				font-weight: normal;
				font-size: 14px;
				line-height: 19px;
				color: #484848;
				margin-bottom: 12px;
				cursor: pointer;

				transition: all .25s ease;

				&:hover, &.active {
					color: #25B29D;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}