.tippy {
	cursor: pointer;
}

.tippy-popper {
	.tippy-tooltip {
		.tippy-arrow {
			border-top-color: #25B29D;
		}

		.tippy-content {
			background: #25B29D;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
			border-radius: 4px;

			font-weight: normal;
			font-size: 12px;
			line-height: 16px;

			width: 180px;
			text-align: center;

			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}