.tour-item {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 0 4px 0 rgba(163,163,163,0.5);
    border-radius: 4px;
    display: block;
    text-decoration: none;
    &:hover,&:focus,&:active {
        text-decoration: none;
        color: inherit;
        outline: none;
    }
    &-category {
        position: absolute;
        left: 12px;
        top: 12px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 17px;
        padding: 2px 12px;
        border-radius: 10.5px;
        background-color: #25B29D;
    }
    &-img {
        width: calc(~"100% + 2px");
        margin: -1px -1px 0px;
        position: relative;
        height: 210px;

        img {
            height: 100%;
            min-width: 100%;
        }
    }
    &-cover {
        padding: 0 23px 15px;
        max-width: 319px;
        width: 100%;
    }
    &-description {
        padding: 12px;
    }
    &-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #404040;
        margin-bottom: 8px;
    }
    &-reviews {
        font-size: 14px;
        line-height: 19px;
        color: #A4A4A4;
    }
    &-place {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #A4A4A4;
        margin-bottom: 16px;
        margin-top: 8px;
    }
    &-price {
        color: #404040;
        font-size: 14px;
        line-height: 19px;
        span {
            color: #fc4a1a;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            span {
                font-size: 24px;
                line-height: 33px;
            }
        }
        &-description {

        }
    }
    &-time-spent {
        color: #404040;
        font-size: 14px;
        line-height: 19px;
    }
    &-rating {
        .stars {
            background-image: url("@{imgPath}star-empty.svg");
            background-position: left center;
            background-repeat: repeat-x;
            width: 105px;
            height: 16px;
            margin-right: 8px;
            overflow: hidden;
            &-value {
                background-image: url("@{imgPath}star-full.svg");
                height: 100%;
            }
        }
    }
}

