.tour-category-item {
  width: 100%;
  min-height: 120px;
  padding: 24px;
  border-radius: 10.5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(9,35,47,0.2);
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
  &:hover,&:focus,&:active {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
  &-cover {
    padding: 0 23px 15px;
    max-width: 318px;
    width: 100%;
  }
  &-title {
    color: #25B29D;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
  }
  &-goto-button {
    opacity: 0.8;
    background-image: url("@{imgPath}combined-shape.svg");
    transition: 0.3s all;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 24px;
    cursor: pointer;
    color: #fff;
    &:hover {
      opacity: 1;
    }
    &:active,&:focus {
      opacity: 0.5
    }
  }
}