.tours-container {
	margin-left: -12px;
	margin-right: -12px;
}

.tour-box {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 0px 4px rgba(9, 35, 47, 0.20012);
	border-radius: 4px;
	position: relative;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 40px;
	width: calc(25% - 24px);
	box-sizing: content-box;
	transition: all .25s ease;

	&:last-child {
		margin-right: 0;
	}

	&:nth-child(4n) {
		margin-right: 0;
	}

	&:hover {
		box-shadow: 0px 0px 8px rgba(9, 35, 47, 0.20012);
	}

	.img-wrapper {
		border-radius: 4px;
		overflow: hidden;
		position: relative;

		height: 250px;

		.tag {
			display: inline-block;

			position: absolute;
			left: 12px;
			top: 12px;
			padding: 3px 12px;
			background: #25B29D;
			border-radius: 10px;
			font-size: 12px;
			line-height: 16px;
			color: #fff;
		}

		img {
			width: initial;
			max-width: initial;
			height: 250px;
			min-width: 100%;
		}
	}

	.text-wrapper {
		padding: 12px;
		
		.title {
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			color: #484848;
			margin-bottom: 8px;
		}

		.country {
			font-weight: 600;
			font-size: 14px;
			line-height: 19px;
			color: #A4A4A4;

			margin-top: 8px;
			margin-bottom: 12px;
		}

		.price {
			span {
				font-weight: bold;
				font-size: 18px;
				line-height: 25px;
				color: #FC4A1A;
			}
		}

		.time {
			font-size: 14px;
			line-height: 19px;
			color: #A4A4A4;
		}
	}
}