<template>
  <b-row>
    <b-col cols="12">
      <b-card>
        <b-table
          :fields="fields"
          :items="items"
          :busy="loading"
          no-local-sorting
          show-empty
          responsive
          empty-text="No matching records found"
          @sort-changed="updateSort"
        >

          <template #head(status)="{item}">
            <div class="d-flex align-items-center">
              <span class="mr-3">Status</span>
              <v-select
                v-model="filters.status"
                :options="statuses"
                :reduce="i => i.id"
                style="width: 150px"
                placeholder="All"
                @input="fetchUsers"
              />
            </div>
          </template>
          <template #head(email)="{item}">
            <div class="d-flex align-items-center">
              <span class="mr-3">Email</span>
              <b-form-input
                v-model="filters.email"
                style="width: 250px"
                @blur="fetchUsers"
                @keyup.enter="fetchUsers"
              />
            </div>
          </template>

          <template #cell(id)="{item}">
            <b-link :href="`/admin/user/${item.id}`" target="_blank">{{ item.id }}</b-link>
          </template>

          <template #cell(status)="{item}">

            <b-badge v-if="item.verification_status === 2" variant="success">
              <i class="mdi mdi-account icon-sm"/> Verified
            </b-badge>
            <b-badge v-else-if="!item.verification_id || item.verification_status === 3" variant="danger">
              <i class="mdi mdi-account icon-sm"/> Unverified
            </b-badge>
            <b-badge v-else variant="warning">
              <i class="mdi mdi-account icon-sm"/> Under Review
            </b-badge>
          </template>

          <template #cell(name)="{item}">
            <div class="text-nowrap">
              <b-badge variant="danger" v-if="item.is_blocked"><i class="mdi mdi-block-helper icon-sm"></i></b-badge>
              {{ item.first_name }} {{ item.last_name }}
            </div>
          </template>

          <template #cell(submitted_at)="{item}">
            <div class="text-nowrap">{{item.verification_submitted_at | moment("MMMM D, Y  HH:mm")}}</div>
          </template>

          <template #cell(created_at)="{item}">
            <div class="text-nowrap">{{item.created_at | moment("MMMM D, Y  HH:mm")}}</div>
          </template>

          <template #cell(auth)="{item}">
            <b-link
              :href="`/user/auth_from/${item.id}`"
              target="_blank"
              class="btn btn-primary btn-rounded "
            >
              Auth
            </b-link>

          </template>

        </b-table>

        <div class="d-flex justify-content-center align-items-center">
          <b-pagination
            :value="pagination.page"
            :total-rows="pagination.total"
            :per-page="pagination.length"
            @change="updatePagination($event)"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
            page-class="test"
          />
        </div>
      </b-card>
    </b-col>
  </b-row>
</template>
<script>
import {getUserList} from '@admin-api/user'

export default {
  data() {
    return {
      loading: false,
      items: [],
      fields: [
        {key: 'id', sortable: true},
        {key: 'submitted_at', sortable: true},
        {key: 'name', label: 'User Name'},
        {key: 'status', label: 'Status'},
        {key: 'email'},
        {key: 'created_at', label: 'Date Registered', sortable: true},
        {key: 'auth', label: 'Auth For'},
      ],
      pagination: {
        page: 1,
        length: 10,
        total: 0,
        sortBy: 'desc',
        sortParam: 'id',
      },
      statuses: [
        {id: 1, text: 'Pending'},
        {id: 2, text: 'Accepted'},
        {id: 3, text: 'Declined'},
      ],
      filters: {
        status: null,
        email: '',
      }
    }
  },
  created() {
    this.fetchUsers()
  },
  methods: {
    updatePagination(page) {
      this.pagination.page = page

      this.fetchUsers()
    },
    updateSort(ctx) {
      this.pagination.sortParam = ctx.sortBy
      this.pagination.sortBy = ctx.sortDesc ? 'desc' : 'asc'

      this.fetchUsers()
    },
    async fetchUsers() {
      this.loading = true
      try {
        const {items, total} = await getUserList({
          page: this.pagination.page,
          length: this.pagination.length,
          sortBy: this.pagination.sortBy,
          sortParam: this.pagination.sortParam,
          emailFilter: this.filters.email,
          statusFilter: this.filters.status,
        })

        this.items = items
        this.pagination.total = total
        this.loading = false

      } catch (e) {
        this.loading = false
      }
    }
  }
}
</script>