<template>
  <div class="step-wrapper">
    <h2>1. Location</h2>
    <p class="header-text">Which city will you host your experience in?</p>

    <validation-provider #default="{ errors }" name="city_location">
      <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
        <label>City</label>

        <input
          v-model="tour.city_location"
          class="step-data-control input-control"
          type="text"
          placeholder="Enter the city"
        >

        <div class="validation-message">{{ errors[0] }}</div>
      </div>
    </validation-provider>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";

export default {
  components: {ValidationProvider},
  props: {
    tour: Object
  }
}
</script>