<template>
  <div class="step-wrapper">
    <h2>10. Price</h2>
    <p class="header-text">The price of your experience is entirely up to you.</p>

    <div class="d-flex justify-content-between align-items-start flex-wrap">
      <validation-provider #default="{ errors }" name="price">
        <div class="general-input-wrapper input-wrapper price-wrapper w380 mb-40" :class="{'has-error': errors.length}">
          <label>Price</label>

          <input
            class="input-control step-data-control"
            v-model="tour.price"
            placeholder="$"
            type="number"
          >

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>

      <div class="calculator-box w380 mb-24">
        <p class="title">Pricing calculator</p>

        <div class="mb-12 d-flex justify-content-between">
          <span class="name">Price per guest</span>
          <span class="price-per-guest-value value">$ {{ tour.price || 45 }}</span>
        </div>

        <div class="mb-12 fw jc-space-between">
          <span class="name">Number of guests</span>
          <input class="value-input" type="text" v-model="guests">
        </div>

        <div class="divider"></div>

        <div class="mb-12 fw jc-space-between">
          <span class="name">You would make</span>
          <span class="total-revenue-value value">$ {{ cost }}</span>
        </div>

        <div class="description">
          This is the amount of money you’d make after a 20% service fee taken by Tourzy.
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";

export default {
  components: {ValidationProvider},
  props: {
    tour: Object
  },
  data() {
    return {
      guests: JSON.parse(JSON.stringify(this.tour.group_max_size))
    }
  },
  computed: {
    cost(){
      return this.tour.price ? parseFloat(this.tour.price * this.guests / 100 * 80).toFixed(2) : 0;
    }
  }

}
</script>