<template>
  <div class="step-wrapper">
    <h2>11. Tour duration</h2>
    <p class="header-text">Most experiences are under three hours.</p>

    <div class="general-input-wrapper">
      <div class="categories-wrapper tour-duration-boxes">
        <div class="category-box w25" :class="{active: tour.duration === 0.5}" @click="tour.duration = 0.5">
          <div class="category-box-inner"><p>30 minutes</p></div>
        </div>

        <div class="category-box w25" :class="{active: tour.duration === 1}" @click="tour.duration = 1">
          <div class="category-box-inner">
            <p>1 hour</p>
          </div>
        </div>

        <div class="category-box w25" :class="{active: tour.duration === 1.5}" @click="tour.duration = 1.5">
          <div class="category-box-inner"><p>1.5 hours</p></div>
        </div>

        <div
          class="category-box w25"
          :class="{active: ![0.5,1,1.5].includes(tour.duration)}"
          @click="tour.duration = 2"
        >
          <div class="category-box-inner"><p>Custom</p></div>
        </div>
      </div>

      <validation-provider v-if="![0.5,1,1.5].includes(tour.duration)" #default="{ errors }" name="duration">
        <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
          <label>Custom duration</label>

          <v-select
            v-model="tour.duration"
            :options="Array.from(Array(45)).map((v, i) => ({id: i * 0.5 + 2, text: i * 0.5 + 2}))"
            :class="{'is-invalid' : errors.length}"
            :reduce="i => i.id"
            placeholder="Set a duration of your tour"
          />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";
import vSelect from 'vue-select'

export default {
  components: {vSelect, ValidationProvider},
  props: {
    tour: Object
  },
}
</script>