<template>
  <div class="step-wrapper">
    <h2>2. Category</h2>
    <p class="header-text">
      Think about what you want people to take away from your experience.
      Your activity will be centered around this theme.
    </p>

    <div class="general-input-wrapper mb-8">
      <div class="categories-wrapper">
        <div
          v-for="category in categories"
          :key="category.id"
          class="category-box"
          :class="{active: tour.category && tour.category.id === category.id}"
          @click="$set(tour, 'category', category); $set(tour, 'custom_category_title', '')"
        >
          <div class="category-box-inner">

            <div class="img-wrapper">
              <img
                v-if="tour.category && tour.category.id === category.id"
                :src="`/images/icons/category/${category.slug}--green.svg`"
                :alt="category.title"
              >
              <img v-else :src="`/images/icons/category/${category.slug}.svg`" :alt="category.title">
            </div>
            <p>{{ category.title }}</p>
          </div>
        </div>
        <div
          class="category-box"
          :class="{active: isOtherCategory}"
          @click="!isOtherCategory && $set(tour, 'category', null)"
        >
          <div class="category-box-inner">
            <div class="img-wrapper">
              <img :src="`/images/icons/category/other${isOtherCategory ? '--green' : ''}.svg`" alt="other">
            </div>
            <p>Others</p>
          </div>
        </div>
      </div>

      <div v-if="isOtherCategory" class="input-wrapper">
        <label>What will be the name of your category?</label>

        <validation-provider #default="{ errors }" name="custom_category_title">
          <div class="general-input-wrapper" :class="{'has-error': errors.length}">
            <input
              v-model="tour.custom_category_title"
              class="input-control"
              type="text"
              placeholder="Write there name of category"
            >
            <input-counter v-model="tour.custom_category_title" :max="25"/>

            <div class="validation-message text-left">{{ errors[0] }}</div>
          </div>
        </validation-provider>
      </div>
    </div>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";

export default {
  components: {ValidationProvider},
  props: {
    tour: Object,
    categories: Array
  },
  computed: {
    isOtherCategory() {
      return !this.categories.map(i => i.id).includes(this.tour.category?.id)
    }
  }
}
</script>