<template>
  <div class="step-wrapper">
    <h2>3. Title</h2>
    <p class="header-text">Make it short, descriptive, and exciting.</p>


    <div class="input-wrapper">
      <label>What will be the title of your experience?</label>

      <validation-provider #default="{ errors }" name="name">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <input
            v-model="tour.name"
            class="input-control"
            type="text"
            placeholder="E.g. Secret bar tour"
          >

          <input-counter v-model="tour.name" :max="45" />
          <div class="validation-message text-left">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>

    <div class="tip-box">
      <p class="title">Tips:</p>
      <p class="text">
        Think about writing a title that describes your main activity so guests get a sense of what they’ll be doing. Consider using action verbs and making it unique to set your experience apart.
      </p>
    </div>
  </div>

</template>
<script>
import {ValidationProvider} from "vee-validate";
import {required, min, max} from '@validations';

export default {
  components: {ValidationProvider},
  props: {
    tour: Object
  }
}
</script>