<template>
  <div class="step-wrapper" >
    <h2>4. Description of the tour</h2>
    <p class="header-text">Your activity description is a chance to inspire guests to take your experience. Talk about the details of the itinerary you have planned for them.</p>

    <div class="fw jc-space-between">
      <div class="tip-box">
        <p class="title">Tips:</p>
        <p class="text">
          1. Being specific about what guests will do on your activity; <br>
          2. Planning a detailed itinerary so that guests know what to expect; <br>
          3. Giving guests special access to something they can’t find on their own; <br>
        </p>
      </div>

      <div class="tip-box example-box">
        <div class="title">Examples:</div>

        <p class="text example">
          You’ll jump right into the action of our weekly basketball coaching clinics, where we do drills and plays for two hours with 60 kids.
          There are only three of us for all of the kids (girls and boys ages 10-17), so you’ll be helping us with the drills and coaching.
          Be prepared to be active, sweat, and definitely be on your toes while having fun with the kids.
        </p>
      </div>
    </div>

    <div class="input-wrapper full-width">
      <label>What will be the description of the tour</label>

      <validation-provider #default="{ errors }" name="experience_description">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <quill-editor v-model="tour.experience_description" :options="options"/>

          <input-counter quill v-model="tour.experience_description" :max="450" />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>

    <div class="input-wrapper full-width">
      <label>Describe places you will visit during the tour</label>

      <validation-provider #default="{ errors }" name="places_description">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <quill-editor v-model="tour.places_description" :options="options"/>

          <input-counter quill v-model="tour.places_description" :max="450" />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>
  </div>

</template>
<script>
import { quillEditor } from 'vue-quill-editor'
import {ValidationProvider} from "vee-validate";
import {required, max} from '@validations';

export default {
  components: {quillEditor, ValidationProvider},
  props: {
    tour: Object
  },
  data(){
    return {
      required,
      max,
      options: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', { 'list': 'ordered'}, { 'list': 'bullet' }],
          ]
        },
        formats: [
          'bold',
          'italic',
          'underline',
          'list',
        ],
        placeholder: 'Description should be no less than 100 characters',
        theme: 'snow'
      }
    }
  }
}
</script>