<template>
  <div class="step-wrapper">
    <h2>5. Photos and videos</h2>
    <p class="header-text">
      These images will be at the top of your experience page,
      so try uploading high quality photos of your experience to make a great first impression.
      You can always go back and change this later.
    </p>

    <div class="fw jc-space-between flex-wrap">
      <div class="tip-box">
        <p class="title">Tips:</p>
        <p class="text">
          1. Showing people engaged with the activity on the experience; <br>
          2. Showing off the location, activity, and candid aspects of your experience; <br>
          3. Making sure the photo has good lighting. Natural light is best; <br>
        </p>
      </div>

      <div class="tip-box">
        <div class="title">Examples:</div>

        <div class="text d-flex justify-content-start">
          <div class="img-wrapper"><img src="@core-img/submit-tour/photo2.png" alt="Image Tour"></div>
          <div class="img-wrapper"><img src="@core-img/submit-tour/photo2.png" alt="Image Tour"></div>
        </div>
      </div>
    </div>

    <validation-provider #default="{ errors }" name="cover_photo">
      <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
        <label>Cover photo <span class="light">(Choose a photo that represents your experience)</span></label>

        <div class="big"><photo :photo.sync="tour.cover_photo" /></div>
        <div class="validation-message ta-left">{{ errors[0] }}</div>
      </div>
    </validation-provider>

    <div class="input-wrapper gallery-input mb-24">
      <label>Gallery <span class="light">(optional)</span></label>
      <div class="gallery">
        <template v-for="(photo, index) in tour.gallery_photos">
          <photo :photo.sync="photo" @update:photo="tour.gallery_photos.splice(index, 1)"/>
        </template>

        <photo
          v-for="(blankPhoto, index) in blankPhotos" :key="index"
          :photo.sync="blankPhoto"
          @update:photo="tour.gallery_photos.push($event)"
        />
      </div>
    </div>

    <validation-provider #default="{ errors }" name="youtube_video_link" rules="regex:^(https?:\/\/)?(www\.)?youtube.com\/watch\?v=">
      <div class="general-input-wrapper input-wrapper"  :class="{'has-error': errors.length}">
        <label>Video <span class="light">(optional)</span></label>
        <input
          v-model="tour.youtube_video_link"
          class="step-data-control input-control"
          type="text"
          placeholder="Youtube video link"
        >

        <div class="validation-message">Only YouTube links are supported</div>
      </div>
    </validation-provider>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import {ValidationProvider} from "vee-validate";
import {required, regex} from '@validations';
import Photo from '@core/components/PhotoUploader';

export default {
  components: {ValidationProvider, draggable, Photo},
  props: {
    tour: Object
  },
  data(){
    return {
      required,
      regex,
    }
  },
  computed: {
    blankPhotos(){
      return new Array(8 - this.tour.gallery_photos.length).fill(null)
    }
  },
  methods: {
    updatePhoto(file, index){
      if (file) {
        return this.$set(this.tour.gallery_photos, index, file);
      }
      if(this.tour.gallery_photos[index]){
      }

      this.tour.gallery_photos.push(file)

      console.log(this.tour.gallery_photos)
    },
  }
}
</script>