<template>
  <div class="step-wrapper">
    <h2>6. Meeting point</h2>
    <p class="header-text">Choose up location for your experience.</p>

    <div class="d-flex justify-content-between flex-wrap">
      <div class="w380">
        <validation-provider #default="{ errors }" name="country_meet">
          <div @click="inputClick" class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
            <label>Country</label>

            <input
              v-model="tour.country_meet"
              :disabled="tour.country_meet === null"
              class="step-data-control input-control"
              type="text"
              placeholder="Enter the country"
            >
            <div class="validation-message">{{ errors[0] }}</div>
          </div>
        </validation-provider>

        <validation-provider #default="{ errors }" name="city_meet">
          <div @click="inputClick" class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
            <label>City</label>

            <input
              v-model="tour.city_meet"
              :disabled="tour.city_meet === null"
              class="step-data-control input-control"
              type="text"
              placeholder="Enter the street"
            >
            <div class="validation-message">{{ errors[0] }}</div>
          </div>
        </validation-provider>

        <validation-provider #default="{ errors }" name="address_meet">
          <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
            <label>Street address</label>
            <input type="hidden" v-model="tour.address_meet">

            <gmap-autocomplete
              ref="addressFieldRef"
              :value="tour.address_meet"
              :types="['address']"
              :fields=" ['address_components', 'geometry', 'icon', 'name']"
              @place_changed="setPlace"
            />
            <div class="validation-message">{{ errors[0] }}</div>
          </div>
        </validation-provider>
      </div>

      <div class="w380">
        <div class="general-input-wrapper input-wrapper">
          <label>State/region (optional)</label>

          <input
            v-model="tour.state_meet"
            class="step-data-control input-control"
            type="text"
            placeholder="Enter the state/region"
          >

          <div class="validation-message"/>
        </div>

        <div class="general-input-wrapper input-wrapper">
          <label>Building, apt., suit (optional)</label>

          <input
            v-model="tour.app_meet"
            class="step-data-control input-control"
            type="text"
            placeholder="Enter the building"
          >
        </div>
      </div>
    </div>

    <div class="input-wrapper mb-12 full-width">
      <label>Map preview</label>

      <div style="height: 250px">
        <GmapMap
          ref="mapRef"
          style="height: 250px"
          :options="options"
          :zoom="13"
          :center="center"
        >
          <GmapMarker v-if="position" :position="position"/>
        </GmapMap>
      </div>
    </div>

    <div class="input-wrapper mb-24 full-width">
      <label>Directions (optional)</label>

      <validation-provider #default="{ errors }" name="directions_description">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <div class="textarea-wrapper pb-4">
            <textarea v-model="tour.directions_description" placeholder="Consider including walking, driving"/>
          </div>
          <input-counter v-model="tour.directions_description" :max="450"/>

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>
  </div>

</template>
<script>
import {ValidationProvider} from "vee-validate";
import vSelect from 'vue-select'
import {gmapApi} from 'vue2-google-maps'

const defaultCenter = {lat: -33.8688, lng: 151.2195}

export default {
  components: {ValidationProvider, vSelect},
  props: {
    tour: Object
  },
  data() {
    return {
      options: {},
      map: null,
      countries: [
        {id: 'usa', text: 'USA'},
        {id: 'ae', text: 'United Arab Emirates'},
      ]
    }
  },
  computed: {
    googleMapApi: gmapApi,
    position() {
      // return this.lat && this.lng && this.googleMapApi ?
      //   this.googleMapApi.maps.LatLng(parseFloat(this.lat).toFixed(4), parseFloat(this.lng).toFixed(4))
      //   : null
      return this.lat && this.lng && this.googleMapApi ? new this.googleMapApi.maps.LatLng(this.lat, this.lng) : null
    },
    center() {
      return this.lat && this.lng ? {lat: this.lat, lng: this.lng} : defaultCenter
    },
    lat() {
      return this.tour.latitude ? Number.parseFloat(this.tour.latitude) : null
    },
    lng() {
      return this.tour.longitude ? Number.parseFloat(this.tour.longitude) : null
    }
  },
  mounted() {
    this.$refs.mapRef.$mapPromise.then((map) => {
      this.map = map
    })
  },
  methods: {
    inputClick(){
      if(this.tour.country_meet === null){
        this.$refs.addressFieldRef.$refs.input.focus()
      }
    },
    setPlace($event) {
      const country = $event.address_components.find(i => i.types.includes("country"));
      const city = $event.address_components.find(i => i.types.includes("administrative_area_level_1"));
      const locality = $event.address_components.find(i => i.types.includes("locality"));

      this.$set(this.tour, 'city_meet', city ? city.long_name : '')
      this.$set(this.tour, 'country_meet', country ? country.long_name : '')
      this.$set(this.tour, 'state_meet', locality ? locality.long_name : '')

      this.$set(this.tour, 'address_meet', $event.formatted_address)

      this.$set(this.tour, 'latitude', $event.geometry.location.lat())
      this.$set(this.tour, 'longitude', $event.geometry.location.lng())

      this.$nextTick(() => {
        this.$refs.mapRef.panTo(this.center)
      })
    }
  }
}
</script>