<template>
  <div class="step-wrapper">
    <h2>7. Group size and requirements</h2>
    <p class="header-text">Choose up how many people you can provide during one tour.</p>

    <div class="w380">

      <validation-provider #default="{ errors }" name="group_max_size">
        <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
          <label>Maximum group size</label>

          <v-select
            v-model="tour.group_max_size"
            :options="Array.from(Array(10)).map((v, i) => ({id: i + 1, text: i + 1}))"
            :class="{'is-invalid' : errors.length}"
            :reduce="i => i.id"
            placeholder="Place maximum group size"
          />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>

      <validation-provider #default="{ errors }" name="group_min_age">
        <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
          <label>Minimum age</label>

          <v-select
            v-model="tour.group_min_age"
            :options="Array.from(Array(16)).map((v, i) => ({id: i + 6, text: i + 6}))"
            :class="{'is-invalid' : errors.length}"
            :reduce="i => i.id"
            :disabled="tour.has_alcohol"
            placeholder="Place maximum group size"
          />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>

    <div class="general-input-wrapper input-wrapper mb-12">
      <label class="control control--checkbox">
        I will provide alcohol on my tour <span class="light">(minimal age will change to 21)</span>
        <input
          @change="tour.group_min_age = 21"
          v-model="tour.has_alcohol"
          class="age-control-checkbox step-data-control"
          type="checkbox"
        />
        <div class="control__indicator" />
      </label>
    </div>

    <div class="input-wrapper mb-24 full-width">
      <label>Additional requirements <span class="light">(optional)</span></label>

      <validation-provider #default="{ errors }" name="additional_requirements">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <div class="textarea-wrapper pb-4">
            <textarea v-model="tour.additional_requirements" placeholder="Consider including walking, driving"/>
          </div>
          <input-counter v-model="tour.additional_requirements" :max="450" />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";
import vSelect from 'vue-select'

export default {
  components: {ValidationProvider, vSelect},
  props: {
    tour: Object
  }
}
</script>