<template>
  <div class="step-wrapper">
    <h2>8. Equipment</h2>
    <p class="header-text">You can provide food and drink, special equipment, a ticket to a concert, or anything else
      special to make your guests comfortable.</p>

    <validation-provider #default="{ errors }" name="equip_required_type">
      <div class="general-input-wrapper" :class="{'has-error': errors.length}">

        <div class="categories-wrapper flat-categories">
          <div
            class="category-box"
            :class="{active: tour.equip_required_type === 1}"
            @click="tour.equip_required_type = 1"
          >
            <div class="category-box-inner">
              <p>I will provide all needed equipment</p>
            </div>
          </div>

          <div
            class="category-box"
            :class="{active: tour.equip_required_type === 2}"
            @click="tour.equip_required_type = 2"
          >
            <div class="category-box-inner">
              <p>My tour does not require any kind of equipment</p>
            </div>
          </div>

          <div
            class="category-box"
            :class="{active: tour.equip_required_type === 3}"
            @click="tour.equip_required_type = 3"
          >
            <div class="category-box-inner">
              <p>Additional equipment is required</p>
            </div>
          </div>
        </div>

        <input v-model="tour.equip_required_type" type="hidden">

        <div class="validation-message">{{ errors[0] }}</div>
      </div>
    </validation-provider>

    <div v-if="tour.equip_required_type === 3" class="input-wrapper mb-24 full-width">
      <h3>What should guests bring with them?</h3>

      <p class="header-text">
        Think through everything a guest will need to have with them during the experience that
        you’re not already providing. This will be emailed to guests once they book.
      </p>
      <label>Additional equipment <span class="light">(optional)</span></label>

      <validation-provider #default="{ errors }" name="equipment_what_to_bring">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <div class="textarea-wrapper pb-4">
            <textarea v-model="tour.equipment_what_to_bring" placeholder="Write there list of items"/>
          </div>
          <input-counter v-model="tour.equipment_what_to_bring" :max="450" />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";

export default {
  components: {ValidationProvider},
  props: {
    tour: Object
  }
}
</script>