<template>
  <div class="step-wrapper">
    <h2>9. Notes</h2>
    <p class="header-text">What else do guests need to know before they book.</p>

    <div class="input-wrapper mb-24 full-width">
      <label>Additional notes <span class="light">(optional)</span></label>

      <validation-provider #default="{ errors }" name="notes">
        <div class="general-input-wrapper" :class="{'has-error': errors.length}">

          <div class="textarea-wrapper pb-4">
            <textarea v-model="tour.notes" placeholder="Write there list of items"/>
          </div>
          <input-counter v-model="tour.notes" :max="450" />

          <div class="validation-message">{{ errors[0] }}</div>
        </div>
      </validation-provider>
    </div>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";

export default {
  components: {ValidationProvider},
  props: {
    tour: Object
  }
}
</script>