@import "helpers/typography.less";
@import "helpers/layout.less";

@import "sections/steps.less";
@import "sections/verification.less";
@import "sections/instruction.less";
@import "sections/schedule.less";
@import "sections/payments.less";
@import "sections/hosted-tours.less";

@import "elements/progres-bar.less";
@import "elements/quill.less";
@import "elements/photo-upload.less";
@import "elements/popup.less";
@import "elements/datepicker.less";
@import "elements/bottom-bar.less";
@import "elements/time-option.less";
@import "elements/option-box.less";
@import "elements/tour-box.less";
@import "elements/settings-form.less";
@import "elements/notify.less";
@import "elements/ball-loader.less";

@import "elements/form.less";

.dashboard-container {
	width: 1250px;
	max-width: 80%;
	flex: 0 0 1250px;

	margin: auto;

	padding-top: 40px;
	padding-bottom: 80px;

	.header-text {
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 12px;
	}
}

.categories-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -23px;

	.category-box {
		width: 33%;
		flex: 0 0 33%;

		padding: 0 23px;
		margin-bottom: 16px;

		.category-box-inner {
			padding: 24px;
			background: #FFFFFF;
			border: 2px solid #E0E0E0;
			box-sizing: border-box;
			// box-shadow: 0px 1px 7px rgba(9, 35, 47, 0.20012); 
			border-radius: 10px;
			cursor: pointer;

			color: #A4A4A4;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;

			.img-wrapper {
				margin-bottom: 10px;
			}
		}

		&.active {
			.category-box-inner {
				border-color: #25B29D;
				box-shadow: none;
				color: #25B29D !important;

				svg {
					&, path {
						fill: #25B29D !important;
					}					
				}
			}
		}
	}
}

.tip-box {
	margin-bottom: 24px;

	width: 600px;
	max-width: 100%;

	&.half {
		flex: 0 0 50%;
		padding-right: 30px;
	}

	&.example-box {
		width: 380px;
	}

	.title {
		font-size: 16px;
		color: #25B29D;
		font-weight: bold;
		margin-bottom: 8px;
	}

	.text {
		font-size: 14px;
		color: #484848;
		line-height: 20px;

		&.example {
			padding: 12px;
			background: #F9F9F9;
			box-shadow: 0px 1px 4px rgba(9, 35, 47, 0.20012);
			border-radius: 4px;
		}

		.img-wrapper {
			background: #FFFFFF;
			box-shadow: 0px 1px 4px rgba(9, 35, 47, 0.20012);
			border-radius: 4px;
			overflow: hidden;
			margin-right: 38px;
		}
	}
}

.gallery-input {
	width: 100%;
	
	.gallery {
		display: flex;
		flex-wrap: wrap;

		.photo-upload-box {
			margin: 6px 46px;
			width: 200px;
			margin-left: 0;
		}
	}
}

.calculator-box {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 1px 4px rgba(9, 35, 47, 0.20012);
	border-radius: 4px;
	padding: 24px;
	margin-top: -34px;

	.title {
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;
		color: #25B29D;
		margin-bottom: 24px;
	}

	.name {
		color: #484848;
	}

	.value-input {
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 2px;
		width: 50px;
		text-align: center;
		padding: 3px;
	}

	.description {
		margin-top: 26px;
		text-align: center;
		color: #A4A4A4;
		line-height: 16px;
		font-size: 12px;
	}
}



.divider {
	width: 100%;
	height: 1px;
	margin-bottom: 12px;
	border: 1px dashed #E0E0E0;

	&.solid {
		border-style: solid;
	}
}

.has-background-grey {
	background-color: #EBF2F6 !important;
}

.hidden {
	display: none !important;
}