@mixin placeholderColor(){
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  color: #222222;
}

@mixin flex-direction($string){
  flex-direction: $string;
}
@mixin flex-content($string){
  justify-content: $string;
}
@mixin flex-align($string){
  align-items: $string;
}
@mixin flex-wrap($string){
  flex-wrap: $string;
}
@mixin transition($transition){
  transition: $transition;
}
@mixin transform($transform){
  transform: $transform;
}
@mixin flex-align-self($string){
  align-self: $string;
}
@mixin flex-display(){
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin gradient-two($from, $too){
  background: linear-gradient(to bottom, $from 0%, $too 100%);
}

@mixin placeholderForm(){
  font-size: 14px;
  font-weight: 300;
  color: #a4a4a4;
}