@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@import 'bootstrap-extended';
@import '~bootstrap-vue/src/index.scss';

@import "mixins";

@import "libs/reset";
@import "libs/feather";
@import "libs/datatables";
@import "libs/datepicker";
@import "libs/fine-uploader";
@import "libs/lightslider";
@import "libs/magnific-popup";
@import "libs/pnotify";
@import "libs/select2";
@import "libs/range-slider";
@import "libs/quill.core";
@import "libs/quill.show";
@import "libs/vue-select";
@import "libs/vue2-dropzone";
@import "libs/vue-toastification";

@import "layouts/main";

@import "parts/slider";
@import "parts/flex";
@import "parts/main";
@import "parts/footer";
@import "parts/form";
@import "parts/media";
@import "parts/message";

@import "parts/dashboard/main";

@import "parts/elements/breadcrumbs";
@import "parts/elements/tour-box";
@import "parts/elements/filters";
@import "parts/elements/irs";
@import "parts/elements/datatable";
@import "parts/elements/tippy";
@import "parts/elements/select";

@import "parts/detail-tour-page/detail-tour-page";
@import "parts/search/search";
@import "parts/purchased/purchased";

.cursor-pointer{
  cursor: pointer;
}

em {
  font-style: italic !important;
}