<template>
  <magnific-popup-modal :show="modal.show" @close="$emit('close')">
    <div id="activate" class="popup w700">
      <div class="popup-content">
        <h1 class="mb-24">Activation</h1>

        <div class="input-wrapper general-input-wrapper full-width" :class="{'has-error': error}">
          <label>Guest confirmation code</label>

          <input
            v-model="code"
            class="step-data-control"
            placeholder="Write there everything you are interested in tour"
          >
          <div  class="validation-message">Validation code is invalid</div>
        </div>

        <button
          class="submit-activation btn filled orange w380"
          :class="{disabled: !code}"
          @click="handleActivate"
        >
          Activate
        </button>
      </div>
    </div>
  </magnific-popup-modal>
</template>
<script>
import MagnificPopupModal from '@core/components/MagnificPopupModal'
import {activateBooking} from '@core-api/booking';

export default {
  components: {MagnificPopupModal},
  props: ['modal'],
  data() {
    return {
      code: '',
      error: false,
    }
  },
  methods: {
    async handleActivate() {
      let response = await activateBooking({
        id: this.modal.booking_id,
        code: this.code
      })

      if (!response.success) {
        return this.error = true;
      }

      return this.$emit('activated')
    }
  },
  watch: {
    'modal.show': function () {
      this.error = false;
      this.code = '';
    }
  }
}
</script>