<template>
  <div class="fw">
    <div class="calendar-wrapper">
      <v-calendar
        locale="en"
        is-expanded
        :attributes='attributes'
        @dayclick="handleDayClick"
        :nav-visibility="'hidden'"
      >
      </v-calendar>
    </div>

    <div class="schedule-sidebar">
      <div class="fw jc-flex-end mb-30">
        <button
          class="btn filled orange w280 hide-sm d-flex justify-content-center align-items-center"
          @click="$emit('editSchedules')"
        >
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: relative;top: 2px;left: -5px;">
            <path d="M15.5884 2.40137L13.5986 0.411499C13.3334 0.146362 12.9801 0.00012207 12.604 0C12.6038 0 12.6036 0 12.6034 0C12.2273 0 11.8743 0.145996 11.6092 0.411011L1.46396 10.5562C1.38083 10.6412 1.34665 10.7623 1.322 10.8381L0.0180383 15.4021C-0.0287147 15.5659 0.0169397 15.7422 0.137301 15.8625C0.226535 15.9518 0.346408 16 0.468967 16C0.512058 16 0.555393 15.9941 0.597873 15.9819L5.15928 14.6787C5.17283 14.6748 5.37437 14.6055 5.44383 14.536L15.589 4.39075C15.8542 4.12561 16.0001 3.77234 16 3.396C15.9999 3.0199 15.8536 2.66663 15.5884 2.40137ZM1.15195 14.848L2.02769 11.7831L4.2169 13.9723L1.15195 14.848ZM5.11216 13.541L2.45896 10.8878L10.6138 2.73303L13.267 5.38623L5.11216 13.541ZM14.9257 3.72754L13.9303 4.72302L11.277 2.0697L12.2725 1.07434C12.3603 0.98645 12.4779 0.93811 12.6034 0.93811H12.6036C12.7294 0.93811 12.8472 0.986694 12.9353 1.07483L14.9252 3.0647C15.108 3.24756 15.1083 3.54492 14.9257 3.72754Z" fill="white"/>
          </svg>
          <span>Edit my schedule</span>
        </button>
      </div>
      <div class="content active">

        <div class="day-wrapper">
          <p class="small-header color-green mb-24">{{ currentDate | moment('MMMM D, Y') }}</p>
          <div class="divider solid mb-24 mt-24"></div>

          <template v-if="currentSchedule && currentScheduleTimeSlots.some(timeSlot => timeSlot.guests.length)">
            <div
              v-for="timeSlot in currentScheduleTimeSlots "
              v-if="timeSlot.guests.length"
              class="time-wrapper"
            >
              <p class="h2 mb-16">
                {{ $moment().startOf('day').add(timeSlot.time, "hours").format('HH:mm') }}
              </p>

              <div class="guests-wrapper">
                <div class="guest" v-for="guest in timeSlot.guests">
                  <div class="guest-header">
                    <div>
                      <span class="guest-name bolder">{{ guest.guestName }}</span>
                      <span v-if="guest.additionalGuestsCount">
                        + {{ guest.additionalGuestsCount }} additional guests
                      </span>
                    </div>
                    <div>
                      <button
                        class="simple-link bolder orange open-modal"
                        @click="activate_modal = {show: true, booking_id: guest.booking_id}"
                      >
                        Activate
                      </button>
                    </div>
                  </div>
                  <div class="guest-info">
                    <p>{{ guest.contactEmail }}</p>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <p v-else>You don’t have guests on this date</p>
        </div>
      </div>
    </div>

    <activation-modal
      :modal="activate_modal"
      @close="activate_modal.show = false"
      @activated="handleActivated"
    />
  </div>
</template>
<script>
import ActivationModal from './ActivationModal'
import VCalendar from 'v-calendar/lib/components/calendar.umd'
import ToastificationContent from "@core/components/toastification/ToastificationContent";

export default {
  components: {VCalendar, ActivationModal},
  props: ['schedules'],
  data() {
    return {
      currentDate: new Date(),
      activate_modal: {
        show: false
      },
    }
  },
  computed: {
    attributes() {
      return [
        {
          dates: this.currentDate,
          highlight: true,
          key: this.$moment(this.currentDate).format('YYYY-MM-DD')
        },
        {
          dot: {
            color: 'red',
          },
          dates: this.schedules.filter(schedule => {
              return schedule.scheduledTimeSlots.some(timeSlot => timeSlot.guests.length)
            }
          ).map(i => new Date(i.date)),
        },
        ...this.schedules.map(schedule => {
          return {
            dates: new Date(schedule.date),
            highlight: true,
            key: schedule.date,
          }
        }),
      ]
    },
    currentSchedule() {
      return this.schedules.find(i => i.date === this.$moment(this.currentDate).format('YYYY-MM-DD')) || null;
    },
    currentScheduleTimeSlots() {
      return this.currentSchedule.scheduledTimeSlots.sort((a, b) => {
        return a.time - b.time;
      })
    }
  },
  methods: {
    handleDayClick(event) {
      this.currentDate = event.date;
    },
    handleActivated() {
      this.currentScheduleTimeSlots.forEach(timeSlot => {
        this.$delete(timeSlot.guests, timeSlot.guests.findIndex(guest => guest.booking_id === this.activate_modal.booking_id));
      });

      this.activate_modal = {
        show: false
      }

      this.$toast({
        component: ToastificationContent,
        position: 'top-right',
        props: {
          title: 'Success',
          text: 'The tour was successfully activated!',
          icon: 'CheckIcon',
          variant: 'success'
        },
      })

    }
  }
}
</script>
