<template>
  <div class="fw">
    <div class="calendar-wrapper">
      <v-calendar
        locale="en"
        is-expanded
        :attributes="attributes"
        @dayclick="handleDayClick"
        :min-date='new Date()'
      >
      </v-calendar>
    </div>

    <div class="schedule-sidebar">
      <div class="fw jc-flex-end mb-30">
        <button class="btn filled orange ta-center w280" @click="$emit('saveSchedules')">
          <span>Save</span>
        </button>
      </div>

      <div class="content active">
        <schedule
          v-for="(schedule, index) in sortedByDateSchedules"
          :key="index"
          :schedule="schedule"
          @last-deleted="$delete(schedules, schedules.findIndex(i => i.date === schedule.date))"
        />
      </div>
    </div>
  </div>
</template>

<script>
import VCalendar from 'v-calendar/lib/components/calendar.umd'
import Schedule from './Schedule'

export default {
  components: {VCalendar, Schedule},
  props: ['schedules'],
  data() {
    return {
      currentDate: new Date(),
      currentSchedule: null
    }
  },
  computed: {
    attributes() {
      return [
        {
          dot: {
            color: 'red',
          },
          dates: this.schedules.filter(schedule => schedule.scheduledTimeSlots.some(timeSlot => timeSlot.guests.length)).map(i => i.date),
          popover: {
            label: 'You have reservations here',
            visibility: 'hover',
            hideIndicator: true,
          },
        },
        ...this.schedules.map(schedule => {
          return {
            dates: new Date(schedule.date),
            highlight: true,
            key: schedule.date
          }
        }),
      ]
    },
    sortedByDateSchedules() {
      return this.schedules.sort((a, b) => {
        return new Date(a.date) - new Date(b.date)
      })
    }
  },
  methods: {
    log(log) {
      console.log(log)
    },
    handleDayClick(event) {
      let schedule = this.schedules.find(schedule => schedule.date === event.id);

      if (schedule) {
        if (schedule.scheduledTimeSlots.some(timeSlot => timeSlot.guests.length)) {
          return
        }
        return this.$delete(this.schedules, this.schedules.findIndex(schedule => schedule.date === event.id));
      }

      if (!(this.$moment().diff(event.date, 'd') > 0)) {
        this.schedules.push({
          date: event.id,
          scheduledTimeSlots: []
        })
      }
    },
  }
}
</script>
