<template>
  <div class="day-slot mb-18" :class="{active: isActive}">
    <p class="small-header color-green mb-24">
      {{ schedule.date | moment('MMMM D, Y') }}
      <span class="toggler" :class="{active: isActive}" @click="isActive = !isActive"></span>
    </p>
    <div class="divider solid mb-24 mt-24"></div>
    <div class="time-slots-wrapper">
      <div
          v-for="n in 23"
          :key="n"
          v-if="n >= 6"
          class="time-slot"
          :class="{
            active: schedule.scheduledTimeSlots.find(i => i.time === n),
            'is-bought': hasReservationOnHour(n)
          }"
          @click="handleTimeClick(n)"
      >
        {{ $moment().startOf('day').add(n, "hours").format('HH:mm') }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['schedule'],

  data() {
    return {
      isActive: true,
    }
  },
  methods: {
    handleTimeClick(time) {
      let timeSlot = this.schedule.scheduledTimeSlots.find(i => i.time === time)
      if (timeSlot) {
        if (timeSlot.guests.length) {
          return;
        }

        this.$delete(this.schedule.scheduledTimeSlots, this.schedule.scheduledTimeSlots.findIndex(i => i.time === time))

        if(!this.schedule.scheduledTimeSlots.length){
          this.$emit('last-deleted')
        }
        return
      }

      this.schedule.scheduledTimeSlots.push({time: time, guests: []})
    },
    hasReservationOnHour(time) {
      let timeSlot = this.schedule.scheduledTimeSlots.find(i => i.time === time)

      return timeSlot && timeSlot.guests.length
    }
  }
}
</script>
