<template>
  <div>
    <div class="photo-upload-box big" :class="{'has-photo': photo}">
      <div class="remove-photo" @click="$emit('update:photo', null)">
        <img src="@core-img/icons/x-icon.svg" alt="Remove Image">
      </div>
      <img class="result-img" :src="photo && photo.medium_src" alt="Photo">
      <div class="img-wrapper">
        <img src="@core-img/submit-tour/upload-photo.svg" alt="Upload">
      </div>
      <div class="text-part" @click="visible = true">
        <button class="btn unfilled green">Choose file</button>
      </div>
    </div>

    <uploaded-files-modal
      :visible.sync="visible"
      :file.sync="photo"
      @success="handleSuccessUploadModal"
    />
  </div>
</template>
<script>
import UploadedFilesModal from '@core/components/uploaded-files-modal';

export default {
  components: {UploadedFilesModal},
  props: {
    photo: Object
  },
  data(){
    return {
      visible: false
    }
  },
  methods: {
    handleSuccessUploadModal(file) {
      this.$emit('update:photo', file)
      this.visible = false
    }
  },
}
</script>