.bottom-bar {
  position: fixed;
  z-index: 2;
  bottom: -140px;
  left: 0;
  width: 100%;

  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  box-shadow: 0px -1px 8px rgba(9, 36, 48, 0.2);

  transition: all .25s ease;

  &.visible {
    bottom: 0;
  }

  .mobile-bottom-bar-stars {
    .reviews-total-info {
      margin-bottom: 4px;
    }

    .stars-wrapper {
      position: relative;
      top: -3px;
    }
  }

  .action-button-wrapper {
    margin-top: 8px;

    .btn {
      width: 100% !important;
    }
  }
}