.is-tourzy-datepicker {
  .datepicker {
    font-family: 'Open Sans' !important;
    border: none !important;
    width: 200px;

    .datepicker--nav {
      border-bottom: none !important;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;

      .datepicker--nav-action {
        display: none !important;

        svg {
          path {
            stroke: #A4A4A4 !important;
          }
        }
      }

      .datepicker--nav-title {
        padding-left: 0;
        pointer-events: none !important;

        &, i {
          font-weight: 500 !important;
          font-size: 24px !important;
          line-height: 33px !important;
          color: #25B29D !important;
        }
      }
    }

    .datepicker--content {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

      .datepicker--cell {
        height: 28px;
        position: relative;

        .count {
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          color: #FC4A1A !important;
          font-size: 14px;

          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
        }

        &.-disabled- {
          pointer-events: none !important;

          &.-focus- {
            background-color: transparent !important;
          }
        }

        &:not(.-disabled-) {
          color: #25B29D !important;
        }

        &.-focus- {
          background-color: rgba(37, 178, 157, 0.2);
        }

        &.-selected- {
          background-color: #25B29D;
          color: #fff !important;
        }
      }

      .datepicker--day-name {
        display: none;
      }
    }
  }

  &.is-book-datepicker {
    .datepicker {
      width: 370px;

      .datepicker--nav {
        .datepicker--nav-action {
          display: initial !important;
        }

        .datepicker--nav-title {
          &, i {
            color: #243D44 !important;
          }
        }
      }

      .datepicker--content {
        .datepicker--cell {
          margin-top: 12px;
          margin-bottom: 12px;
          margin-left: calc((14.28571% - 32px) / 2);
          margin-right: calc((14.28571% - 32px) / 2);
          width: 32px;
          height: 32px;
          font-size: 22px;
        }
      }
    }
  }

  &.is-search-page-datepicker {
    .datepicker {
      width: 236px;

      .datepicker--content {
        .datepicker--cell:not(.-disabled-):not(.-focus-) {
          color: #484848 !important;

          &.-selected- {
            color: #fff !important;
          }
        }
      }

      .datepicker--nav {
        .datepicker--nav-action {
          display: initial !important;
        }

        .datepicker--nav-title {
          &, i {
            font-size: 14px !important;
            line-height: 19px !important;
            font-weight: 600 !important;
            color: #484848 !important;
          }

        }
      }
    }
  }

  &.is-schedule-datepicker {
    .datepicker {
      width: 100%;

      .datepicker--content {
        .datepicker--cell {
          margin-top: 15px;
          margin-bottom: 15px;
          margin-left: calc((14.28571% - 50px) / 2);
          margin-right: calc((14.28571% - 50px) / 2);
          width: 50px;
          height: 50px;
          font-size: 24px;
        }
      }
    }
  }
}