.ui-pnotify {
  .ui-pnotify-container {
    background: #FFFFFF !important;
    box-shadow: 0px 1px 7px rgba(9, 35, 47, 0.20012) !important;
    border-radius: 4px !important;
    padding: 12px 40px !important;
    border-bottom: 8px solid !important;

    .ui-pnotify-title {
      margin-bottom: 8px !important;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
    }

    .ui-pnotify-closer {
      position: absolute;
      right: 10px;
    }

    .ui-pnotify-text {
      color: #484848;
      font-size: 14px;
      line-height: 19px;
    }

    position: relative;
    padding-left: 100px !important;

    &::before {
      content: ' ';
      display: block;
      width: 38px;
      height: 26px;

      position: absolute;
      left: 40px;
      top: 50%;
      margin-top: -13px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.success {
    .ui-pnotify-container {
      border-bottom-color: #25B29D !important;
    }

    .ui-pnotify-title {
      color: #25B29D !important;
    }

    .ui-pnotify-container {
      &::before {
        background-image: url(~@core-img/icons/icon-ok-green.svg);
      }
    }
  }

  &.fail {
    .ui-pnotify-container {
      border-bottom-color: #FC4A1A !important;
    }

    .ui-pnotify-title {
      color: #FC4A1A !important;
    }

    .ui-pnotify-container {
      &::before {
        background-image: url(~@core-img/icons/icon-bad-red.svg);
      }
    }
  }
}