.option-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .option-item {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 24px;
    transition: all .25s ease;
    cursor: pointer;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:hover,
    .active {
      border-color: #25B29D;
    }

    &.active {
      background-color: rgba(37, 178, 157, 0.2);
    }

    &.inactive {
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid #E0E0E0 !important;
    }
  }
}