.photo-upload-box {
  background: #FFFFFF;
  border: 1px dashed #E0E0E0;
  border-radius: 4px;
  padding: 60px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  input {
    display: none;
  }

  .img-wrapper {
    margin-bottom: 24px;
  }

  .text-part {
    font-weight: 600;
    color: #484848;
    font-size: 14px;
    line-height: 20px;

    p {
      margin-bottom: 12px;
    }
  }

  .result-img {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
  }

  .remove-photo {
    display: none;
    position: absolute;
    z-index: 3;
    top: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    padding: 6px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &.has-photo {
    border-color: transparent;

    .result-img {
      display: block;
    }

    .remove-photo {
      display: flex;
    }
  }

  .btn {
    background: #FFFFFF;
    border: 1px solid #25B29D;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
    color: #25B29D;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background-color: #25B29D;
      color: #fff;
    }
  }

  &.is-dragover {
    border-color: #25B29D;
  }

  &.big {
    width: 270px;
    max-width: 100%;

    .text-part {
      font-size: 16px;
      line-height: 22px;
    }

    .img-wrapper {
      margin-bottom: 60px;
    }
  }

  &.is-small-height {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.big .photo-upload-box {
  width: 270px;
  max-width: 100%;

  .text-part {
    font-size: 16px;
    line-height: 22px;
  }

  .img-wrapper {
    margin-bottom: 60px;
  }
}

.validation-photo .photo-upload-box {
  padding: 30px 24px;

  .img-wrapper {
    margin-bottom: 40px;
  }

  .text-part {
    width: 100%;
  }
}