.mfp-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.popup {
  width: 600px;
  max-width: 100% !important;
  background-color: #fff;
  position: relative;
  margin: auto;

  .popup-content {
    padding: 40px 60px;
  }
}


#share-tour {
  .share-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .share-button {
      width: 25%;
      max-width: 25%;
      flex: 0 0 25%;
      margin: 20px 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      transition: all .25s ease;

      img {
        margin-bottom: 8px;
        width: 24px;
      }

      span {
        font-size: 16px;
        line-height: 22px;
        color: #A4A4A4;
      }
    }
  }

  .share-popup-image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#book {
  .popup-content {
    width: 50%;
    max-width: 50%;
    flex: 0 0 50%;
  }

  .time-input,
  .book-summary-block {
    display: none;

    &.active {
      display: block;
    }
  }
}

.book-summary-block {
  .text-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;
    line-height: 22px;
  }

  .divider {
    margin-top: 8px;
    margin-bottom: 16px;
    border-style: solid;
  }
}

#pay, #cancel {
  .hero-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .img-wrapper {
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;
    }
  }

  .popup-hero-img {
    img {
      width: 54px;
      height: 54px;
    }
  }

  .summary-content {
    flex: 1;
  }

  .pay-summary-block {
    padding: 24px;
    background: #EBF2F6;
    box-shadow: 0px 1px 8px rgba(9, 35, 47, 0.20012);
    border-radius: 4px;

    .tour-image-wrapper {
      img {
        display: block;
        width: 80px;
      }
    }
  }
}

#success-pay-popup {
  background-image: url(~@core-img/tour-details/success-pay-popup-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    position: relative;

    &::before {
      content: ' ';
      display: block;

      background-image: url(~@core-img/icons/done-green-light.svg);

      width: 64px;
      height: 46px;

      position: absolute;
      left: -28px;
    }
  }
}