.general-input-wrapper {
  .quill-editor {
    border-bottom: none !important;
  }
}

.quill-counter {
  text-align: right;
  padding: 10px;
  padding-top: 5px;
  border: 1px solid #ccc;
  border-top: none;
  color: #A4A4A4;
  font-size: 12px;
}

.ql-editor {
  strong {
    font-weight: 700 !important;
  }

  em {
    font-style: italic !important;
  }
}

.ql-container {
  font-size: 16px !important;
}