.time-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  .time-option {
    width: calc(50% - 12px);
    max-width: calc(50% - 12px);
    flex: 0 0 calc(50% - 12px);

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

    margin-bottom: 8px;
    padding: 8px;
    text-align: center;

    transition: all .15s ease;

    .time {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 8px;

      color: #25B29D;
    }

    .slots {
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #A4A4A4;
    }

    &:hover {
      box-shadow: 0px 1px 4px rgba(9, 35, 47, 0.2);
    }

    &.disabled {
      background-color: rgba(164, 164, 164, 0.1);
      border-color: rgba(164, 164, 164, 0.1);
      pointer-events: none;

      .time {
        color: #A4A4A4;
      }
    }

    &.active {
      background-color: #25B29D;
      border-color: #25B29D;

      .time, .slots {
        color: #fff;
      }
    }
  }
}