.purchased-tour-box {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  border-top: 1px solid #E0E0E0;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #484848;
  }

  .img-wrapper {
    width: 184px;
    border-radius: 4px;
  }

  .text-wrapper {
    margin-left: 24px;

    .mg-bottom-8 {
      margin-bottom: 8px;
    }

    .list-wrapper {
      margin-top: 8px;

      .list-item {
        display: flex;
        margin-top: 16px;

        img {
          width: 24px;
          margin-right: 12px
        }
      }
    }
  }

  .btns-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    a {
      margin-top: 24px;
    }
  }

}


