<template>
  <div class="dashboard-container steps-wrapper">

    <spinner v-if="loading && !tour" height="300" class="w-100"/>

    <template v-else>
      <div class="steps-content">
        <h1>Submit your tour</h1>

        <validation-observer ref="formRef" #default="{invalid}">
          <component
            v-for="step in steps" :key="step.index"
            v-if="step.index <= tour.step"
            :is="step.component"
            :tour="tour"
            :categories="categories"
            :class="['step-' + step.index]"
          />

          <privacy-policy v-if="tour.step === 11"/>
        </validation-observer>

        <div class="submit-step-wrapper mb-5">
          <button class="submit-step btn filled orange" @click="handleSave">
            <b-spinner v-if="loading" small />
            <span v-else>Save changes</span>
          </button>
        </div>

        <div class="progress-wrapper">
          <p><span class="count-left">{{ tour.step }}</span> steps left</p>
          <div class="progress-bar">
            <div class="progress" :style="{width: tour.step * 100 / 11 +  '%'}"></div>
          </div>
        </div>
      </div>

      <div class="steps-sidebar hide-sm">
        <div
          v-for="step in steps" :key="step.index"
          class="sidebar-point"
          :class="[
            {'done': step.index < tour.step},
            {'active': step.index === tour.step}
          ]"
          @click="scrollToStep(step.index)"
        >
          {{ step.title }}
        </div>
      </div>
    </template>

  </div>
</template>
<script>
import {ValidationObserver} from "vee-validate";

import Step1 from '../steps/1';
import Step2 from '../steps/2';
import Step3 from '../steps/3';
import Step4 from '../steps/4';
import Step5 from '../steps/5';
import Step6 from '../steps/6';
import Step7 from '../steps/7';
import Step8 from '../steps/8';
import Step9 from '../steps/9';
import Step10 from '../steps/10';
import Step11 from '../steps/11';
import PrivacyPolicy from './PrivacyPolicy';

import {getMyTour, saveTour} from '@core-api/tour';

export default {
  components: {
    ValidationObserver, PrivacyPolicy
  },
  data() {
    return {
      loading: true,
      categories: [],
      tour: null,

      steps: [
        {title: 'Location', index: 1, component: Step1},
        {title: 'Category', index: 2, component: Step2},
        {title: 'Title', index: 3, component: Step3},
        {title: 'Description of the tour', index: 4, component: Step4},
        {title: 'Photos and videos', index: 5, component: Step5},
        {title: 'Meeting point', index: 6, component: Step6},
        {title: 'Group size and requirements', index: 7, component: Step7},
        {title: 'Equipment', index: 8, component: Step8},
        {title: 'Notes', index: 9, component: Step9},
        {title: 'Price', index: 10, component: Step10},
        {title: 'Tour duration', index: 11, component: Step11},
      ]
    }
  },
  created() {
    getMyTour().then(response => {
      this.tour = response.tour;
      this.categories = response.categories;
      this.loading = false

      this.$nextTick(() => {
        this.scrollToStep(this.tour.step)
      })
    });
  },
  methods: {
    handleSave() {
      this.$refs.formRef.validate().then(async success => {
        if (success) {

          this.loading = true

          try {
            const {tour, url} = await saveTour({
              ...this.tour
            })

            if (tour.step === 12) {
              return window.location.reload()
            }

            this.$set(this.tour, 'step', tour.step);
            this.loading = false

            this.$nextTick(() => {
              this.scrollToStep(this.tour.step)
            })
          } catch (e) {

            this.loading = false
            this.$refs.formRef.setErrors(e.errors)
            this.$nextTick(() => {
              this.scrollFirstError()
            })
          }
        } else {
          this.scrollFirstError()
        }
      })
    },
    scrollToStep(index) {
      const step = $('.step-' + index).eq(0);

      step.length && $("html, body").animate({scrollTop: step.offset().top - 100,}, 500);
    },
    scrollFirstError() {
      $("html, body").animate({
        scrollTop: $('.general-input-wrapper.has-error').eq(0).offset().top - 100,
      }, 500);
    }
  }
}
</script>

<style>
.steps-wrapper .step-wrapper {
  display: block;
}
</style>