<template>
  <div>
    <div class="divider"></div>

    <h2>Review our polices before</h2>

    <h4>Minimum guests</h4>
    <p class="header-text">
      Experiences on Tourzy have a 1 guest minimum. That means if one person books your experience, you’ll still be expected to host them.
    </p>

    <h4>Service fees</h4>
    <p class="header-text">
      Tourzy takes 20% of each booking. Tourzy handles payment processing, provides 24-hour customer service, and maintains liability insurance for most experiences. Read more about our service fee.
    </p>

    <h4>Exclusivity</h4>
    <p class="header-text mb-24">
      Each experience date you schedule through Tourzy must only be attended by Tourzy guests.
      Guests who book and pay through other platforms must be hosted at separate times.
    </p>

    <validation-provider #default="{ errors }" name="termPolicy" :rules="{ required: { allowFalse: false } }">
      <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
        <label class="control control--checkbox">
        <span>
          I agree to the <a href="/policy" target="_blank">Tourzy Experiences Additional Terms of Service </a>
        </span>

          <input class="step-data-control" v-model="termPolicy" type="checkbox"/>
          <div class="control__indicator" />

          <span class="validation-message m-0 p-0 ml-12">Please, fill this field</span>
        </label>
      </div>
    </validation-provider>

    <validation-provider #default="{ errors }" name="guestPolicy" :rules="{ required: { allowFalse: false } }">
      <div class="general-input-wrapper input-wrapper" :class="{'has-error': errors.length}">
        <label class="control control--checkbox">
        <span>
        <span>I agree to the <a href="/refund" target="_blank">Guest Refund Policy</a></span>
        </span>

          <input class="step-data-control" v-model="guestPolicy" type="checkbox"/>
          <div class="control__indicator" />

          <span class="validation-message m-0 p-0 ml-12">Please, fill this field</span>
        </label>
      </div>
    </validation-provider>
  </div>
</template>
<script>
import {ValidationProvider} from "vee-validate";
import {required} from '@validations';
export default {
  components: {ValidationProvider},
  data(){
    return {
      required,
      termPolicy: false,
      guestPolicy: false,

    }
  }
}
</script>