<template>
  <div>
    <b-modal
      cancel-variant="outline-secondary"
      centered
      ok-title="Approve"
      cancel-title="Decline"
      :visible="visible"
      @change="val => $emit('update:visible', val)"
      @ok.prevent="approveModal.visible = true"
      @cancel.prevent="declineModal.visible = true"
    >
      <div class="popup-form" v-if="payout">
        <div class="d-flex align-items-center flex-wrap">
          <div class="card-title text-center" style="width: 100%;margin-bottom: 15px">
            Payout - {{ payout.money_back.percent }}%
          </div>
        </div>
        <ul class="list-group list-group-flush mb-2">

          <li class="list-group-item">
            <span class="font-weight-bold">Payout type:</span> User tour cancel
          </li>
          <li class="list-group-item">
            <span class="font-weight-bold">Amount, $:</span>
            {{ payout.money_back.amount }}
          </li>
          <li class="list-group-item">
            <span class="font-weight-bold">Bank Name:</span>
            {{ payout.bank_data.bank_name }}
          </li>
          <li class="list-group-item">
            <span class="font-weight-bold">Routing Number:</span>
            {{ payout.bank_data.routing_number }}
          </li>
          <li class="list-group-item">
            <span class="font-weight-bold">Account Number:</span>
            {{ payout.bank_data.account_number }}
          </li>
          <li class="list-group-item">
            <span class="font-weight-bold">Account Holder Name:</span>
            {{ payout.bank_data.account_holder_name }}
          </li>

          <li class="list-group-item">
            <span class="font-weight-bold">Cancel Reason:</span>
            {{ payout.cancel_reason }}
          </li>

          <li class="list-group-item">
            <span class="font-weight-bold">Cancel Message:</span>
            {{ payout.cancel_message }}
          </li>
        </ul>
      </div>
    </b-modal>

    <b-modal
      cancel-variant="outline-secondary"
      centered
      :visible="approveModal.visible"
      @change="val => approveModal.visible = val"
      @ok.prevent="handleApprove"
    >
      <div class="text-center">Are you sure?</div>
    </b-modal>

    <b-modal
      cancel-variant="outline-secondary"
      centered
      :visible="declineModal.visible"
      @change="val => declineModal.visible = val"
      @ok.prevent="handleDecline"
    >
      <validation-observer ref="formRef" #default="{invalid}">
        <b-form-group label="Reason" class="mt-2">
          <validation-provider #default="{ errors }" name="reason" rules="required|min:10">
            <b-form-textarea
              v-model="declineModal.reason"
              :state="errors.length > 0 ? false:null"
              type="text"
              placeholder="Reason"
            />
            <small class="text-danger">{{ errors[0] }}</small>
          </validation-provider>
        </b-form-group>
      </validation-observer>
    </b-modal>
  </div>
</template>
<script>
import {cancelBookingAccept, cancelBookingDecline} from '@admin-api/payout';
import {ValidationObserver, ValidationProvider} from "vee-validate";

export default {
  components: {ValidationObserver, ValidationProvider},
  props: {
    visible: Boolean,
    payout: Object,
  },
  data() {
    return {
      approveModal: {
        visible: false
      },
      declineModal: {
        visible: false,
        reason: ''
      },
    }
  },
  methods: {
    handleOk() {
      console.log(1)
    },
    handleApprove() {
      cancelBookingAccept({id: this.payout.id}).then(response => {
        this.approveModal.visible = false
        this.$emit('success')
      })
    },
    handleDecline() {
      this.$refs.formRef.validate().then(async success => {
        if (success) {

          cancelBookingDecline({
            id: this.payout.id,
            reason: this.declineModal.reason,
          })
            .then(response => {
              this.declineModal.visible = false
              this.declineModal.reason = ''
              this.$emit('success')
            })
        }
      })
    }
  }
}
</script>