.hide-lg {
	display: none;
}

.show-md, .show-sm, .show-xs {
	display: none !important;
}

@media only screen and (max-width: 1200px) {
	.hide-md {
		display: none !important;
	}

	.show-md {
		display: block !important;
	}
}

@media only screen and (max-width: 992px) {
	.hide-sm {
		display: none !important;
	}		

	.show-sm {
		display: block !important;
	}
}

@media only screen and (max-width: 768px) {
	.hide-xs {
		display: none !important;
	}

	.show-xs {
		display: block !important;
	}
}