<template>
  <div class="dashboard-container detail-tour-container my-tours">
    <h1>My hosted tour</h1>

    <div class="hosted-tours-wrapper" v-if="tour">
      <blocked-user-state v-if="tour.user.is_blocked" :tour="tour"/>

      <in-progress-tour-state v-else-if="isTourInProgress" :tour="tour"/>

      <verified-tour-state v-else-if="isTourVerified" :tour="tour"/>

      <unverified-tour-state v-else :tour="tour"/>
    </div>
  </div>
</template>

<script>
import BlockedUserState from './tour-states/Blocked';
import InProgressTourState from './tour-states/InProgress';
import UnverifiedTourState from './tour-states/Unverified';
import VerifiedTourState from './tour-states/Verified';

import {getMyTour} from '@core-api/tour'
import EntityStatuses from '@core/mixins/entity-statuses'

export default {
  components: {
    InProgressTourState,
    UnverifiedTourState,
    VerifiedTourState,
    BlockedUserState
  },
  provide: function () {
    return {
      routes: this.routes
    }
  },
  mixins: [EntityStatuses],
  props: ['routes'],
  data() {
    return {
      tour: null,
    }
  },
  computed: {
    isTourInProgress(){
      return this.tour && this.tour.status === this.TOUR_STATUSES.STATUS_CREATING
    },
    isTourVerified(){
      return this.tour && this.tour.verification &&
          this.tour.status === this.TOUR_STATUSES.STATUS_FINISHED &&
          this.tour.verification_status === this.TOUR_VERIFICATION_STATUSES.VERIFICATION_STATUS_ACCEPTED &&
          this.tour.verification.status === this.VERIFICATION_DATA_STATUSES.VERIFICATION_DATA_STATUS_ACCEPTED
    }
  },
  created() {
    getMyTour().then(response => {
      this.tour = response.tour
    });
  }
}
</script>