<template>
  <div class="header-content mb-24">
    <div class="img-wrapper">
      <img :src="coverPhoto" alt="">
    </div>

    <div class="text-wrapper  w100p">
      <div class="fw jc-space-between ai-start">
        <p class="small-header mb-24">{{ tour.name || 'My hosted tour (in progress)' }}</p>
        <a class="edit-link text-right" href="/my/tour/edit" v-if="isTourVerified || isTourVerificationStatusDeclined">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.435 3.30188L18.6991 0.565811C18.3343 0.201248 17.8486 0.000167847 17.3314 0C17.3311 0 17.3309 0 17.3306 0C16.8135 0 16.3281 0.200745 15.9637 0.56514L2.01392 14.5147C1.89962 14.6317 1.85262 14.7982 1.81872 14.9024L0.0257792 21.1779C-0.0385061 21.4031 0.0242686 21.6455 0.189765 21.811C0.312461 21.9337 0.477287 22 0.645805 22C0.705055 22 0.76464 21.9919 0.823051 21.9752L7.09498 20.1832C7.11361 20.1779 7.39072 20.0825 7.48623 19.987L21.4358 6.03728C21.8005 5.67271 22.0011 5.18697 22.0009 4.66949C22.0008 4.15236 21.7997 3.66661 21.435 3.30188ZM1.58491 20.416L2.78904 16.2017L5.7992 19.2119L1.58491 20.416ZM7.03019 18.6189L3.38204 14.9707L14.5949 3.75792L18.243 7.40607L7.03019 18.6189ZM20.5237 5.12537L19.1551 6.49416L15.5068 2.84584L16.8756 1.47722C16.9964 1.35637 17.1581 1.2899 17.3306 1.2899H17.3309C17.5038 1.2899 17.6658 1.3567 17.787 1.47789L20.523 4.21396C20.7745 4.46539 20.7748 4.87427 20.5237 5.12537Z" fill="#FC4A1A"/>
          </svg>
          Edit tour
        </a>
      </div>

      <div class="info-rows-wrapper mb-40">
        <div class="info-row">
          <img src="@core-img/tour-details/icons/icon-point.svg" alt="">
          <p class="small-header" v-if="tour.city_location">{{ tour.city_location }}</p>
          <p class="small-header" v-else>In progress</p>

        </div>
        <div class="info-row">
          <img src="@core-img/tour-details/icons/icon-clock.svg" alt="">
          <p class="small-header" v-if="tour.duration">{{ tour.duration}} hours</p>
          <p class="small-header" v-else>In progress</p>
        </div>
        <div class="info-row">
          <img src="@core-img/tour-details/icons/icon-add-user.svg" alt="">
          <p class="small-header" v-if="tour.group_max_size">{{ tour.group_max_size }} persons</p>
          <p class="small-header" v-else>In progress</p>
        </div>
      </div>

      <p class="price small-header" v-if="tour.price">
        <span class="price-number">${{ tour.price }}</span> per person
      </p>
    </div>
  </div>
</template>
<script>
import EntityStatuses from '@core/mixins/entity-statuses'

export default {
  mixins: [EntityStatuses],
  inject: ['routes'],
  props: ['tour'],
  computed: {
    coverPhoto() {
      return this.tour.cover_photo ? this.tour.cover_photo.medium_src : '/images/my-tours/tour.jpg'
    },

    isTourVerified(){
      return this.tour && this.tour.verification &&
        this.tour.status === this.TOUR_STATUSES.STATUS_FINISHED &&
        this.tour.verification_status === this.TOUR_VERIFICATION_STATUSES.VERIFICATION_STATUS_ACCEPTED &&
        this.tour.verification.status === this.VERIFICATION_DATA_STATUSES.VERIFICATION_DATA_STATUS_ACCEPTED
    },

    isTourVerificationStatusDeclined(){
      return this.tour.verification_status === this.TOUR_VERIFICATION_STATUSES.VERIFICATION_STATUS_DECLINED
    },
  },
}
</script>