.show-form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3003;
  &.active {
    display: flex;
  }
  .popup-form {
    position: relative;
    z-index: 1002;
    background: #fff;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 320px;
    height: auto;
    max-height: 100%;
    overflow: auto;
    .form-group {
      margin-bottom: 1.5rem;
      padding-bottom: 10px;
      position: relative;
      &.error {
        .show-message {
          display: block;
        }
      }
    }
    .show-message {
      color:  $form-feedback-invalid-color;
      position: absolute;
      bottom: -8px;
      font-size: 12px;
      right: 0px;
      display: none;
    }
    textarea {
      width: 100%;
      resize: none;
      padding: .4375rem .75rem;
      height: 120px;
      font-weight: 400;
      font-size: 0.875rem;
      &.success {
        border-color: $form-feedback-valid-color;
      }
      &.error {
        border-color: $form-feedback-invalid-color;
      }
    }
    input {
      padding: .4375rem .75rem;
      &.success {
        border-color: $form-feedback-valid-color;
      }
      &.error {
        border-color: $form-feedback-invalid-color;
      }
    }
  }
  .close {
    position: absolute;
    right: 7px;
    top: 7px;
    i {
      font-size: 20px;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 1001;
  }
}