.verification-status-form {
  width: 120px;
  margin-top: -10px;
  margin-left: 14px;
  .form-group {
    margin-bottom: 0px;
  }
}
.table-users {
  thead {
    th {
      vertical-align: top;
    }
  }
  &-name {
    display: inline-block;
    padding-left: 10px;
  }
}

.order-by-submit-date {
  position: relative;
  width: 34px;
  height: 25px;
  margin-top: -6px;
  flex-shrink: 0;
  input {
    display: none;
    &:checked {
      &+label {
        i {
          opacity: 1;
        }
      }
    }
  }
  label {
    cursor: pointer;
    margin-bottom: 0px;
    position: absolute;
    text-align: center;
    &:nth-of-type(2) {
      right: 0px;
      bottom: 0px;
    }
    &:nth-of-type(1) {
      left: 0px;
      top: 0px;
    }
    i {
      margin: 0;
      transition: 0.3s all;
      opacity: 0.3;
    }
  }
}

.user {
  &-image {
    img {
      width: 100%;
      height: auto;
      max-width: 250px;
    }
  }
  &-page {
    &-verification {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.hidden-input {
  display: none;
}

.confirm-block-status {
  padding-top: 15px;
  display: none;
  &.active {
    display: block;
  }
  textarea {
    width: 100%;
    margin: 0px 0px 10px;
    padding: 10px;
    font-size: 0.875rem;
    line-height: 1.4rem;
    &.error {
      border: 1px solid #ff4747;
    }
  }
}