<template>
  <b-row>
    <b-col cols="12">
      <b-card>
        <b-table
          :fields="fields"
          :items="items"
          :busy="loading"
          no-local-sorting
          show-empty
          responsive
          hover
          empty-text="No matching records found"
          @sort-changed="updateSort"
          @row-clicked="onRowClicked"
        >
          <template #head(status)="{item}">
            <div class="d-flex align-items-center">
              <span class="mr-3">Status</span>
              <v-select
                v-model="filters.status"
                :options="statuses"
                :reduce="i => i.id"
                style="width: 150px"
                placeholder="All"
                @input="fetchItems"
              />
            </div>
          </template>

          <template #cell(created_at)="{item}">
            {{item.created_at | moment("MMMM D, Y  HH:mm")}}
          </template>

          <template #cell(status)="{item}">
            <b-badge v-if="item.status === 2" variant="success">
              <i class="mdi mdi-cash-multiple icon-sm"/> Success
            </b-badge>
            <b-badge v-else-if="item.status === 3" variant="danger">
              <i class="mdi mdi-cash-multiple icon-sm"/> Declined
            </b-badge>
            <b-badge v-else variant="warning">
              <i class="mdi mdi-cash-multiple icon-sm"/> Pending
            </b-badge>
          </template>

          <template #cell(name)="{item}">
            <div class="text-nowrap">
              <b-badge v-if="item.user.is_blocked" variant="danger"><i class="mdi mdi-block-helper icon-sm"/></b-badge>
              <b-badge v-else variant="success"><i class="mdi mdi-account-check"/></b-badge>
              {{ item.user.first_name }} {{ item.user.last_name }}
            </div>
          </template>

          <template #cell(type)="{item}">
            {{ item.type === 2 ? 'Host withdraw' : ' User tour cancel' }}
          </template>
        </b-table>

        <div class="d-flex justify-content-center align-items-center">
          <b-pagination
            :value="pagination.page"
            :total-rows="pagination.total"
            :per-page="pagination.length"
            @change="updatePagination($event)"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
            page-class="test"
          />
        </div>
      </b-card>
    </b-col>

    <cancel-booking-modal
      :payout="cancelBookingModal.payout"
      :visible.sync="cancelBookingModal.visible"
      @success="handleBookingModalSuccess"
    />
    <host-withdrawal-modal
      :payout="hostWithdrawalModal.payout"
      :visible.sync="hostWithdrawalModal.visible"
      @success="handleHostWithdrawalSuccess"
    />

  </b-row>
</template>
<script>
import CancelBookingModal from './modals/CancelBooking'
import HostWithdrawalModal from './modals/HostWithdrawal'

import {getPayoutList} from '@admin-api/payout'

export default {
  components: {CancelBookingModal, HostWithdrawalModal},
  data() {
    return {
      loading: false,
      items: [],
      fields: [
        {key: 'id', sortable: true},
        {key: 'created_at', label: 'Submitted At', sortable: true},
        {key: 'name', label: 'User Name'},
        {key: 'status', label: 'Status'},
        {key: 'type'},
        {key: 'amount'},
      ],
      pagination: {
        page: 1,
        length: 10,
        total: 0,
        sortBy: 'desc',
        sortParam: 'id',
      },
      statuses: [
        {id: 1, text: 'Pending'},
        {id: 2, text: 'Accepted'},
        {id: 3, text: 'Declined'},
      ],
      filters: {
        status: null,
        email: '',
      },
      cancelBookingModal: {
        visible: false,
        payout: null
      },
      hostWithdrawalModal: {
        visible: false,
        payout: null
      }
    }
  },
  created() {
    this.fetchItems()
  },
  methods: {
    handleBookingModalSuccess(){
      this.cancelBookingModal = {
        visible: false,
        payout: null
      };

      this.fetchItems()
    },
    handleHostWithdrawalSuccess(){
      this.hostWithdrawalModal = {
        visible: false,
        payout: null
      };

      this.fetchItems()
    },
    onRowClicked(item){
      if(item.type === 3){
        this.cancelBookingModal.payout = item
        this.cancelBookingModal.visible = true
      }
      if(item.type === 2){
        this.hostWithdrawalModal.payout = item
        this.hostWithdrawalModal.visible = true
      }
    },
    updatePagination(page) {
      this.pagination.page = page

      this.fetchItems()
    },
    updateSort(ctx) {
      this.pagination.sortParam = ctx.sortBy
      this.pagination.sortBy = ctx.sortDesc ? 'desc' : 'asc'

      this.fetchItems()
    },
    async fetchItems() {
      this.loading = true
      try {
        const {items, total} = await getPayoutList({
          page: this.pagination.page,
          length: this.pagination.length,
          sortBy: this.pagination.sortBy,
          sortParam: this.pagination.sortParam,
          statusFilter: this.filters.status,
        })

        this.items = items
        this.pagination.total = total
        this.loading = false

      } catch (e) {
        this.loading = false
      }
    }
  }
}
</script>